<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-paint-brush w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important; width: 30vw !important">
          Inscríbete a extracurriculares
        </h5>

        <div class="text-right w-100 mt-4">
          <router-link
            :to="{ name: 'Mis extracurriculares' }"
            class="btn btn-primary btn-sm boton"
          >
            Mis Extracurriculares
          </router-link>
        </div>
      </div>

      <br />

      <div class="row">
        <div
          class="col-3 col-sm-12 col-md-3 mb-sm-4"
          v-for="item in extracurriculares"
          :key="item.id"
        >
          <div class="card shadow">
            <img
              class="card-img-top"
              :src="'/imagenes/extracurriculares/' + item.imagen"
              alt="Card image cap"
            />
            <a
              :href="item.url_informacion"
              target="_blank"
              class="badge badge-info badge-pill position-absolute"
              style="right: 10px; padding: 4px 2px; cursor: pointer"
            >
              <i class="fas fa-info"></i>
            </a>
            <small class="bg-transparent text-center">
              {{ item.inicia_l }} - {{ item.termina_l }}
            </small>
            <div class="card-body text-center">
              <h4 class="card-title mb-0 pt-2">
                <a>{{ item.actividad }}</a>
              </h4>
              <p class="card-text mb-0" v-if="item.valor == 0">Gratis</p>
              <p class="card-text mb-0" v-else>$ {{ item.valor | addmiles }}</p>
              <a
                class="btn btn-primary btn-sm boton mb-4"
                @click="PayObjetoFree(item)"
                v-if="item.valor == 0"
                >Inscribirme</a
              >
              <a
                class="btn btn-primary btn-sm boton mb-4"
                @click="CuponDescuento(item, 'Extracurriculares')"
                v-else
                >Inscribirme</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col text-center" v-if="extracurriculares.length == 0">
        <span>Sin actividades activas</span>
      </div>
    </div>
  </section>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  data() {
    return {
      extracurriculares: [],
    };
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
  },
  methods: {
    Listar: function () {
      appLoading.style.display = "block";
      var url = "/api/acudiente/extracurriculares";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.extracurriculares = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
        });
    },
    CuponDescuento(item, tramite) {
      swal({
        title: "¿Tienes un código de descuento?",
        content: {
          element: "input",
          attributes: {
            placeholder: "Ingresar código de descuento (Opcional)",
          },
        },
        button: {
          text: "Procesar pago",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo) {
          appLoading.style.display = "block";
          var url = "/api/acudiente/descuento/" + codigo + "/" + tramite;
          axios
            .post(url)
            .then((response) => {
              appLoading.style.display = "none";
              if (response.data == "Bad") {
                this.$toastr.warning("Codigo Invalido!", null, options);
              } else {
                this.PreguntaPago(item, response.data);
              }
            })
            .catch((e) => {
              appLoading.style.display = "none";
              var errors = e.response.data.errors;
              var noti = this.$toastr.error;

              $.each(errors, function (i) {
                noti(errors[i][0], "Errores", options);
              });
            });
        } else {
          this.PreguntaPago(item, null);
        }
      });
    },
    PreguntaPago(item, descuento) {
      var saldo = 0;
      var total = item.valor.replace(".", "");
      if (descuento) {
        var monto = descuento.porcentaje;
        var total = total - monto;
      }
      if (total == 0) {
        this.Pagar_saldo(item, descuento);
      } else {
        swal({
          title: "¿Usar saldo disponible o enviar a pasarela de pago?",
          buttons: {
            saldo: {
              text: "Saldo",
              value: "Saldo",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            pasarela: {
              text: "Pasarela",
              value: "Pasarela",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            defeat: {
              visible: false,
              closeModal: true,
              value: "Cerrar",
            },
          },
        }).then((value) => {
          if (value == "Saldo") {
            // Descontar saldo
            if (this.user.saldo > 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (this.user.saldo < 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (parseFloat(saldo) >= parseFloat(total)) {
              this.Pagar_saldo(item, descuento);
            } else {
              swal("Saldo insuficiente!", {
                button: false,
              });
            }
          }
          if (value == "Pasarela") {
            // Enviar a pasarela
            this.PayObjeto(item, descuento);
          }
        });
      }
    },
    PayObjeto: function (item, descuento) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }
      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      if (descuento) {
        var total = item.valor.replace(".", "");
        var monto = descuento.porcentaje;
        var precio = total - monto;

        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
          monto +
          "&cupon=" +
          descuento.codigo +
          "&valor_subtotal=" +
          item.valor +
          "&_tramite=Extracurricular&_uid=" +
          item.id +
          "&servicio_id=" +
          item.id +
          "&acudiente_id=" +
          this.user.id;
      } else {
        var precio = item.valor.replace(".", "");
        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Extracurricular&_uid=" +
          item.id +
          "&servicio_id=" +
          item.id +
          "&valor_subtotal=" +
          item.valor +
          "&acudiente_id=" +
          this.user.id;
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago de Extracurricular";
      reg.valor = precio;
      reg.urlRespuesta = url;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
      // }
    },
    PayObjetoFree: function (item) {
      window.location.href =
        "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Extracurricular&_uid=" +
        item.id +
        "&acudiente_id=" +
        this.user.id;
    },
    Pagar_saldo(item, descuento) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/saldo-pago";
      var monto = null;
      var codigo = null;
      var total = item.valor.replace(".", "");
      if (descuento) {
        monto = descuento.porcentaje;
        codigo = descuento.codigo;
        var total = total - monto;
      }
      axios
        .post(url, {
          aprobado: "A",
          valor: total,
          valor_subtotal: item.valor.replace(".", ""),
          _tramite: "Extracurricular",
          _uid: item.id,
          servicio_id: item.id,
          acudiente_id: this.user.id,
          descuento: monto,
          cupon: codigo,
        })
        .then((response) => {
          this.motivo = null;
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Listar();
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Actualizar_saldo() {
      appLoading.style.display = "block";
      this.$store.dispatch("updateSaldo").then((response) => {
        appLoading.style.display = "none";
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
  },
};
</script>

<style scoped>
.card-body {
  background: #fff;
  color: black;
}
</style>
