<template>
  <div class="container">
    <div class="col-12 text-center">
      <button
        type="button"
        class="btn btn-primary btn-sm boton boton"
        @click="MatruculaAnual"
      >
        <i class="far fa-refresh" style="font-size: 14px !important"></i>
        Restablecer matriculas nuevo año electivo
      </button>

      <button
        type="button"
        class="btn btn-primary btn-sm boton boton"
        @click="Pension5Mes"
      >
        <i class="far fa-refresh" style="font-size: 14px !important"></i>
        Activar recargo de mora del 5%
      </button>
    </div>

    <br />

    <div class="col-12 flex-center">
      <div class="card mx-1">
        <router-link :to="{ name: 'Matriculas' }">
          <div class="card-body">
            <i class="fal fa-graduation-cap" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Matriculas</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Extracurriculares' }">
          <div class="card-body">
            <i class="fal fa-paint-brush" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Extracurriculares</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Pension' }">
          <div class="card-body">
            <i class="fal fa-folder" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Pension</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Cursos' }">
          <div class="card-body">
            <span style="color: #0f62ac; font-size: 67px">Aa</span>
            <h5 class="card-title text-center">Cursos/Nivelacion</h5>
          </div>
        </router-link>
      </div>
    </div>

    <br />

    <div class="col-12 flex-center">
      <div class="card mx-1">
        <router-link :to="{ name: 'Medias tecnicas' }">
          <div class="card-body">
            <i class="fal fa-rocket" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Medias tecnicas</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Certificados' }">
          <div class="card-body">
            <i class="fal fa-file-alt" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Certificados</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Transporte' }">
          <div class="card-body">
            <i class="fal fa-car" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Transporte</h5>
          </div>
        </router-link>
      </div>

      <div class="card mx-1">
        <router-link :to="{ name: 'Cafeteria' }">
          <div class="card-body">
            <i class="fal fa-utensils" style="color: #0f62ac; font-size: 100px"></i>
            <h5 class="card-title text-center">Cafeteria</h5>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  methods: {
    MatruculaAnual() {
      swal({
        title: "Ingrese la clave de seguridad",
        className: "text-body",
        text: "Esta accion es irreversible!",
        content: {
          element: "input",
          attributes: {
            placeholder: "Clave",
          },
        },
        button: {
          text: "Continuar",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo == "Cc4t0l1c02021") {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/update/matricula";
          axios.post(url).then((response) => {
            appLoading.style.display = "none";
            this.$toastr.success("Proceso realizado con exito", null, options);
          });
        } else {
          swal("Clave incorrecta!", {
            button: false,
          });
        }
      });
    },
    Pension1Mes() {
      appLoading.style.display = "block";
      var url = "/api/admin/usuarios/update/pension1";
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.$toastr.success("Proceso realizado con exito", null, options);
      });
    },
    Pension5Mes() {
      swal({
        title: "Ingrese la clave de seguridad",
        className: "text-body",
        text: "Esta accion es irreversible!",
        content: {
          element: "input",
          attributes: {
            placeholder: "Clave",
          },
        },
        button: {
          text: "Continuar",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo == "Cc4t0l1c02021") {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/update/pension5";
          axios.post(url).then((response) => {
            appLoading.style.display = "none";
            this.$toastr.success("Proceso realizado con exito", null, options);
          });
        } else {
          swal("Clave incorrecta!", {
            button: false,
          });
        }
      });
    },
  },
};
</script>

<style scoped>
.card {
  width: 16rem !important;
  background-color: #e6e6e6 !important;
}
.card-body {
  background-color: #e6e6e6 !important;
}
.card .card-body {
  border-radius: 15px !important;
}
h5 {
  color: black !important;
  font-weight: 500 !important;
  font-family: Arial !important;
}
.fa,
.fab,
.fal,
.far,
.fas {
  font-size: 100px !important;
}
</style>
