<template>
	<nav class="navbar navbar-expand-md navbar-light navbar-laravel fixed-top">
		<div class="container-fluid pl-0">
			<router-link class="navbar-brand" :to="{ name: 'login'}">
				<img src="/img/logo.png" alt="logo" class="img-fluid" style="width: 26px; display: inline-block;">
				<strong style="font-size: 14px;font-weight: 500;color: #717171;">Colegio Católico</strong>
			</router-link>

			<div class="ubicacion pull-right" style="margin-left: 265px;margin-top: 3px;position: absolute;">
				<i class="fas fa-map-marker" style="display: inline-block;color: #828282;"></i>
				<h1 style="font-size: 13px;display: inline-block; font-weight: 400;">
					<template v-if="ubicacion == 'Matriculas' || ubicacion == 'Extracurriculares' || ubicacion == 'Pension' || ubicacion == 'Cursos' || ubicacion == 'Medias tecnicas' || ubicacion == 'Certificados' || ubicacion == 'Transporte' || ubicacion == 'Cafeteria'">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<router-link :to="{ name: 'Dashboard' }">
										Servicios
									</router-link>
								</li>
								<li class="mx-2">/</li>
								<li class="breadcrumb-item active">
									<div class="dropdown">
										<button class="btn btn-primary btn-sm dropdown-toggle m-0 p-1" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{ubicacion}}
											<template v-if="ubicacion == 'Cursos'">
												/ Nivelacion
											</template>
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenu6">
											<router-link :to="{ name: 'Matriculas' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Matriculas' }">
												Matriculas
											</router-link>
											<router-link :to="{ name: 'Extracurriculares' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Extracurriculares' }">
												Extracurriculares
											</router-link>
											<router-link :to="{ name: 'Pension' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Pension' }">
												Pension
											</router-link>
											<router-link :to="{ name: 'Cursos' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Cursos' }">
												Cursos/Nivelacion
											</router-link>
											<router-link :to="{ name: 'Medias tecnicas' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Medias tecnicas' }">
												Medias tecnicas
											</router-link>
											<router-link :to="{ name: 'Certificados' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Certificados' }">
												Certificados
											</router-link>
											<router-link :to="{ name: 'Transporte' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Transporte' }">
												Transporte
											</router-link>
											<router-link :to="{ name: 'Cafeteria' }" class="dropdown-item" :class="{ 'active': ubicacion == 'Cafeteria' }">
												Cafeteria
											</router-link>
										</div>
									</div>
								</li>
							</ol>
						</nav>
					</template>
					<template v-else>
						{{ubicacion}}
					</template>
				</h1>
			</div>

			<div class="pull-right" style="position: absolute;right: 12px;top: -13px;">
				<div class="btn-group">
					<div class="avatar dropdown-toggle mr-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<small class="lg-d" style="position: absolute;right: 84px;top: 19px;color: #141414;font-weight: bold;text-transform: capitalize;width: 131px;float: right;text-align: right;">
							{{user.name}}
						</small>
						<img class="img-responsive" src="/img/1x/avatar.png" style="height: 34px;border: 2px solid #eee;float: right;position: absolute;right: 32px;top: 11px;border-radius: 50%;">
					</div>
					
					<div class="dropdown-menu" style="margin-right: 345px;right: -316px;top: 50px;left: auto !important;">
						<div>
							<i class="fa fa-sort-up" style="font-size: 36px;position: absolute;right: 15px;top: -14px;color: white;"></i>
						</div>
						<div class="cont">
							<a class="dropdown-item" @click="logout" style="margin-top:5px;"><i class="fa fa-power-off"></i>    Cerrar sesión</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</template>
<script>
	const appLoading = document.getElementById('loading-bg')
	export default {
		computed: {
			ubicacion() {
				return this.$route.name
			},
			user() {
				return this.$store.state.ActiveUser;
			}
		},
		methods: {
			logout() {
				appLoading.style.display = "block";
				this.$store.dispatch("destroyToken").then(response => {
					appLoading.style.display = "none";
					this.$router.push({ name: "login" });
				}).catch(error => {
					appLoading.style.display = "none"; 
				});
			},
		}
	}
</script>
<style scoped>
	.navbar .breadcrumb .breadcrumb-item {
		color: #000;
	}
	.active {
		color: #fff !important;
	}
	.navbar .breadcrumb .breadcrumb-item {
		font-family: Arial;
	}
</style>