<template>
  <section>
    <div class="sider">
      <div class="sider-link">
        <ul class="menu-links mt-3">
          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Dashboard' }">
              <span> Servicios </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Informe de pagos' }">
              <span> Informe de pagos </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Pagos publicos' }">
              <span> Pagos publicos </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Historico de cartera' }">
              <span> Histórico de cartera </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Acuerdo de pagos' }">
              <span> Acuerdo de pagos </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Certificados solicitados' }">
              <span> Certificado solicitados </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Certificados publicos' }">
              <span> Certificado publicos </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Solicitudes de ingreso' }">
              <span> Solicitudes de ingreso </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Pago matriculas' }">
              <span> Pago de matriculas </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Estudiantes por nivelar' }">
              <span> Estudiante por nivelar </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Pagos en caja' }">
              <span>Pagos en efectivo</span>
            </router-link>
          </li>

          <li icon="md md-blur-on" style="border-bottom: 1px solid #dcdcdc">
            <router-link :to="{ name: 'Otros Pagos' }">
              <span>Otros pagos</span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Descuentos' }">
              <span> Gestion de descuentos </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Docentes' }">
              <span> Gestion de docentes </span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Usuarios' }">
              <span>Gestion de usuarios</span>
            </router-link>
          </li>

          <li icon="md md-blur-on" style="border-bottom: 1px solid #dcdcdc">
            <a @click="logout">
              <i class="far fa-power-off" style="color: #909090"></i>
              <span>Cerrar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
export default {
  data() {
    return {
      //
    };
  },
  watch: {
    //
  },
  computed: {
    url() {
      return this.$route.name;
    },
  },
  methods: {
    logout() {
      appLoading.style.display = "block";
      this.$store
        .dispatch("destroyToken")
        .then((response) => {
          this.$router.push({
            name: "login",
          });
          appLoading.style.display = "none";
        })
        .catch((error) => {
          appLoading.style.display = "none";
        });
    },
  },
};
</script>

<style scoped>
.router-link-active {
  background: #0f62ac;
  margin-right: 20px;
  border-radius: 0px 10px 10px 0px;
}

.router-link-active > span {
  color: white !important;
}

.router-link-active:hover {
  background: #0f62ac;
  margin-right: 5px;
  transition: 0.2s;
}

.router-link-active:hover {
  border-right: 0px !important;
}

.sider ul a {
  padding: 10px 0 10px 22px;
}

.sider ul a span {
  font-size: 14.4px;
}
</style>
