<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
export default {
  data() {
    return {
      //
    };
  },
  watch: {
    $route(val) {
      if (
        val.name != "login" &&
        val.name != "respuestaCpv" &&
        val.name != "error-404" &&
        val.name != "Gracias" &&
        val.name != "Solicitud" &&
        val.name != "error-permisos"
      ) {
        this.usuario();
      }
    },
  },
  computed: {
    state() {
      return this.$store.state;
    },
  },
  methods: {
    usuario() {
      appLoading.style.display = "block";
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.state.token;
      axios
        .get("/api/user")
        .then((response) => {
          appLoading.style.display = "none";
          localStorage.setItem("grado", response.data.grado);
          localStorage.setItem("roll", response.data.roll);
          this.$store.state.ActiveUser.id = response.data.id;
          this.$store.state.ActiveUser.name = response.data.name;
          this.$store.state.ActiveUser.codigo = response.data.codigo;
          this.$store.state.ActiveUser.email = response.data.email;
          this.$store.state.ActiveUser.roll = response.data.roll;
          this.$store.state.ActiveUser.saldo = response.data.saldo;
          this.$store.state.ActiveUser.deuda = response.data.deuda;
          this.$store.state.ActiveUser.nivelacion = response.data.nivelacion;
          this.$store.state.ActiveUser.pension = response.data.pension;
          this.$store.state.ActiveUser.grado = response.data.grado;
        })
        .catch((e) => {
          this.$router.push({
            name: "login",
          });
        });
    },
  },
};
</script>
