<template>
  <section>
    <div class="padre" v-if="!ordinaria || pension == null">
      <div class="hijo">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2" v-if="!ordinaria">
          Usted no tiene matrícula activa actualmente.</span
        >
        <span class="pl-2" v-else> Usted no tiene pension asginada actualmente.</span>
      </div>
    </div>
    <div class="container-fluid" v-else>
      <div class="col-12 d-flex">
        <div
          class="card card-image"
          style="background: url(/img/matriculas.png) round; height: 260px"
        ></div>
      </div>

      <div class="border-bottom col-12 d-flex justify-content-between mb-2 pb-2">
        <div class="p-0 m-auto">
          <span class="font-weight-normal"
            >Valor pensión anual: $ {{ calculum | addmiles }}</span
          >
        </div>

        <div class="p-0 m-auto">
          <span class="font-weight-normal">Elige a cuantos meses pagar la pensión </span>
        </div>

        <div class="p-0 m-auto">
          <select
            class="browser-default custom-select"
            style="font-size: 13px; width: 5vw"
            v-model="updatepension"
            v-if="matricula_activa == null"
          >
            <option selected disabled>Seleccione</option>
            <option value="10">10</option>
            <option value="12">12</option>
          </select>
          <span v-else>{{ updatepension }}</span>
        </div>

        <div class="p-0 m-auto">
          <span class="font-weight-normal"
            >Valor mensual: ${{ confpension | addmiles }}</span
          >
        </div>

        <div class="p-0 m-auto">
          <button
            class="btn btn-primary boton"
            @click="UpdatePension(updatepension)"
            v-if="matricula_activa == null"
          >
            Configurar pago pensión
          </button>
        </div>
      </div>

      <!-- Ordinaria -->
      <div class="col-12 d-flex py-4 border-bottom">
        <div class="col-3 px-0 d-flex">
          <span class="font-weight-normal m-auto" style="font-size: 30px">Matrícula</span>
          <span
            class="font-weight-normal m-auto pl-2"
            style="border-right: 2px solid #000000 !important; font-size: 40px"
          >
            {{ ordinaria.inicia_at_or | año_format }}
            {{ ordinaria.inicia_at_or | año_1_format }}
          </span>
        </div>

        <div class="col-5 px-0 text-center d-flex m-auto">
          <span class="red-text font-weight-bold"> IMPORTANTE </span>
          <br />
          <small class="font-weight-bold pl-1" style="font-size: 9px">
            ¡Para renovar la matrícula debe estar a paz y salvo con el Colegio.
            <br />
            Si tiene deuda favor cancelarla, de lo contrario solicitar acuerdo de pago.
            <br />
            <strong>Nota: </strong>
            Los acuerdo de pago están sujetos a verificación y aprobación por el Consejo
            Directivo.
          </small>
        </div>

        <div class="px-0 text-center m-auto font-weight-bold">
          <span v-if="matricula.modo == 'Ordinaria'">
            $ {{ matricula.valor | addmiles }}
          </span>
          <span v-if="matricula.modo == 'Extraordinaria'">
            $ {{ matricula.valor | addmiles }}
          </span>
        </div>

        <div class="col-2 px-0 text-center m-auto">
          <button
            class="btn btn-primary boton btn-sm"
            :disabled="status_matricula"
            @click="CuponDescuento(matricula)"
            v-if="matricula_activa == null"
          >
            Pagar matrícula
          </button>
          <button
            class="btn btn-success boton btn-sm"
            style="background-color: #079a42"
            v-else
          >
            Pagada
          </button>
        </div>
      </div>

      <!-- Deudas -->
      <template v-if="status_matricula && matricula_activa == null">
        <br />
        <div class="col-12">
          <table class="table">
            <thead class="grey lighten-2">
              <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in deudas" :key="index">
                <td>{{ item.servicio }}</td>
                <td>{{ item.descripcion || "N/A" }}</td>
                <td>{{ item.created_at | formater_fecha }}</td>
                <td>$ {{ item.valor | addmiles }}</td>
                <td>
                  <router-link
                    :to="{ name: 'Pagos pendientes' }"
                    tag="button"
                    class="btn btn-outline-blue-grey btn-sm boton"
                  >
                    Pagar
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-12 py-4 mb-4 bg-light">
          <div class="col-12 px-0">
            <span class="font-weight-normal">
              Si tienes inconvenientes para pagar tu deuda, puedes solicitar un acuerdo de
              pago.
            </span>
          </div>

          <div class="col-12 px-0 d-flex justify-content-around pt-4">
            <span class="font-weight-normal">
              Deuda total
              <br />
              <span>$ {{ acuerdo.deuda_total | addmiles }}</span>
            </span>

            <span class="font-weight-normal">
              Cantidad de cuotas
              <br />
              <select
                class="browser-default custom-select"
                style="font-size: 13px; width: 10vw"
                v-model="acuerdo.cantidad_cuotas"
              >
                <option selected disabled>Seleccione</option>
                <option value="2">2 Meses</option>
                <option value="3">3 Meses</option>
              </select>
            </span>

            <span class="font-weight-normal">
              Fecha de pago
              <br />
              <select
                class="browser-default custom-select"
                style="font-size: 13px; width: 10vw"
                v-model="acuerdo.fecha_at_all"
              >
                <option selected disabled>Seleccione</option>
                <option v-for="(item, index) in 28" :key="index" :value="item">
                  {{ item }} de cada mes
                </option>
              </select>
            </span>

            <span class="font-weight-normal">
              Valor por cuota
              <br />
              $ {{ valor_cuota | addmiles }}
            </span>
            <button
              class="btn btn-outline-dark btn-sm boton h-100"
              @click="new_acuerdo(acuerdo)"
              :disabled="!status_matricula"
              v-if="acuerdo_activo == ''"
            >
              Solicitar acuerdo de pago
            </button>
            <button
              class="btn btn-outline-success btn-sm boton h-100"
              disabled
              v-else-if="acuerdo_activo.status == 'Autenticado'"
            >
              Autenticado
            </button>
            <button
              class="btn btn-outline-success btn-sm boton h-100"
              disabled
              v-else-if="acuerdo_activo.status == 'Aprobado'"
            >
              Aprobado
            </button>
            <button
              class="btn btn-outline-danger btn-sm boton h-100"
              disabled
              v-else-if="acuerdo_activo.status == 'Rechazado'"
            >
              Rechazado
            </button>
            <button class="btn btn-outline-primary btn-sm boton h-100" disabled v-else>
              Revisión
            </button>
          </div>
        </div>
      </template>

      <!-- Matricula activa -->
      <template v-if="matricula_activa">
        <br />
        <div class="col-12 py-4 mb-4 bg-light">
          <div class="col-12 px-0">
            <span class="font-weight-normal">
              Tu pago de matrícula ha sido procesado exitosamente.
              <br />
              En un plazo de 48 horas podrá descargar los documentos que debe presentar en
              el colegio para terminar el proceso de matrícula.
              <br />
              <strong class="red-text">¡Importante!</strong> Recuerda que el pagaré debe
              estar firmado y autenticado en notaria.
            </span>
          </div>

          <a
            href="https://colegiocatolicocali.edu.co/documentos-matricula"
            target="_blank"
            class="col-12 d-flex justify-content-around pt-4 px-0"
          >
            <div class="border-dark card card-image" style="height: 200px; width: 160px">
              <div class="pr-2 text-right"></div>
              <div class="m-auto">
                <h1 class="h1 text-body" style="font-size: 3vw">PDF</h1>
              </div>
              <span class="h6 text-center">Pagare</span>
            </div>

            <div class="border-dark card card-image" style="height: 200px; width: 160px">
              <div class="pr-2 text-right"></div>
              <div class="m-auto">
                <h1 class="h1 text-body" style="font-size: 3vw">PDF</h1>
              </div>
              <span class="h6 text-center">Contrato</span>
            </div>

            <div class="border-dark card card-image" style="height: 200px; width: 160px">
              <div class="pr-2 text-right"></div>
              <div class="m-auto">
                <h1 class="h1 text-body" style="font-size: 3vw">PDF</h1>
              </div>
              <span class="h6 text-center">Acto de corresponsabilidad</span>
            </div>

            <div class="border-dark card card-image" style="height: 200px; width: 160px">
              <div class="pr-2 text-right"></div>
              <div class="m-auto">
                <h1 class="h1 text-body" style="font-size: 3vw">PDF</h1>
              </div>
              <span class="h6 text-center">Paz y saldo u orden de ingreso</span>
            </div>
          </a>
        </div>
      </template>
    </div>
  </section>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};
export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      historial: 0,
      matricula_activa: null,
      ordinaria: {},
      extraordinaria: {},
      updatepension: null,
      pension: {},
      deudas: [],
      acuerdo_activo: {},
      acuerdo: {
        cantidad_cuotas: 3,
        deuda_cuotas: null,
        deuda_total: 0,
        fecha_at: 15,
        fecha_at_all: null,
      },
    };
  },
  methods: {
    Listar() {
      appLoading.style.display = "block";
      var url = "/api/acudiente/matricula/tarifa";
      axios.post(url).then((response) => {
        this.updatepension = response.data.pensionmeses;
        this.ordinaria = response.data.ordinaria;
        this.extraordinaria = response.data.extraordinaria;
        this.historial = response.data.historial;
        this.deudas = response.data.deudas;
        this.matricula_activa = response.data.matricula;
        this.pension = response.data.pension;

        var url = "/api/acudiente/acuerdo/detalles";
        axios.post(url).then((response) => {
          this.acuerdo_activo = response.data;
          appLoading.style.display = "none";
        });
      });
    },
    new_acuerdo(item) {
      item.fecha_at = this.cuotas_fecha;
      appLoading.style.display = "block";
      var url = "/api/acudiente/acuerdo";
      axios
        .post(url, item)
        .then((response) => {
          this.$toastr.success("Acuerdo de pago enviado", null, options);
          this.Listar();
          appLoading.style.display = "none";
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    UpdatePension(item) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/matricula/pension";
      axios
        .post(url, { pension: item })
        .then((res) => {
          this.Listar();
          this.$toastr.success("Pensión configurada", null, options);
          appLoading.style.display = "none";
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    CuponDescuento(item) {
      swal({
        title: "¿Tienes un código de descuento?",
        content: {
          element: "input",
          attributes: {
            placeholder: "Ingresar código de descuento (Opcional)",
          },
        },
        button: {
          text: "Procesar pago",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo) {
          appLoading.style.display = "block";
          var url = "/api/acudiente/descuento/" + codigo + "/" + "Matriculas";
          axios
            .post(url)
            .then((response) => {
              appLoading.style.display = "none";
              if (response.data == "Bad") {
                this.$toastr.warning("Codigo Invalido!", null, options);
              } else {
                this.PreguntaPago(item, response.data);
              }
            })
            .catch((e) => {
              appLoading.style.display = "none";
              var errors = e.response.data.errors;
              var noti = this.$toastr.error;

              $.each(errors, function (i) {
                noti(errors[i][0], "Errores", options);
              });
            });
        } else {
          this.PreguntaPago(item, null);
        }
      });
    },
    PreguntaPago(item, descuento) {
      var saldo = 0;
      var total = item.valor.replace(".", "");
      var btn = true;
      if (descuento) {
        btn = false;
        var monto = descuento.porcentaje;
        var total = total - monto;
      }
      if (total == 0) {
        this.Pagar_saldo(item, descuento);
      } else {
        swal({
          title: "¿Usar saldo disponible o enviar a pasarela de pago?",
          buttons: {
            saldo: {
              text: "Saldo",
              value: "Saldo",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            pasarela: {
              text: "Pasarela",
              value: "Pasarela",
              visible: btn,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            defeat: {
              visible: false,
              closeModal: true,
              value: "Cerrar",
            },
          },
        }).then((value) => {
          if (value == "Saldo") {
            // Descontar saldo
            if (this.user.saldo > 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (this.user.saldo < 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (parseFloat(saldo) >= parseFloat(total)) {
              this.Pagar_saldo(item, descuento);
            } else {
              swal("Saldo insuficiente!", {
                button: false,
              });
            }
          }
          if (value == "Pasarela") {
            // Enviar a pasarela
            this.PayObjeto(item, descuento);
          }
        });
      }
    },
    PayObjeto: function (item, descuento) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }
      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      if (descuento) {
        var total = item.valor.replace(".", "");
        var monto = descuento.porcentaje;
        var precio = total - monto;
        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
          monto +
          "&cupon=" +
          descuento.codigo +
          "&valor_subtotal=" +
          item.valor.replace(".", "") +
          "&_tramite=Matricula&_uid=" +
          item.id +
          "&servicio_id=" +
          item.id +
          "&acudiente_id=" +
          this.user.id;
      } else {
        var precio = item.valor.replace(".", "");
        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Matricula&_uid=" +
          item.id +
          "&valor_subtotal=" +
          item.valor.replace(".", "") +
          "&servicio_id=" +
          item.id +
          "&acudiente_id=" +
          this.user.id;
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago de Matricula";
      reg.valor = precio;
      reg.urlRespuesta = url;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
    },
    Pagar_saldo(item, descuento) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/saldo-pago";
      var monto = null;
      var codigo = null;
      var total = item.valor.replace(".", "");
      if (descuento) {
        codigo = descuento.codigo;
        monto = descuento.porcentaje;
        total = total - monto;
      }
      axios
        .post(url, {
          aprobado: "A",
          valor: total,
          valor_subtotal: item.valor.replace(".", ""),
          _tramite: "Matricula",
          _uid: item.id,
          servicio_id: item.id,
          acudiente_id: this.user.id,
          certificado_motivo: this.motivo,
          descuento: monto,
          cupon: codigo,
        })
        .then((response) => {
          this.motivo = null;
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Listar();
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Actualizar_saldo() {
      appLoading.style.display = "block";
      this.$store.dispatch("updateSaldo").then((response) => {
        appLoading.style.display = "none";
      });
    },
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
    matricula() {
      var hoy = new Date();
      var ordinaria = false;
      var extraordinaria = false;
      var ordinaria_inicio = new Date(this.ordinaria.inicia_at_or);
      var ordinaria_final = new Date(this.ordinaria.termina_at_or);

      if (Date.parse(ordinaria_final) > Date.parse(hoy)) {
        // Ordinaria_final es mayor que hoy
        if (Date.parse(ordinaria_inicio) < Date.parse(hoy)) {
          // Ordinaria_inicio es menor que hoy
          ordinaria = true;
        }
      }
      var tarifa = new Object();
      if (ordinaria) {
        tarifa.id = this.ordinaria.id;
        tarifa.modo = "Ordinaria";
        tarifa.valor = this.ordinaria.valor_or;
        return tarifa;
      } else {
        extraordinaria = true;
      }
      if (extraordinaria) {
        tarifa.id = this.extraordinaria.id;
        tarifa.modo = "Extraordinaria";
        tarifa.valor = this.extraordinaria.valor_ex;
        return tarifa;
      }
    },
    status_matricula() {
      if (this.deudas.length == 0) {
        return false;
      } else {
        if (this.acuerdo_activo == "") {
          return true;
        } else {
          if (this.acuerdo_activo.status == "Autenticado") {
            if (this.user.deuda == this.acuerdo_activo.deuda_total) {
              return false;
            } else {
              return true;
            }
          } else {
            return true;
          }
        }
      }
    },
    calculum() {
      if (this.pension) {
        var total = this.pension.valor * 10;
        var dosporciento = 0;
        if (this.updatepension == 12) {
          dosporciento = (2 / 100) * total;
        }
        var total_descontado = total + dosporciento;

        return parseInt(total_descontado);
      } else {
        return 0;
      }
    },
    confpension() {
      let valorMensual = parseFloat(this.calculum) / this.updatepension;
      return parseInt(valorMensual);
    },
    valor_cuota() {
      var saldo = 0;
      this.deudas.forEach(function (deuda) {
        saldo = parseInt(saldo) + parseInt(deuda.valor);
      });
      var cuotas = this.acuerdo.cantidad_cuotas;
      var total = parseInt(saldo);
      var resultado = parseInt(total / cuotas);
      this.acuerdo.deuda_cuotas = parseInt(resultado);
      this.acuerdo.deuda_total = parseInt(total);

      return resultado;
    },
    cuotas_fecha() {
      var today = new Date();
      var dd = String(today.getDate()).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = today.getFullYear();

      today = this.acuerdo.fecha_at_all + "-" + mm + "-" + yyyy;

      return today;
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    dia_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd;

        return today;
      }
    },
    mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
    año_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy;

        return today;
      }
    },
    dia_mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = dd + " de " + convertir(mm);

        return today;
      }
    },
    año_1_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + 1;

        return today;
      }
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style scoped>
.padre {
  height: 88vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: 430px;
}
</style>
