<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 border-bottom">
        <i
          class="fal fa-folder w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Pension</h5>
      </div>

      <fulltable
        Plist="/api/admin/pension"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Agregar pension
          </button>
        </template>

        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.desde }}</td>
            <td>$ {{ item.valor | addmiles }}</td>
            <td>{{ item.porcentaje }}%</td>
            <td class="text-center py-2">
              <button
                class="btn btn-sm btn-warning"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="(section.editar_data = item), (section.editar = true)"
              >
                <i class="fas fa-pencil" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Delete(item.id)"
              >
                <i class="fas fa-times" style="font-size: 14px; color: #fff"></i>
              </button>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>

    <div class="container-fluid pb-5">
      <div class="d-flex justify-content-between w-100">
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Estudiante con beneficio
        </h5>
        <router-link
          :to="{ name: 'Descuentos' }"
          class="ml-2 mt-5 btn btn-primary btn-sm boton boton"
        >
          Gestionar descuentos
        </router-link>
      </div>
      <table class="table">
        <thead class="grey lighten-2">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Código estudiantil</th>
            <th scope="col">Grado</th>
            <th scope="col">Código de descuento</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in descuentos" :key="item.id">
            <td>{{ item.name_estudiante }}</td>
            <td>{{ item.codigo_estudiante }}</td>
            <td>{{ item.grado }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.porcentaje }}%</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-grey"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Status_descuento(item.id, 'no')"
                v-if="item.status == 'si'"
              >
                <i class="fas fa-ban" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-grey"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Status_descuento(item.id, 'si')"
                v-else
              >
                <i class="fas fa-check" style="font-size: 14px; color: #fff"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
    <Editar
      :status="section.editar"
      :item="section.editar_data"
      @listar="Listar(), (section.editar = false)"
      @close="section.editar = false"
    />
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";
import Editar from "./recursos/Editar.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable, Crear, Editar },
  data() {
    return {
      descuentos: [],
      section: { crear: false, editar: false, editar_data: {} },
      columns: [
        { label: "Grado" },
        { label: "Valor" },
        { label: "Porcentaje de descuento" },
        { label: "Acciones" },
      ],
    };
  },
  methods: {
    Listar() {
      appLoading.style.display = "block";
      this.$refs.fullTable.getProjects();
      var url = "/api/admin/descuentos/estudiantes";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.descuentos = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Delete(id) {
      swal({
        title:
          "Estas seguro desea eliminar estos datos, despues de eliminados no los puedes recuperar?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, eliminar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/pension/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    Status_descuento(id, status) {
      var mensaje = "";
      if (status == "si") {
        mensaje = "Estas seguro de activar el descuento?";
      } else {
        mensaje = "Estas seguro de desactivar el descuento?";
      }
      swal({
        title: mensaje,
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/descuentos/update/" + id;
          axios
            .post(url, {
              status: status,
            })
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
  },
};
</script>
