<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Detalle de cartera</h5>
      </div>

      <div class="py-3 d-flex" style="background: #e9ecef">
        <div class="col px-0 text-center py-2">
          <span>{{ acuerdo.acudiente_name }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <span>Codígo {{ acuerdo.acudiente_codigo }}</span>
        </div>
        <div
          class="col px-0 text-center py-2"
          v-if="acuerdo.status == 'Aprobado' || acuerdo.status == 'Autenticado'"
        >
          <div class="dropdown" v-if="acuerdo.pdf == null">
            <button
              class="btn btn-primary btn-sm boton dropdown-toggle"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Subir pdf
            </button>

            <div class="dropdown-menu">
              <div class="py-3">
                <div class="input-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01"
                      accept=".pdf"
                      @change="onFileSelected"
                    />
                    <label class="custom-file-label" for="inputGroupFile01"
                      >Acuerdo de pago</label
                    >
                  </div>
                </div>
                <button
                  class="boton btn btn-primary btn-sm float-right"
                  @click="subirPdf(file_pdf)"
                >
                  Subir
                </button>
              </div>
            </div>
          </div>

          <a
            type="button"
            class="btn btn-primary btn-sm boton"
            target="_blank"
            :href="'/acuerdos/' + acuerdo.pdf"
            v-else
          >
            Ver Pdf
          </a>
        </div>
        <div class="col px-0 text-center py-2">
          <template v-if="!btn_status">
            <button
              type="button"
              class="btn btn-primary btn-sm boton"
              @click="Aprobar_acuerdo(acuerdo.id)"
              :disabled="btn_status"
            >
              Aprobar
            </button>

            <button
              type="button"
              class="btn btn-warning btn-sm boton"
              @click="Rechazar_acuerdo(acuerdo.id)"
              :disabled="btn_status"
            >
              Rechazar
            </button>
          </template>
          <template v-else>
            <button
              type="button"
              class="btn btn-primary btn-sm boton"
              @click="Autenticar_acuerdo(acuerdo.id)"
              :disabled="!btn_status_pdf"
              v-if="acuerdo.status == 'Aprobado'"
            >
              Autenticar
            </button>

            <button
              type="button"
              class="btn btn-warning btn-sm boton"
              @click="Finalizar_acuerdo(acuerdo.id)"
              :disabled="!btn_status"
              v-if="acuerdo.status != 'Autenticado'"
            >
              Finalizar
            </button>
          </template>
        </div>
        <button
          type="button"
          class="btn btn-danger btn-submit-dwqa boton"
          @click="Borrar_acuerdo(acuerdo.id)"
        >
          Borrar
        </button>
      </div>

      <br />

      <div class="py-3 d-flex" style="background: #e9ecef">
        <div class="col px-0 text-center py-2">
          <label>Deuda total de cartera</label>
          <br />
          <span>$ {{ acuerdo.deuda_total | addmiles }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <label>Cuotas</label>
          <br />
          <span>{{ acuerdo.cantidad_cuotas }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <label>Dia de pago</label>
          <br />
          <span>{{ acuerdo.fecha_at | dia_format }} de cada mes</span>
        </div>
        <div class="col px-0 text-center py-2">
          <label>Valor de cada cuota</label>
          <br />
          <span>$ {{ acuerdo.deuda_cuotas | addmiles }}</span>
        </div>
      </div>

      <fulltable
        :Plist="null"
        :Pcolumns="columns"
        :Pcheck="itemChecks"
        :checkall="false"
        :filtro="false"
        :buscador="false"
        @clearchecks="itemChecks = []"
        ref="fullTable"
      >
        <template slot="tbody-full">
          <tr v-for="item in acuerdo.cuotas" :key="item.id">
            <td>{{ item.mes | mm_format }}</td>
            <td>{{ item.mes | formater_fecha }}</td>
            <td>{{ item.valor | addmiles }}</td>
            <td>{{ item.estatus }}</td>
          </tr>
        </template>
      </fulltable>

      <br />

      <div v-if="acuerdo.status == 'Autenticado'">
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Deudas del acuerdo:</h5>
        <table class="table">
          <thead class="grey lighten-2">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in acuerdo.deudas" :key="item.id">
              <td>{{ item.servicio }}</td>
              <td>{{ item.descripcion || "N/A" }}</td>
              <td>{{ item.created_at | formater_fecha }}</td>
              <td>$ {{ item.valor | addmiles }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: ["acuerdoId"],
  mounted() {
    this.List();
  },
  components: { Fulltable },
  data() {
    return {
      acuerdo: {},
      file_pdf: null,
      itemChecks: [],
      columns: [
        { label: "Mes" },
        { label: "Fecha de pago" },
        { label: "Valor" },
        { label: "Estado" },
      ],
    };
  },
  methods: {
    List() {
      appLoading.style.display = "block";
      var url = "/api/admin/acuerdo_pagos/" + this.acuerdoId;
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.acuerdo = response.data;
      });
    },
    Aprobar_acuerdo(id) {
      swal({
        title: "Estas seguro de aprobar el acuerdo actual?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, aprobar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/acuerdo_pagos/aprobar/" + id;
          axios.put(url).then((response) => {
            this.List();
          });
        }
      });
    },
    Autenticar_acuerdo(id) {
      swal({
        title: "Estas seguro de autenticar el acuerdo actual?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, autenticar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/acuerdo_pagos/autenticar/" + id;
          axios.put(url).then((response) => {
            this.List();
          });
        }
      });
    },
    Rechazar_acuerdo(id) {
      swal({
        title: "Estas seguro de rechazar el acuerdo actual?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, rechazar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/acuerdo_pagos/rechazar/" + id;
          axios.put(url).then((response) => {
            this.List();
          });
        }
      });
    },
    Finalizar_acuerdo(id) {
      swal({
        title: "Estas seguro de finalizar el acuerdo actual?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, finalizar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/acuerdo_pagos/finalizar/" + id;
          axios.put(url).then((response) => {
            this.$router.push("/admin/acuerdo_pagos");
          });
        }
      });
    },
    Borrar_acuerdo(id) {
      swal({
        title: "Estas seguro de borrar el acuerdo actual?",
        text: "Si es el caso recordar pasar los pagos a pendientes antes de continua ",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, borrar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/acuerdo_pagos/finalizar/" + id;
          axios.put(url).then((response) => {
            this.$router.push("/admin/acuerdo_pagos");
          });
        }
      });
    },
    onFileSelected(event) {
      this.file_pdf = event.target.files[0];
    },
    subirPdf(file_pdf) {
      appLoading.style.display = "block";
      var url = "/api/admin/acuerdo_pagos/pdf/" + this.acuerdoId;
      var datos = new FormData();
      datos.append("pdf", file_pdf);
      axios.post(url, datos).then((response) => {
        this.List();
      });
    },
  },
  computed: {
    btn_status() {
      if (this.acuerdo.status == "Pendiente") {
        return false;
      }
      return true;
    },
    btn_status_pdf() {
      if (this.acuerdo.pdf == null) {
        return false;
      }
      return true;
    },
    btn_pdf() {
      if (this.acuerdo.status == "Aprobado") {
        return false;
      }
      return true;
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    dia_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = moment(fecha).format("DD");

        return today;
      }
    },
    mm_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];

        function convertir(mes) {
          var numeroMes = parseInt(mes);
          if (!isNaN(numeroMes) && numeroMes >= 1 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style>
#tablemensaje {
  display: none !important;
}
</style>
