<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Solicitudes de acuerdos de pagos
        </h5>
      </div>

      <fulltable
        Plist="/api/admin/acuerdo_pagos"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <a
            target="_blank"
            :href="'/api/acuerdo_pagos/excel'"
            type="button"
            class="btn btn-primary btn-sm boton"
          >
            <i class="far fa-plus"></i>
            Exportal excel de datos
          </a>
        </template>

        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.acudiente_name }}</td>
            <td>{{ item.acudiente_codigo }}</td>
            <td>$ {{ item.deuda_total | addmiles }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td>{{ item.pagadas }} / {{ item.total }}</td>
            <td>
              <router-link
                tag="button"
                class="btn btn-primary btn-sm boton"
                :to="'/admin/acuerdo_pagos/detalles-' + item.id"
                v-if="item.status == 'Pendiente'"
              >
                Revisar solicitud
              </router-link>

              <template v-else>
                <button
                  type="button"
                  disabled
                  class="btn btn-sm boton"
                  :class="item.status | btn_class"
                >
                  <span v-if="item.finalizado == 'Cumplido'">{{ item.finalizado }}</span>
                  <span v-else>{{ item.status }}</span>
                </button>
                <router-link
                  tag="button"
                  class="btn btn-primary btn-sm boton"
                  :to="'/admin/acuerdo_pagos/detalles-' + item.id"
                >
                  <i class="far fa-eye"></i>
                  Ver
                </router-link>
              </template>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      columns: [
        { label: "Nombre estudiante" },
        { label: "Codigo" },
        { label: "Valor total deuda" },
        { label: "Fecha solicitud" },
        { label: "Cuotas" },
        { label: "" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
  },
  filters: {
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    btn_class(value) {
      if (value == "Rechazado") {
        return "btn-danger";
      }
      if (value == "Aprobado") {
        return "btn-warning";
      }
      if (value == "Autenticado") {
        return "btn-success";
      }
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
</style>
