<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Descuentos</h5>
      </div>

      <fulltable
        Plist="/api/admin/descuentos"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <a
            target="_blank"
            :href="'/api/descuentos/excel'"
            type="button"
            class="btn btn-primary btn-sm boton"
          >
            <i class="far fa-plus"></i>
            Exportal excel de datos
          </a>
          <button
            type="button"
            class="btn btn-primary btn-sm boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Agregar descuento
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.servicio }}</td>
            <td>{{ item.porcentaje }}</td>
            <td>{{ item.inicia_l }}</td>
            <td>{{ item.termina_l }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.uso }}</td>
            <td class="text-center w-25">
              <button
                class="btn btn-sm btn-warning"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="(section.editar_data = item), (section.editar = true)"
              >
                <i class="fas fa-pencil" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-grey"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Status_descuento(item.id, 'no')"
                v-if="item.status == 'si'"
              >
                <i class="fas fa-ban" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-grey"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Status_descuento(item.id, 'si')"
                v-else
              >
                <i class="fas fa-check" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Delete(item.id)"
              >
                <i class="fas fa-times" style="font-size: 14px; color: #fff"></i>
              </button>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
    <Editar
      :status="section.editar"
      :item="section.editar_data"
      @listar="Listar(), (section.editar = false)"
      @close="section.editar = false"
    />
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";
import Editar from "./recursos/Editar.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable, Crear, Editar },
  data() {
    return {
      section: { crear: false, editar: false, editar_data: {} },
      columns: [
        { label: "Servicio" },
        { label: "Porcentaje" },
        { label: "Fecha inicio" },
        { label: "Fecha termina" },
        { label: "Codigo de descuento" },
        { label: "Uso" },
        { label: "Acciones" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    Delete(id) {
      swal({
        title:
          "Estas seguro desea eliminar estos datos, despues de eliminados no los puedes recuperar?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, eliminar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/descuentos/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    Status_descuento(id, status) {
      var mensaje = "";
      if (status == "si") {
        mensaje = "Estas seguro de activar el descuento?";
      } else {
        mensaje = "Estas seguro de desactivar el descuento?";
      }
      swal({
        title: mensaje,
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/descuentos/update/" + id;
          axios
            .post(url, {
              status: status,
            })
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
};
</script>
