<template>
  <div>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-credit-card-front w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Pagos</h5>
      </div>
      <br />

      <fulltable
        Plist="/api/acudiente/facturas"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.transaccionId || "N/A" }}</td>
            <td>
              <span v-if="item._tramite == 'Matricula'">Matrícula</span>
              <span v-else-if="item._tramite == 'Pension'">
                Pensión {{ item.created_at | mes_format }}
              </span>
              <span v-else-if="item._tramite == 'Nivelacion'">Nivelación</span>
              <span v-else>{{ item._tramite }}</span>
            </td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td>$ {{ item.valor | addmiles }}</td>
            <td class="text-center">
              <a
                v-if="item._tramite == 'Pension Multiple'"
                :href="item.factura_pdf"
                target="_blank"
              >
                Ver
                <i
                  class="hoverpr fas fa-file-pdf fa-2x"
                  style="font-size: 26px; color: #0f62ac"
                ></i>
              </a>
              <a
                v-else
                target="_blank"
                :href="'/api/documento/view/' + item.id + '-pdf'"
                class="hoverpr"
                style="
                  color: black;
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
              >
                Ver
                <i
                  class="hoverpr fas fa-file-pdf fa-2x"
                  style="font-size: 26px; color: #0f62ac"
                ></i>
              </a>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </div>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      columns: [
        {
          label: "Ref. de pago",
        },
        {
          label: "Tipo de servicios",
        },
        {
          label: "Fecha",
        },
        {
          label: "Valor",
        },
        {
          label: "Descargar",
        },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
    mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
  },
};
</script>

<style scoped>
.hoverpr:hover {
  color: #ff3547 !important;
}
</style>
