<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Solicitudes de ingreso
        </h5>

        <div class="col text-right mt-4">
          <div class="dropdown">
            <a
              class="boton btn btn-primary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              $ {{ precio | addmiles }}
            </a>

            <div class="dropdown-menu">
              <div class="px-4 py-3">
                <div class="form-group">
                  <label>Ajustar precio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon">$</span>
                    </div>
                    <input type="text" class="form-control" v-model="precio_edit" />
                  </div>
                </div>

                <button class="boton btn btn-primary" @click="UpdatePrecio(precio_edit)">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 text-right mb-2 pb-2 border-bottom"></div>

      <fulltable
        Plist="/api/admin/solicitud_ingreso"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Nuevo ingreso
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.step1_nombre_completo }}</td>
            <td>{{ item.step1_grado }}</td>
            <td>{{ item.codigo_estudiante }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td class="d-flex justify-content-around py-2">
              <div class="dropdown p-0 m-0">
                <a
                  class="boton btn btn-sm dropdown-toggle mt-2"
                  :class="item.status | btn_class"
                  href="#"
                  role="button"
                  :id="'dropdownMenuLink-' + item.id"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ item.status }}
                </a>

                <div
                  class="dropdown-menu"
                  id="estados"
                  @click="Stop_hide"
                  v-if="item.status != 'No Admitido' && item.status != 'Matriculado'"
                >
                  <div class="px-4 py-3">
                    <div class="form-group">
                      <label>Estados</label>
                      <select
                        class="browser-default custom-select"
                        style="font-size: 13px"
                        v-model="status"
                      >
                        <option selected disabled>Seleccione</option>
                        <option v-if="item.status == 'Pendiente'" value="Citado">
                          Citado
                        </option>
                        <option v-if="item.status == 'Citado'" value="Admitido">
                          Admitido
                        </option>
                        <option v-if="item.status == 'Citado'" value="No Admitido">
                          No Admitido
                        </option>
                        <option v-if="item.status == 'Admitido'" value="Matriculado">
                          Matriculado
                        </option>
                      </select>
                    </div>

                    <button
                      class="boton btn btn-primary"
                      @click="UpdateState(item.id, status, null, null)"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>

              <div class="dropdown p-0 m-0" v-if="item.status == 'Admitido'">
                <a
                  class="boton btn btn-outline-primary btn-sm dropdown-toggle"
                  href="#"
                  role="button"
                  :id="'dropdownMenuNivel-' + item.id"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Nivelar
                </a>

                <div class="dropdown-menu" @click="Stop_hide" style="left: -115px">
                  <div class="px-4 py-3">
                    <div class="form-group">
                      <label>Nivelar</label>
                      <select
                        class="browser-default custom-select"
                        style="font-size: 13px"
                        v-model="item.nivelacion"
                      >
                        <option selected disabled>Seleccione</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                      </select>
                    </div>

                    <div class="form-group" v-if="item.nivelacion == 'Si'">
                      <label>Donde</label>
                      <select
                        class="browser-default custom-select"
                        style="font-size: 13px"
                        v-model="item.compromiso"
                      >
                        <option selected disabled>Seleccione</option>
                        <option value="En el colegio">En el colegio</option>
                        <option value="Institución externa">Institución externa</option>
                      </select>
                    </div>

                    <button
                      class="boton btn btn-primary"
                      @click="
                        UpdateState(item.id, null, item.nivelacion, item.compromiso)
                      "
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>

              <button
                class="boton btn btn-primary btn-sm p-0 m-0"
                @click="(section.ver_datos = item), (section.ver = true)"
              >
                Ver
              </button>

              <button
                v-if="item.status == 'Matriculado'"
                class="boton btn btn-primary btn-sm p-0 m-0"
                @click="CrearEstudiante(item)"
              >
                Enviar
              </button>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
    <Ver
      :status="section.ver"
      :item="section.ver_datos"
      @listar="Listar(), ((section.ver = false), (section.ver_datos = {}))"
      @close="(section.ver = false), (section.ver_datos = {})"
    />
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";
import Ver from "./recursos/Ver.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable, Crear, Ver },
  data() {
    return {
      periodo: null,
      section: {
        crear: false,
        ver: false,
        ver_datos: {},
      },
      precio: 0,
      precio_edit: 0,
      status: null,
      columns: [
        { label: "Nombre Alumno" },
        { label: "Grado" },
        { label: "Codigo" },
        { label: "Fecha solicitud" },
        { label: "Estado" },
      ],
    };
  },
  methods: {
    Stop_hide(e) {
      e.stopPropagation();
    },
    Listar() {
      this.$refs.fullTable.getProjects();
      // Precio
      appLoading.style.display = "block";
      var url = "/api/postulacion/precio";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          // console.log(response.data.precio_ingreso);
          this.precio = response.data.precio_ingreso;
          this.precio_edit = response.data.precio_ingreso;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });

      let url2 = "https://matriculacademica.colegiocatolicocali.edu.co/api/periodo";
      axios.post(url2).then((response) => {
        this.periodo = response.data;
      });
    },
    UpdatePrecio(precio) {
      appLoading.style.display = "block";
      var url = "/api/postulacion/precio/update";
      axios
        .post(url, {
          precio: precio,
        })
        .then((response) => {
          appLoading.style.display = "none";
          this.Listar();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    UpdateState(id, status, nivelacion, compromiso) {
      appLoading.style.display = "block";
      var url = "/api/admin/solicitud_ingreso/state";
      axios
        .post(url, {
          id: id,
          status: status,
          nivelacion: nivelacion,
          compromiso: compromiso,
        })
        .then((response) => {
          appLoading.style.display = "none";
          this.status = null;
          $("#app").click();
          this.Listar();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Delete(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/cursos/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    CrearEstudiante(item) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url =
            "https://matriculacademica.colegiocatolicocali.edu.co/api/create/estudiante";
          var grado = null;
          if (item.step1_grado == "PJ") {
            grado = item.step1_grado;
          } else if (item.step1_grado == "JD") {
            grado = item.step1_grado;
          } else if (item.step1_grado == "TR") {
            grado = item.step1_grado;
          } else {
            grado = item.step1_grado;
          }
          var today = new Date(item.step1_nacimiento_at);
          var dd = String(today.getDate() + 1).padStart(2, "0");
          var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
          var yyyy = today.getFullYear();

          today = yyyy + "-" + mm + "-" + dd;

          let dato = {
            nombre_estudiante: item.step1_nombre_completo,
            apellido1_estudiante: item.step1_primer_apellido,
            apellido2_estudiante: item.step1_segundo_apellido,
            tipo_dni: item.step1_ide,
            genero: item.step1_genero,
            dni_estudiante: item.step1_identificacion,
            estrato_estudiante: null,
            cii_estudiante: item.step1_direccion_1,
            cra_estudiante: item.step1_direccion_1_1,
            estudiante_1: item.step1_direccion_2,
            estudiante_2: item.step1_direccion_3,
            barrio_estudiante: item.step1_barrio,
            casa_estudiante: null,
            email_estudiante: item.step1_email,
            fecha_nacimiento_estudiante: today,
            edad_estudiante: null,
            lugar_nacimiento: item.step1_lugar_nacimiento,
            telefono_estudiante: item.step1_telefono,
            whatsapp_estudiante: null,
            grado_cursar_estudiante: grado,
            numero_estudiante: null,
            forma_pago: "parcial",
            codigo_estuiante: item.codigo_estudiante,
            lugar_dni: null,
            periodo: this.periodo.id,
          };
          console.log(dato);
          appLoading.style.display = "none";
          axios
            .post(url, dato)
            .then((response) => {
              this.$toastr.success("Creado estudiante con éxito!", null, options);
              if (item.step2_estado_madre != "Sin datos") {
                this.CrearMadre(response.data.id, item);
              }
              if (item.step2_estado_padre != "Sin datos") {
                this.CrearPadres(response.data.id, item);
              }
              if (item.step3_responsable == "Acudiente") {
                this.CrearAcudientes(response.data.id, item);
              }
              appLoading.style.display = "none";
            })
            .catch((e) => {
              appLoading.style.display = "none";
            });
        }
      });
    },
    CrearMadre(id, item) {
      appLoading.style.display = "block";
      var url = "https://matriculacademica.colegiocatolicocali.edu.co/api/create/madre";
      var acudiente_madre = "no";
      var codeudor_madre = "no";
      var responsable = "no";
      if (item.step3_responsable == "Madre") {
        acudiente_madre = "si";
        codeudor_madre = "si";
        responsable = "si";
      }

      let dato = {
        id_estudiante: id,
        estado_madre: item.step2_estado_madre,
        nombre_madre: item.step2_nombre_madre,
        primer_apellido_madre: null,
        segundo_apellido_madre: null,
        tipo_dni: item.step2_ide_madre,
        dni_madre: item.step2_identificacion_madre,
        email_madre: item.step2_email_madre,
        telefono_madre: item.step2_telefono_madre,
        cii_madre: null,
        cra_madre: null,
        madres_1: null,
        madres_2: null,
        barrio_madre: null,
        casa_madre: item.step2_direccion_madre,
        acudiente_madre: acudiente_madre, // Preguntar a alexis
        codeudor_madre: codeudor_madre, // Preguntar a alexis
        responsable: responsable, // Preguntar a alexis
        nombre_empresa_madre: item.step2_empresa_madre,
        profesion_madre: item.step2_profesion_madre,
        cargo_madre: item.step2_cargo_madre,
        cii_empresa_madre: null,
        cra_empresa_madre: null,
        empresa_madre_1: null,
        empresa_madre_2: null,
        barrio_empresa_madre: null,
        telefono_empresa_madre: null,
      };
      axios
        .post(url, dato)
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Creado madre con éxito!", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
        });
    },
    CrearPadres(id, item) {
      appLoading.style.display = "block";
      var url = "https://matriculacademica.colegiocatolicocali.edu.co/api/create/padres";
      var acudiente_padre = "no";
      var codeudor_padre = "no";
      var responsable = "no";
      if (item.step3_responsable == "Padre") {
        acudiente_padre = "si";
        codeudor_padre = "si";
        responsable = "si";
      }

      let dato = {
        id_estudiante: id,
        estado_padre: item.step2_estado_padre,
        nombre_padre: item.step2_nombre_padre,
        primer_apellido_padre: null,
        segundo_apellido_padre: null,
        tipo_dni: item.step2_ide_padre,
        dni_padre: item.step2_identificacion_padre,
        email_padre: item.step2_email_padre,
        telefono_padre: item.step2_telefono_padre,
        cii_padre: null,
        cra_padre: null,
        padre_1: null,
        padre_2: null,
        barrio_padre: null,
        casa_padre: item.step2_direccion_padre,
        acudiente_padre: acudiente_padre,
        codeudor_padre: codeudor_padre,
        responsable: responsable,
        nombre_empresa_padre: item.step2_empresa_padre,
        profesion_padre: item.step2_profesion_padre,
        cargo_padre: item.step2_cargo_padre,
        cii_empresa_padre: null,
        cra_empresa_padre: null,
        empresa_padre_1: null,
        empresa_padre_2: null,
        barrio_empresa_padre: null,
        telefono_empresa_padre: null,
        profesion_padre: item.step2_profesion_padre,
        telefono_empresa_padre: null,
      };
      axios
        .post(url, dato)
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Creado padre con éxito!", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
        });
    },
    CrearAcudientes(id, item) {
      appLoading.style.display = "block";
      var url =
        "https://matriculacademica.colegiocatolicocali.edu.co/api/create/acudientes";
      var responsable = "no";
      if (item.step3_responsable == "Acudiente") {
        responsable = "si";
      }

      let dato = {
        id_estudiante: id,
        nombre_acudiente: item.step3_nombre_otro,
        primer_apellido_acudiente: null,
        segundo_apellido_acudiente: null,
        tipo_dni: item.step3_ide_otro,
        dni_acudiente: item.step3_identificacion_otro,
        email_acudiente: item.step3_email_otro,
        telefono_acudiente: item.step3_telefono_otro,
        cii_acudiente: item.step3_direccion_1_otro,
        cra_acudiente: item.step3_direccion_1_1_otro,
        acudiente_1: item.step3_direccion_2_otro,
        acudiente_2: item.step3_direccion_3_otro,
        barrio_acudiente: null,
        casa_acudiente: null,
        responsable: responsable,
        nombre_empresa_acudiente: item.step3_empresa_otro,
        profesion_acudiente: item.step3_profesion_otro,
        cargo_acudiente: item.step3_cargo_otro,
        cii_empresa_acudiente: null,
        cra_empresa_acudiente: null,
        empresa_acudiente_1: null,
        empresa_acudiente_2: null,
        barrio_empresa_acudiente: null,
        telefono_empresa_acudiente: null,
      };
      axios
        .post(url, dato)
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Creado acudiente con éxito!", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
        });
    },
  },
  watch: {
    precio_edit: function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.precio_edit = fomarteado;
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
    btn_class(value) {
      if (value == "Admitido") {
        return "btn-outline-primary";
      } else {
        return "btn-primary";
      }
    },
  },
};
</script>
<style>
.dropdown .dropdown-menu {
  left: -90px !important;
}
tbody > .text-center {
  display: none !important;
}
.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
</style>
