<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Registro de pagos en caja
        </h5>
      </div>

      <fulltable
        Plist="/api/admin/informe_pagos_manual"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Agregar pago
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.tipo_pago }}</td>
            <td>{{ item.create }}</td>
            <td class="text-capitalize">{{ item._tramite }}</td>
            <td>$ {{ item.valor | addmiles }}</td>
          </tr>
        </template>
      </fulltable>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
  </section>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
    Crear,
  },
  data() {
    return {
      section: {
        crear: false,
        editar: false,
        editar_data: {},
      },
      columns: [
        {
          label: "Nombre estudiante",
        },
        {
          label: "Tipo pago",
        },
        {
          label: "Fecha",
        },
        {
          label: "Producto",
        },
        {
          label: "Valor",
        },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    Delete(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/cursos/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
  },
};
</script>

<style>
tbody > .text-center {
  display: none !important;
}

.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
</style>
