<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Informe de pagos</h5>
      </div>

      <fulltable
        Plist="/api/admin/informe_pagos"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <a
            target="_blank"
            :href="'/api/informe_pagos/excel'"
            type="button"
            class="btn btn-primary btn-sm boton"
          >
            <i class="far fa-plus"></i>
            Exportal excel de datos
          </a>
        </template>

        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.create }}</td>
            <td class="text-capitalize">
              {{ item._tramite }}
              <span v-if="item._tramite_desc">- {{ item._tramite_desc }}</span>
            </td>
            <td>$ {{ item.valor | addmiles }}</td>
            <td>{{ item.transaccionId }} - {{ item.ref1 }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.tipo_pago }}</td>
            <td class="text-center">
              <a
                v-if="item._tramite == 'Pension Multiple'"
                :href="item.factura_pdf"
                target="_blank"
              >
                Ver
                <i
                  class="hoverpr fas fa-file-pdf fa-2x"
                  style="font-size: 26px; color: #0f62ac"
                ></i>
              </a>
              <a
                v-else
                target="_blank"
                :href="'/api/documento/view/' + item.id + '-pdf'"
                class="hoverpr"
                style="
                  color: black;
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
              >
                Ver
                <i
                  class="hoverpr fas fa-file-pdf fa-2x"
                  style="font-size: 26px; color: #0f62ac"
                ></i>
              </a>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      section: { crear: false, editar: false, editar_data: {} },
      columns: [
        { label: "Nombre estudiante" },
        { label: "Codigo" },
        { label: "Fecha" },
        { label: "Producto" },
        { label: "Valor" },
        { label: "Referencia" },
        { label: "Via de pago" },
        { label: "Tipo pago" },
        { label: "" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    Delete(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/cursos/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
</style>
<style scoped>
.hoverpr:hover {
  color: #ff3547 !important;
}
</style>
