<template>
  <nav class="navbar navbar-expand-md navbar-light navbar-laravel fixed-top">
    <div class="container-fluid pl-0">
      <div class="navbar-brand d-flex">
        <router-link :to="{ name: 'Inicio' }">
          <img
            src="/img/logo.png"
            alt="logo"
            class="img-fluid"
            style="width: 26px; display: inline-block"
          />
          <strong style="font-size: 14px; font-weight: 500; color: #717171"
            >Colegio Católico</strong
          >
        </router-link>
        <div class="ml-4 mt-1 pl-5 w-100">
          <i class="fas fa-bars" style="cursor: pointer" @click="Cambio()"></i>
        </div>
      </div>

      <div
        class="ubicacion pull-right"
        style="margin-left: 265px; margin-top: 3px; position: absolute"
      >
        <i class="fas fa-map-marker" style="display: inline-block; color: #828282"></i>
        <h1 style="font-size: 13px; display: inline-block; font-weight: 400">
          <template
            v-if="
              ubicacion == 'Inicio' ||
              ubicacion == 'Matricula' ||
              ubicacion == 'Pago de Pension' ||
              ubicacion == 'Suscribcion de Extracurriculares'
            "
          >
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <router-link :to="{ name: 'Inicio' }"> Inicio </router-link>
                </li>
                <li class="mx-2">/</li>
                <li class="breadcrumb-item active">
                  <div class="dropdown">
                    <button
                      class="btn btn-primary btn-sm dropdown-toggle m-0 p-1"
                      type="button"
                      id="dropdownMenu6"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span v-if="ubicacion == 'Pago de Pension'">Pensiones</span>
                      <span v-else-if="ubicacion == 'Suscribcion de Extracurriculares'"
                        >Extracurriculares</span
                      >
                      <span v-else-if="ubicacion == 'Matricula'">Matrícula</span>
                      <span v-else>{{ ubicacion }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu6">
                      <router-link
                        :to="{ name: 'Matricula' }"
                        class="dropdown-item"
                        :class="{ active: ubicacion == 'Matricula' }"
                      >
                        Matrícula
                      </router-link>
                      <router-link
                        :to="{ name: 'Pago de Pension' }"
                        class="dropdown-item"
                        :class="{ active: ubicacion == 'Pago de Pension' }"
                      >
                        Pensiones
                      </router-link>
                      <router-link
                        :to="{ name: 'Suscribcion de Extracurriculares' }"
                        class="dropdown-item"
                        :class="{
                          active: ubicacion == 'Suscribcion de Extracurriculares',
                        }"
                      >
                        Extracurriculares
                      </router-link>
                    </div>
                  </div>
                </li>
              </ol>
            </nav>
          </template>
          <template v-else>
            <h1 style="font-size: 13px; display: inline-block; font-weight: 400">
              {{ ubicacion }}
            </h1>
          </template>
        </h1>
      </div>

      <div
        class="pull-right font-weight-normal"
        style="position: absolute; right: 90px; top: 19px"
      >
        <span class="mr-5 red-text" v-if="user.nivelacion == 'Si'"
          >Recuerda que debes terminar tu nivelacion</span
        >
        <span> Bolsillo: $ {{ user.saldo | addmiles }} </span>
        <span
          v-if="user.deuda == 0"
          class="mx-2 px-1"
          style="
            border-right: 1px solid #798b9a !important;
            border-left: 1px solid #798b9a !important;
          "
        >
          Deuda: $ {{ user.deuda | addmiles }}
        </span>
        <span
          v-else
          class="mx-2 px-1"
          style="
            border-right: 1px solid #798b9a !important;
            border-left: 1px solid #798b9a !important;
          "
        >
          Deuda: <span style="color: red">$ {{ user.deuda | addmiles }}</span>
        </span>
        <span> Código: {{ user.codigo }} </span>
      </div>
      <div class="pull-right" style="position: absolute; right: 12px; top: -13px">
        <div class="btn-group">
          <div
            class="avatar dropdown-toggle mr-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              class="img-responsive"
              src="/img/1x/avatar.png"
              style="
                height: 34px;
                border: 2px solid #eee;
                float: right;
                position: absolute;
                right: 32px;
                top: 11px;
                border-radius: 50%;
              "
            />
          </div>

          <div
            class="dropdown-menu"
            style="margin-right: 345px; right: -316px; top: 50px; left: auto !important"
          >
            <div>
              <i
                class="fa fa-sort-up"
                style="
                  font-size: 36px;
                  position: absolute;
                  right: 15px;
                  top: -14px;
                  color: white;
                "
              ></i>
            </div>
            <div class="cont">
              <router-link to="perfil" class="dropdown-item" style="margin-top: 5px">
                <i class="fa fa-user"></i> Perfil
              </router-link>
            </div>
            <div class="cont">
              <a class="dropdown-item" @click="logout" style="margin-top: 5px"
                ><i class="fa fa-power-off"></i> Cerrar sesión</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
export default {
  data() {
    return {
      isActive: false,
    };
  },
  computed: {
    ubicacion() {
      return this.$route.name;
    },
    user() {
      return this.$store.state.ActiveUser;
    },
  },
  methods: {
    Cambio() {
      if ($(window).width() < 992) {
        var orden = false;
      }
      if ($(window).width() > 992) {
        var orden = true;
      }
      if (orden) {
        if (!this.isActive) {
          $("#sider_app").fadeOut("slow");
          $("#contenedor_app").css("padding-left", "0px");
          $("#contenedor_app").css("padding-right", "0px");
        }
        if (this.isActive) {
          $("#sider_app").fadeIn("slow");
          $("#contenedor_app").css("padding-left", "265px");
          $("#contenedor_app").css("padding-right", "20px");
        }
      }
      if (!orden) {
        if (this.isActive) {
          $("#sider_app").fadeOut("slow");
          $("#contenedor_app").css("padding-left", "0px");
          $("#contenedor_app").css("padding-right", "0px");
        }
        if (!this.isActive) {
          $("#sider_app").fadeIn("slow");
          $("#contenedor_app").css("padding-left", "265px");
          $("#contenedor_app").css("padding-right", "20px");
        }
      }
      this.isActive = !this.isActive;
    },
    logout() {
      appLoading.style.display = "block";
      this.$store
        .dispatch("destroyToken")
        .then((response) => {
          appLoading.style.display = "none";
          this.$router.push({
            name: "login",
          });
        })
        .catch((error) => {
          appLoading.style.display = "none";
        });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
  },
};
</script>

<style scoped>
.navbar .breadcrumb .breadcrumb-item {
  color: #000;
}

.active {
  color: #fff !important;
}

.navbar .breadcrumb .breadcrumb-item {
  font-family: Arial;
}
</style>
