<template>
  <section>
    <div id="sider_app" class="sider">
      <div class="sider-link">
        <ul class="menu-links mt-3">
          <li icon="md md-blur-on">
            <router-link
              :to="{ name: 'Inicio' }"
              :class="{ 'router-link-active': active_perfil == true }"
            >
              <span>Productos y servicios</span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Factura de pagos' }">
              <span>Soportes de pagos</span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Pagos pendientes' }">
              <span>Pagos pendientes</span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Documentos' }">
              <span>Estado de documentos</span>
            </router-link>
          </li>

          <li icon="md md-blur-on">
            <router-link :to="{ name: 'Acuerdo de pago' }">
              <span>Acuerdo de pago</span>
            </router-link>
          </li>

          <li icon="md md-blur-on" style="border-bottom: 1px solid #dcdcdc">
            <a @click="logout">
              <i class="far fa-power-off" style="color: #909090"></i>
              <span style="margin-left: 7px">Cerrar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
export default {
  data() {
    return {
      //
    };
  },
  watch: {
    //
  },
  computed: {
    url() {
      return this.$route.name;
    },
    active_perfil() {
      if (
        this.url == "Suscribcion de Extracurriculares" ||
        this.url == "Mis Extracurriculares" ||
        this.url == "Pago de Pension" ||
        this.url == "Suscribcion de Medias tecnicas" ||
        this.url == "Mis Medias tecnicas"
      ) {
        return true;
      }
      return false;
    },
  },
  methods: {
    logout() {
      appLoading.style.display = "block";
      this.$store
        .dispatch("destroyToken")
        .then((response) => {
          this.$router.push({
            name: "login",
          });
          appLoading.style.display = "none";
        })
        .catch((error) => {
          appLoading.style.display = "none";
        });
    },
  },
};
</script>

<style scoped>
.router-link-active {
  background: #0f62ac;
  margin-right: 20px;
  border-radius: 0px 10px 10px 0px;
}

.router-link-active > span {
  color: white !important;
}

.router-link-active:hover {
  background: #0f62ac;
  margin-right: 5px;
  transition: 0.2s;
}

.router-link-active:hover {
  border-right: 0px !important;
}

.sider ul a {
  padding: 10px 0 10px 22px;
}

.sider ul a span {
  font-size: 14.4px;
}
</style>
