<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Detalle de cartera</h5>
      </div>

      <h4 class="blue-text font-weight-bold">Pago matricúla</h4>

      <div class="bg-light col-12 d-flex justify-content-between py-4">
        <div class="p-0 m-auto">
          <span class="font-weight-bold">
            {{ acudiente.name_estudiante }} / Codígo {{ acudiente.codigo }}
          </span>
        </div>

        <div class="p-0 m-auto">
          <small>Valor matríicula</small>
        </div>

        <div class="p-0 m-auto">
          <span class="font-weight-bold"> $ {{ matricula.valor | addmiles }} </span>
        </div>

        <div class="p-0 m-auto text-center">
          <span class="font-weight-normal">
            Año
            <br />
            {{ matricula.created_at | año_format }} -
            {{ matricula.created_at | año_1_format }}
          </span>
        </div>

        <div class="p-0 m-auto text-center">
          <span class="font-weight-normal">
            Fecha de pago
            <br />
            {{ matricula.created_at | fecha_format }}
          </span>
        </div>
      </div>
      <br />
      <div class="col-12 py-4 mb-4">
        <h4 class="font-weight-bold mb-0">Adjuntar documentos legalización matrícula</h4>

        <div class="col-12 d-flex justify-content-around pt-4 px-0">
          <div class="border-dark card card-image" style="height: 200px; width: 160px">
            <div class="pr-2 text-right">
              <template v-if="matricula.matricula_pagare">
                <i class="fa fa-check green-text"></i>
                <a
                  :href="'/matriculas-pdf/' + matricula.matricula_pagare"
                  target="_blank"
                >
                  <i class="fa fa-eye blue-text"></i>
                </a>
              </template>
              <i class="fa fa-times red-text" v-else></i>
            </div>
            <div class="m-auto">
              <h1
                class="h1 text-body"
                style="font-size: 3vw; cursor: pointer"
                @click="SubirPdf('matricula_pagare')"
              >
                PDF
              </h1>
            </div>
            <span class="h6 text-center">Pagare</span>
          </div>

          <div class="border-dark card card-image" style="height: 200px; width: 160px">
            <div class="pr-2 text-right">
              <template v-if="matricula.matricula_contrato">
                <i class="fa fa-check green-text"></i>
                <a
                  :href="'/matriculas-pdf/' + matricula.matricula_contrato"
                  target="_blank"
                >
                  <i class="fa fa-eye blue-text"></i>
                </a>
              </template>
              <i class="fa fa-times red-text" v-else></i>
            </div>
            <div class="m-auto">
              <h1
                class="h1 text-body"
                style="font-size: 3vw; cursor: pointer"
                @click="SubirPdf('matricula_contrato')"
              >
                PDF
              </h1>
            </div>
            <span class="h6 text-center">Contrato</span>
          </div>

          <div class="border-dark card card-image" style="height: 200px; width: 160px">
            <div class="pr-2 text-right">
              <template v-if="matricula.matricula_acta">
                <i class="fa fa-check green-text"></i>
                <a :href="'/matriculas-pdf/' + matricula.matricula_acta" target="_blank">
                  <i class="fa fa-eye blue-text"></i>
                </a>
              </template>
              <i class="fa fa-times red-text" v-else></i>
            </div>
            <div class="m-auto">
              <h1
                class="h1 text-body"
                style="font-size: 3vw; cursor: pointer"
                @click="SubirPdf('matricula_acta')"
              >
                PDF
              </h1>
            </div>
            <span class="h6 text-center">Acto de corresponsabilidad</span>
          </div>

          <div class="border-dark card card-image" style="height: 200px; width: 160px">
            <div class="pr-2 text-right">
              <template v-if="matricula.matricula_paz">
                <i class="fa fa-check green-text"></i>
                <a :href="'/matriculas-pdf/' + matricula.matricula_paz" target="_blank">
                  <i class="fa fa-eye blue-text"></i>
                </a>
              </template>
              <i class="fa fa-times red-text" v-else></i>
            </div>
            <div class="m-auto">
              <h1
                class="h1 text-body"
                style="font-size: 3vw; cursor: pointer"
                @click="SubirPdf('matricula_paz')"
              >
                PDF
              </h1>
            </div>
            <span class="h6 text-center">Paz y salvo</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: ["matriculaId"],
  mounted() {
    this.List();
  },
  data() {
    return {
      matricula: {},
      acudiente: {},
    };
  },
  methods: {
    List() {
      appLoading.style.display = "block";
      var url = "/api/admin/pagos-matricula/" + this.matriculaId;
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.matricula = response.data;
        this.acudiente = response.data.user;
      });
    },
    SubirPdf(status) {
      swal({
        closeOnClickOutside: false,
        closeOnEsc: false,
        buttons: {
          cancel: {
            text: "Cancelar",
            visible: true,
            closeModal: true,
            className: "btn-outline-blue-grey",
          },
          confirm: "Subir",
          default: {
            value: false,
            visible: false,
          },
        },
        content: {
          element: "input",
          attributes: {
            id: "archivo_pdf",
            placeholder: "Sube el PDF",
            type: "file",
            accept: ".pdf",
          },
        },
      }).then((value) => {
        if (value) {
          appLoading.style.display = "block";
          var url = "/api/admin/pagos-matricula/pdf/up";
          var datos = new FormData();
          datos.append("id", this.matriculaId);
          datos.append("status", status);
          datos.append("pdf", $("#archivo_pdf")[0].files[0]);
          axios.post(url, datos).then((response) => {
            this.List();
            swal("Archivo subido exitosamente!", {
              button: false,
            });
          });
        } else {
          swal("No fue subido ningun archivo!", {
            button: false,
          });
        }
      });
    },
  },
  computed: {
    //
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    año_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy;

        return today;
      }
    },
    año_1_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + 1;

        return today;
      }
    },
    fecha_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style></style>
