<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Pagos de matriculas</h5>
      </div>

      <div class="col-12 text-right mb-2 pb-2 border-bottom"></div>

      <fulltable
        Plist="/api/admin/pagos-matricula"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.codigo_estudiante }}</td>
            <td>{{ item.name_estudiante }}</td>
            <td>{{ item.email_estudiante }}</td>
            <td>$ {{ item.valor | addmiles }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td class="text-center m-auto py-1">
              <template
                v-if="
                  !item.matricula_pagare ||
                  !item.matricula_contrato ||
                  !item.matricula_acta ||
                  !item.matricula_paz
                "
              >
                <router-link
                  tag="button"
                  class="btn btn-outline-blue-grey btn-sm boton"
                  :to="'/admin/pago_matriculas/detalles-' + item.id"
                >
                  Enviar documentación
                </router-link>
              </template>
              <template v-else>
                <button type="button" class="btn btn-success btn-sm boton" disabled>
                  Enviado
                </button>
                <router-link
                  tag="button"
                  class="btn btn-primary btn-sm boton"
                  :to="'/admin/pago_matriculas/detalles-' + item.id"
                >
                  <i class="far fa-eye"></i>
                  Ver
                </router-link>
              </template>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      precio: 0,
      precio_edit: 0,
      status: null,
      compromiso: null,
      columns: [
        { label: "Codigo" },
        { label: "Nombre" },
        { label: "Correo electronico" },
        { label: "Valor" },
        { label: "Fecha de pago" },
        { label: "Estado" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
</style>
