<template>
  <section>
    <div class="container-fluid">
      <fulltable
        Plist="/api/admin/docentes"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Agregar docente
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.nombre }}</td>
            <td>{{ item.asignatura }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.whatsapp }}</td>
            <td class="text-center py-2">
              <button
                class="btn btn-sm btn-warning"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="(section.editar_data = item), (section.editar = true)"
              >
                <i class="fas fa-pencil" style="font-size: 14px; color: #fff"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                style="
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                @click="Delete(item.id)"
              >
                <i class="fas fa-times" style="font-size: 14px; color: #fff"></i>
              </button>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
    <Editar
      :status="section.editar"
      :item="section.editar_data"
      @listar="Listar(), (section.editar = false)"
      @close="section.editar = false"
    />
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";
import Editar from "./recursos/Editar.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable, Crear, Editar },
  data() {
    return {
      section: { crear: false, editar: false, editar_data: {} },
      columns: [
        { label: "Nombre" },
        { label: "Asignatura" },
        { label: "Correo electronico" },
        { label: "Whatsapp" },
        { label: "Acciones" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    Delete(id) {
      swal({
        title:
          "Estas seguro desea eliminar estos datos, despues de eliminados no los puedes recuperar?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, eliminar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/docentes/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
};
</script>
