<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Estudiantes por nivelar
        </h5>
      </div>

      <fulltable
        Plist="/api/admin/solicitud_ingreso-compromiso"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.step1_nombre_completo }}</td>
            <td>{{ item.codigo_estudiante }}</td>
            <td>{{ item.step1_grado }}</td>
            <td>{{ item.compromiso }}</td>
            <td>{{ item.status_nivelacion }}</td>
            <td>
              <div class="dropdown">
                <a
                  class="boton btn btn-primary btn-sm dropdown-toggle"
                  href="#"
                  role="button"
                  :id="'dropdownMenuNivel-' + item.id"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Nivelado
                </a>

                <div
                  class="dropdown-menu"
                  @click="Stop_hide"
                  style="left: -115px"
                  v-if="item.status_nivelacion != 'Si'"
                >
                  <div class="px-4 py-3">
                    <div class="form-group">
                      <label>Nivelado</label>
                      <select
                        class="browser-default custom-select"
                        style="font-size: 13px"
                        v-model="status_nivelacion"
                      >
                        <option selected disabled>Seleccione</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                      </select>
                    </div>

                    <button
                      class="boton btn btn-primary"
                      @click="UpdateState(item.id, status_nivelacion)"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      status_nivelacion: null,
      columns: [
        { label: "Nombre Alumno" },
        { label: "Codigo" },
        { label: "Grado" },
        { label: "Curso de verano" },
        { label: "Nivelado" },
        { label: "Accion" },
      ],
    };
  },
  methods: {
    Stop_hide(e) {
      e.stopPropagation();
    },
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    UpdateState(id, status) {
      appLoading.style.display = "block";
      var url = "/api/admin/solicitud_ingreso/state";
      axios
        .post(url, {
          id: id,
          status_nivelacion: status,
        })
        .then((response) => {
          appLoading.style.display = "none";
          $("#app").click();
          this.status_nivelacion = null;
          this.Listar();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
</style>
