<template>
  <section>
    <navbar />
    <sidebar />

    <div class="contenedor">
      <router-view />
    </div>
  </section>
</template>
<script>
import Navbar from "./recursos/navbar.vue";
import Sidebar from "./recursos/sidebar.vue";

export default {
  components: { Navbar, Sidebar },
};
</script>
<style>
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  padding: 10px 26px !important;
}
.fa,
.fab,
.fal,
.far,
.fas {
  font-size: 14px !important;
}
</style>
