<template>
  <div class="solicitud animated fadeIn">
    <div class="position-absolute" style="top: 50px; left: 0px">
      <button
        type="button"
        @click.prevent="statuslocal = false"
        class="btn btn-danger btn-sm p-2"
        style="border-radius: 100px; width: 40px; height: 40px"
      >
        <i class="fal fa-times" style="width: auto; font-size: 25px !important"></i>
      </button>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row formulario">
            <form-wizard color="#0f62ac" class="p-0 w-100">
              <div class="text-justify" slot="title">
                <h2 class="text-primary m-0 pl-2" style="font-family: Arial Rounded MT">
                  Realiza tu solicitud de certificado!
                </h2>
              </div>

              <tab-content title="">
                <h2 style="font-size: 1.5rem">
                  <strong>
                    Informacion del solicitante: *Los campos marcados con asterisco son
                    obligatorios
                  </strong>
                </h2>
                <hr />
                <form data-vv-scope="step-1">
                  <h5 class="mb-0">*Datos para facturacion electronica</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombres *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombres"
                          v-model="datos.nombres"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Apellidos *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Apellidos"
                          v-model="datos.apellidos"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento *</label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_doc"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de extrangeria">
                            Cedula de extrangeria
                          </option>
                          <option value="ETC y los otros necesarios">
                            ETC y los otros necesarios
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Numero *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero"
                          v-model="datos.numero"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion"
                          v-model="datos.direccion"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Ciudad *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Ciudad"
                          v-model="datos.ciudad"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.telefono"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Correo electronico *</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Correo electronico"
                          v-model="datos.correo"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Responsabilidad fiscal *</label>
                        <select
                          class="browser-default custom-select"
                          name="Responsabilidad fiscal"
                          v-model="datos.responsabilidad_fiscal"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="No responsable de IVA">
                            No responsable de IVA
                          </option>
                          <option value="Responsable de IVA">Responsable de IVA</option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Actividad economica *</label>
                        <select
                          class="browser-default custom-select"
                          name="Actividad economica"
                          v-model="datos.actividad_economica"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Independiente">Independiente</option>
                          <option value="Asalariado">Asalariado</option>
                          <option value="Otro">Otro</option>
                        </select>
                      </div>
                    </div>

                    <div class="col" v-if="datos.actividad_economica == 'Otro'">
                      <div class="md-form">
                        <label>Cual *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cual"
                          v-model="datos.otro_cual"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-0">* Datos del estudiante</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombres *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombres estudiante"
                          v-model="datos.nombres_estudiante"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Apellidos *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Apellidos estudiante"
                          v-model="datos.apellidos_estudiante"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento *</label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_doc_estudiente"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de extrangeria">
                            Cedula de extrangeria
                          </option>
                          <option value="ETC y los otros necesarios">
                            ETC y los otros necesarios
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Numero *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero"
                          v-model="datos.numero_estudiente"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono de contacto *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.telefono_estudiante"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Correo electronico de contacto *</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Correo electronico de contacto"
                          v-model="datos.correo_estudiante"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-0">*Datos para la elaboracion del documento</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento * </label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_documento"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option
                            v-for="(item, index) in certificados"
                            :key="index"
                            :value="item.id"
                          >
                            {{ item.concepto }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cantidad *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cantidad"
                          v-model="datos.cantidad"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Año de promocion *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Año de promocion"
                          v-model="datos.año_promocion"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Motivo *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Motivo"
                          v-model="datos.motivo"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Especifique los datos de la certificación *</label>
                        <textarea
                          cols="50"
                          rows="5"
                          v-model="datos.datos_certificacion"
                          disabled
                        ></textarea>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Canal de envió *</label>
                        <select
                          class="browser-default custom-select"
                          name="Canal de envió"
                          v-model="datos.canal_envio"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Presencial">Presencial</option>
                          <option value="Vía correo electrónico">
                            Vía correo electrónico
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-0">*Datos de la solicitud</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Valor a pagar *</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text md-addon">$</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="Valor a pagar"
                            v-model="datos.valor_pagar"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Estatus *</label>
                        <select
                          class="browser-default custom-select"
                          name="Estatus"
                          v-model="datos.status"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Pendiente">Pendiente</option>
                          <option value="Pendiente de pago">Pendiente de pago</option>
                          <option value="Pagado">Pagado</option>
                          <option value="Entregado">Entregado</option>
                          <option value="Rechazado">Rechazado</option>
                          <option value="Listo para recoger">Listo para recoger</option>
                        </select>
                      </div>
                    </div>

                    <div class="col m-auto">
                      <button
                        class="btn btn-info btn-sm boton"
                        type="button"
                        @click.prevent="SaveObjeto(datos)"
                      >
                        Guardar
                      </button>
                      <button
                        class="btn btn-info btn-sm boton"
                        type="button"
                        @click.prevent="Pagado(datos)"
                      >
                        Pago en caja
                      </button>
                    </div>
                  </div>
                </form>
              </tab-content>

              <template slot="footer">
                <div class="float-right" style="padding-bottom: 70px">
                  <div class="wizard-footer-right"></div>
                </div>
              </template>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Validator } from "vee-validate";
import { FormWizard, TabContent, WizardButton } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

import es from "vee-validate/dist/locale/es.js";
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";
import { Settings } from "luxon";
Settings.defaultLocale = "es";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: { status },
  components: { FormWizard, TabContent, WizardButton, Datetime },
  data() {
    return {
      statuslocal: false,
      certificados: [],
      datos: {
        nombres: null,
        apellidos: null,
        direccion: null,
        ciudad: null,
        telefono: null,
        correo: null,
        responsabilidad_fiscal: null,
        actividad_economica: null,
        otro_cual: null,
        nombres_estudiante: null,
        apellidos_estudiante: null,
        telefono_estudiante: null,
        correo_estudiante: null,
        ci_estudiante: null,
        tipo_documento: null,
        cantidad: null,
        año_promocion: null,
        motivo: null,
        datos_certificacion: null,
        canal_envio: null,
      },
    };
  },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        this.ListCertificados();
        this.VerSolicitud(this.$parent.section.solicitud_id);
        $(".solicitud").removeClass("slideOutRight");
        $(".solicitud").addClass("slideInRight");
        $(".solicitud").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.datos = {
          nombres: null,
          apellidos: null,
          direccion: null,
          ciudad: null,
          telefono: null,
          correo: null,
          responsabilidad_fiscal: null,
          actividad_economica: null,
          otro_cual: null,
          nombres_estudiante: null,
          apellidos_estudiante: null,
          telefono_estudiante: null,
          correo_estudiante: null,
          ci_estudiante: null,
          tipo_documento: null,
          cantidad: null,
          año_promocion: null,
          motivo: null,
          datos_certificacion: null,
          canal_envio: null,
        };
        this.$validator.reset();
        $(".solicitud").removeClass("slideInRight");
        $(".solicitud").addClass("slideOutRight");
        $(".solicitud").fadeOut(800);
        this.$emit("close");
      }
    },
    "datos.valor_pagar": function (value) {
      if (value) {
        var fomarteado = 0;
        var num = value.replace(/\./g, "");
        if (!isNaN(num)) {
          num = num
            .toString()
            .split("")
            .reverse()
            .join("")
            .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
          num = num.split("").reverse().join("").replace(/^[\.]/, "");
          fomarteado = num;
        }
        this.datos.valor_pagar = fomarteado;
      }
    },
  },
  methods: {
    ListCertificados() {
      appLoading.style.display = "block";
      var url = "/api/certificados/list";
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.certificados = response.data;
      });
    },
    VerSolicitud(codigounico) {
      var url = "/api/solicitar/certificado/" + codigounico;
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.datos = response.data;
      });
    },
    SaveObjeto(item) {
      appLoading.style.display = "block";
      var url = "/api/solicitar/certificado";
      axios
        .put(url, item)
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Proceso realizado con exito", null, options);
          this.VerSolicitud(this.$parent.section.solicitud_id);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Pagado(item) {
      appLoading.style.display = "block";
      var url = "/api/solicitar/certificado/pagado";
      axios
        .put(url, item)
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Proceso realizado con exito", null, options);
          this.VerSolicitud(this.$parent.section.solicitud_id);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>

<style scoped>
.vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
  position: relative;
  top: -9vh;
  height: 4px;
  left: 115vh;
  width: 73vh;
}
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
span.lever:after {
  background-color: #0f62ac !important;
}
.solicitud {
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 130px;
  top: 0px;
  /*border-left: 42px solid #673ab7bf;*/
  height: 100vh;
}
.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}
.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}
.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
.boton {
  margin-left: 0;
  background: #0f62ac !important;
  border-radius: 2pc;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 25px;
  border-color: #b1b1b1;
}
</style>
