<template>
  <div>
    <div class="d-flex mb-2">
      <div class="btn-group btn-sm" v-if="filtro" style="width: 14%">
        <button
          type="button"
          class="boton btn btn-primary btn-sm dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="height: 36px"
        >
          Filtro
        </button>
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            :key="index"
            v-for="(records, index) in perPage"
            @click="(tableData.length = records), getProjects()"
          >
            {{ records }}
          </a>
        </div>
      </div>

      <div class="d-flex justify-content-end w-100">
        <div class="form-inline" v-if="buscador">
          <input
            class="form-control form-control-sm mr-2 boton"
            type="text"
            placeholder="Buscar..."
            aria-label="Search"
            v-model="tableData.search"
            @keyup="Buscar()"
          />
          <i class="fas fa-search" aria-hidden="true"></i>
        </div>

        <slot name="botones"></slot>
      </div>
    </div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th style="width: 2%" v-if="checkall">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="defaultUnchecked"
                v-model="checkBus"
                @click="ChecksAll(checkBus)"
              />
              <label for="defaultUnchecked"></label>
            </div>
          </th>
          <template v-for="column in columns">
            <th
              v-if="column.sort"
              :key="column.name"
              @click="sortBy(column.name)"
              :class="
                sortKey === column.name
                  ? sortOrders[column.name] > 0
                    ? 'sorting_asc'
                    : 'sorting_desc'
                  : 'sorting'
              "
            >
              <span :style="'width:' + column.width + ';' + 'cursor:pointer;'">
                {{ column.label }}
              </span>
            </th>
            <th v-else>
              <span>{{ column.label }}</span>
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <div
          v-if="datos == 0"
          id="tablemensaje"
          class="text-center w-responsive"
          style="position: absolute"
        >
          Sin resultados...
        </div>
        <slot name="tbody-full" :data="items"></slot>
      </tbody>
    </table>

    <pagination
      class="mt-2"
      :pagination="pagination"
      @prev="getProjects(pagination.prevPageUrl)"
      @page="getProjectsPage"
      @next="getProjects(pagination.nextPageUrl)"
    >
    </pagination>
  </div>
</template>

<script>
import Pagination from "./Pagination.vue";
const appLoading = document.getElementById("loading-bg");

export default {
  props: {
    Pcolumns: {
      type: Array,
      required: true,
    },
    Pcheck: {
      type: Array,
      default: null,
    },
    Plist: {
      type: String,
      default: null,
    },
    filtro: {
      default: true,
      type: Boolean,
    },
    buscador: {
      default: true,
      type: Boolean,
    },
    checkall: {
      default: true,
      type: Boolean,
    },
  },
  components: {
    Pagination,
  },
  data() {
    let sortOrders = {};
    let columns = this.Pcolumns;
    columns.forEach((column) => {
      if (column.sort == true) {
        sortOrders[column.name] = -1;
      }
    });
    return {
      checkBus: false,
      debounce: null,
      busqueda: null,
      items: [],
      datos: 0,
      columns: columns,
      sortKey: "id",
      sortOrders: sortOrders,
      perPage: ["10", "15", "30", "50"],
      tableData: {
        draw: 0,
        length: 10,
        search: null,
        column: 0,
        dir: "desc",
      },
      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: "",
      },
    };
  },
  methods: {
    Buscar() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.tableData.draw++;
        appLoading.style.display = "block";
        let url = this.Plist;
        axios
          .get(url, {
            params: this.tableData,
          })
          .then((response) => {
            let data = response.data;
            if (this.tableData.draw == data.draw) {
              appLoading.style.display = "none";
              // this.$parent.items = data.data.data;
              this.items = data.data.data;
              this.datos = data.data.data.length;
              this.configPagination(data.data);
            }
          })
          .catch((e) => {
            appLoading.style.display = "none";
            console.log("error");
          });
      }, 600);
    },
    getProjectsPage(e, url = this.Plist + "?page=") {
      this.tableData.draw++;
      appLoading.style.display = "block";
      axios
        .get(url + e, {
          params: this.tableData,
        })
        .then((response) => {
          let data = response.data;
          if (this.tableData.draw == data.draw) {
            appLoading.style.display = "none";
            // this.$parent.items = data.data.data;
            this.items = data.data.data;
            this.datos = data.data.data.length;
            this.configPagination(data.data);
          }
        })
        .catch((errors) => {
          appLoading.style.display = "none";
          console.log(errors);
        });
    },
    getProjects(url = this.Plist) {
      this.tableData.draw++;
      appLoading.style.display = "block";
      axios
        .get(url, {
          params: this.tableData,
        })
        .then((response) => {
          let data = response.data;
          if (this.tableData.draw == data.draw) {
            appLoading.style.display = "none";
            // this.$parent.items = data.data.data;
            this.items = data.data.data;
            this.datos = data.data.data.length;
            this.configPagination(data.data);
          }
        })
        .catch((errors) => {
          appLoading.style.display = "none";
          console.log(errors);
        });
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getProjects();
    },
    getIndex(array, key, value) {
      var array_dep = [];
      array.forEach((column) => {
        if (column.sort == true) {
          array_dep.push(column);
        }
      });
      return array_dep.findIndex((i) => i[key] == value);
    },
    ChecksAll(key) {
      if (key != true) {
        this.$emit("checksall", this.items);
      } else {
        this.$emit("clearchecks");
      }
    },
  },
  watch: {
    Pcheck(val) {
      if (this.pagination.total == val.length) {
        this.checkBus = true;
      } else {
        this.checkBus = false;
      }
    },
  },
};
</script>

<style>
.boton {
  font-size: 0.67rem;
  font-family: Arial;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 26px !important;
}

.sorting {
  background-image: url("/img/sort_both.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.sorting_asc {
  background-image: url("/img/sort_asc.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.sorting_desc {
  background-image: url("/img/sort_desc.png");
  background-repeat: no-repeat;
  background-position: center right;
}

th,
td {
  text-align: center !important;
}
</style>
