<template>
	<nav>
		<ul class="justify-content-end pagination pg-blue">
			<li class="page-item">
				<a class="page-link" aria-label="Previous" v-if="pagination.prevPageUrl" @click="$emit('prev');">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="page-link" aria-label="Previous" v-else :disabled="true">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			
			<div v-for="(n, index) in pageRange" :key="index">
				<li class="page-item active" v-if="pagination.currentPage == n">
					<a class="page-link">{{n}}</a>
				</li>

				<li class="page-item" v-else-if="n == '...'">
					<a class="page-link">{{n}}</a>
				</li>
				<li class="page-item" @click="$emit('page', n);" v-else>
					<a class="page-link">{{n}}</a>
				</li>
			</div>
			
			<li class="page-item">
				<a class="page-link" aria-label="Next" v-if="pagination.nextPageUrl" @click="$emit('next');">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
				<a class="page-link" aria-label="Next" v-else :disabled="true">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>
		</ul>
	</nav>
</template>

<script>
	export default {
		props: ['pagination', 'client', 'filtered'],
		computed: {
			pageRange () {
				var current = this.pagination.currentPage;
				var last = this.pagination.lastPage;
				var delta = 2;
				var left = current - delta;
				var right = current + delta + 1;
				var range = [];
				var pages = [];
				var l;

				for (var i = 1; i <= last; i++) {
					if (i === 1 || i === last || (i >= left && i < right)) {
						range.push(i);
					}
				}
				range.forEach(function (i) {
					if (l) {
						if (i - l === 2) {
							pages.push(l + 1);
						} else if (i - l !== 1) {
							pages.push('...');
						}
					}
					pages.push(i);
					l = i;
				});
				return pages;
			}
		}
	}
</script>