<template>
  <section>
    <div class="d-none d-lg-block">
      <router-view />

      <div class="col-6">
        <div class="img-login-1">
          <img src="img/logo.png" alt="" />
        </div>
      </div>
    </div>
    <div class="d-lg-none d-sm-block"></div>
  </section>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    // this.ListCertificados();
  },
  data() {
    return {
      certificados: [],
    };
  },
  methods: {
    ListCertificados() {
      appLoading.style.display = "block";
      var url = "/api/certificados/list";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.certificados = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>

<style scoped>
body {
  font-family: "Quicksand", sans-serif;
  background: #fff;
}

.container-fluid {
  padding: 0 125px !important;
}

.link {
  margin-top: 37px;
}

.link a {
  text-decoration: none;
  font-size: 14px;
  color: #5a5a5a;
  text-transform: uppercase;
  margin-left: 28px;
  margin-top: 20px;
  font-weight: 500;
}

.container-fluid {
  padding: 0 125px !important;
}

.img-login-1 img {
  position: fixed;
  top: 12vh;
  right: 40vh;
  z-index: -1;
}
</style>
