<template>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6" style="padding-left: 25px">
          <div class="texto-grande">
            <h1>Error 404.</h1>
          </div>
          <div class="col" v-html="hmtl"></div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.CambiarADS();
  },
  data() {
    return {
      status: 0,
      hmtl: null,
    };
  },
  methods: {
    CambiarADS() {
      var html0 =
        '<iframe data-aa="1556221" src="//ad.a-ads.com/1556221?size=970x250" scrolling="no" style="width:970px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>';
      var html1 =
        '<iframe data-aa="1556204" src="//ad.a-ads.com/1556204?size=120x60" scrolling="no" style="width:120px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>';
      if (this.status == 0) {
        this.status = 1;
      } else if (this.status == 1) {
        this.status = 0;
      }
      var vm = this;
      if (vm.status == 0) {
        console.log("ADS 0");
        vm.hmtl = html0;
      } else if (vm.status == 1) {
        console.log("ADS 1");

        vm.hmtl = html1;
      }
      setTimeout(this.CambiarADS, 60000);
    },
  },
};
</script>
