<template>
  <div class="bodyapp">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6"></div>

          <div class="col-6 text-center">
            <a href="http://colegiocatolicocali.edu.co/">
              <img
                src="/img/logo.png"
                class="img-fluid"
                style="width: 10vw; display: block; margin: auto; margin-top: 3vw"
              />
            </a>

            <br />

            <h1 style="font-weight: bold; color: #ff8d00">GRACIAS POR TU PAGO</h1>

            <h3 class="mb-4" style="font-size: 1.6vw; color: #2196f3; font-weight: 400">
              Su codigo de estudiante es: {{ codigo }}
            </h3>
            <h3 class="mb-0" style="font-size: 1.6vw; color: #2196f3; font-weight: 400">
              Por favor solicita tu cita de admisión
            </h3>

            <br />
            <br />

            <a
              class="btn btn-primary"
              style="
                background-image: linear-gradient(#2196f3, #3f51b5);
                font-size: 23px;
                border: none;
                padding: 13px 25px;
              "
              href="https://api.whatsapp.com/send/?phone=573148215004&text=Por favor asignar fecha y hora de cita para proceso de admisión al Colegio Católico...&app_absent=0"
              target="_blank"
            >
              Cita de adminsión
            </a>

            <br />
            <br />
            <a href="http://colegiocatolicocali.edu.co/">
              <small style="color: #2196f3">WWW.COLEGIOCOTOLICOCALI.EDU.CO</small>
            </a>
            <br />
            <small style="color: #2196f3"
              >Cra 49 # 9b-42 Cali - Col. | Tel: 552 0795 - 315 549 7690</small
            >
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Test",
  props: ["codigo"],
  created() {},
  data() {
    return {};
  },
  methods: {},
};
</script>

<style scoped>
.bodyapp {
  background-image: url("/img/fondo.png") !important;
  background-repeat: no-repeat !important;
  background-size: 80% !important;
}
</style>
