<template>
  <section>
    <div class="row mt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-6 col-6">
            <div class="link">
              <span class="btn-outline-primary p-1 btn" @click="section.solicitud = true">
                Solicitar certificado
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row d-none d-lg-block">
        <div class="col-6" style="padding-left: 25px">
          <div class="texto-grande">
            <h1>Plataforma de Pagos Colegio - Católico.</h1>
          </div>

          <div class="texto-medio">
            <h3>Pago de matrículas, pensiones, cursos de verano y certificados.</h3>
          </div>

          <div class="formulario">
            <div class="form-group">
              <input
                type="text"
                class="form-control email"
                name="codigo"
                v-model="cliente.username"
                placeholder="Código del estudiante"
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <input
                class="form-control password"
                type="password"
                name="contraseña"
                v-model="cliente.password"
                placeholder="Ingresa tu contraseña"
                @keyup.enter="login"
                autocomplete="off"
              />
            </div>

            <div class="col text-center">
              <button type="button" class="btn boton" @click="login">
                Iniciar Sesión
              </button>
              <button type="button" class="btn boton" @click="section.crear = true">
                POSTÚLATE, FORMULARIO DE INSCRIPCIÓN
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-lg-none d-sm-block">
        <div class="col-12">
          <div class="texto-grande">
            <h1>Plataforma de Pagos Colegio - Católico.</h1>
          </div>

          <div class="texto-medio">
            <h3>Pagos matricula, Pension, Duplicados, Cursos de verano</h3>
          </div>

          <div class="">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="codigo"
                v-model="cliente.username"
                placeholder="Codigo del estudiante"
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="contraseña"
                v-model="cliente.password"
                placeholder="Ingresa tu contraseña"
                @keyup.enter="login"
                autocomplete="off"
              />
            </div>

            <div class="col text-center">
              <button type="button" class="btn boton" @click="login">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <Crear :status="section.crear" @close="section.crear = false" />
    <Solicitud :status="section.solicitud" @close="section.solicitud = false" />
  </section>
</template>

<script>
import Crear from "./recursos/Crear.vue";
import Solicitud from "./recursos/SolicitudCertificado.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    function parametroURL(_par) {
      var _p = null;
      if (location.search)
        location.search
          .substr(1)
          .split("&")
          .forEach(function (pllv) {
            var s = pllv.split("="), //separamos llave/valor
              ll = s[0],
              v = s[1] && decodeURIComponent(s[1]); //valor hacemos encode para prevenir url encode
            if (ll == _par) {
              //solo nos interesa si es el nombre del parametro a buscar
              if (_p == null) {
                _p = v; //si es nula, quiere decir que no tiene valor, solo textual
              } else if (Array.isArray(_p)) {
                _p.push(v); //si ya es arreglo, agregamos este valor
              } else {
                _p = [_p, v]; //si no es arreglo, lo convertimos y agregamos este valor
              }
            }
          });
      return _p;
    }
    var status = parametroURL("status");
    if (status == "true") {
      this.section.crear = true;
    }
  },
  components: {
    Crear,
    Solicitud,
  },
  data() {
    return {
      section: {
        crear: false,
        solicitud: false,
      },
      cliente: {
        username: "",
        password: "",
        checkbox_remember_me: false,
      },
    };
  },
  computed: {
    logueado() {
      if (this.$store.getters.loggedIn) {
        if (this.$store.state.ActiveUser.roll == "admin") {
          this.$router.push({
            name: "Dashboard",
          });
        } else if (this.$store.state.ActiveUser.roll == "acudiente") {
          this.$router.push({
            name: "Inicio",
          });
        }
      }
      return this.$store.getters.loggedIn;
    },
  },
  methods: {
    login() {
      appLoading.style.display = "block";
      if (
        this.cliente.username == "26047" ||
        this.cliente.username == "26047252" ||
        this.cliente.username == "20041"
      ) {
        this.$store
          .dispatch("retrieveToken", {
            username: this.cliente.username,
            password: this.cliente.password,
          })
          .then((response) => {
            this.usuario();
          })
          .catch((error) => {
            appLoading.style.display = "none";
            var errors = error.response.data.errors;
            var noti = this.$toastr.error;

            $.each(errors, function (i) {
              noti(errors[i][0], "Errores", options);
            });
          });
      } else {
        appLoading.style.display = "none";
        this.$toastr.error("Servidor en mantenimiento", null, options);
      }
    },
    usuario() {
      axios
        .get("/api/user")
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Bienvenido (a), " + response.data.name, null, options);
          this.$store.state.ActiveUser.id = response.data.id;
          this.$store.state.ActiveUser.name = response.data.name;
          this.$store.state.ActiveUser.codigo = response.data.codigo;
          this.$store.state.ActiveUser.email = response.data.email;
          this.$store.state.ActiveUser.roll = response.data.roll;
          this.$store.state.ActiveUser.saldo = response.data.saldo;
          this.$store.state.ActiveUser.deuda = response.data.deuda;
          this.$store.state.ActiveUser.nivelacion = response.data.nivelacion;
          this.$store.state.ActiveUser.pension = response.data.pension;
          localStorage.setItem("roll", response.data.roll);
          if (response.data.roll == "admin") {
            this.$router.push({
              name: "Dashboard",
            });
          } else if (response.data.roll == "acudiente") {
            this.$router.push({
              name: "Inicio",
            });
          }
        })
        .catch((e) => {
          // this.OpenAlert();
        });
    },
  },
};
</script>

<style scoped>
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}

.container-fluid {
  padding: 0 125px !important;
}

.texto-grande {
  padding-top: 100px;
}

.texto-grande h1 {
  font-weight: 400;
  color: #616161;
}

.texto-medio h3 {
  color: #0f62ac !important;
  font-size: 11px;
}

.formulario {
  position: absolute;
  left: 27px;
  width: 356px;
  /*margin-top: 57px;*/
}

.email {
  padding-left: 17px;
  background: #ffffff;
  border-radius: 10pc;
  border: 1px solid #cecece;
  height: 44px;

  box-shadow: none !important;
}

.password {
  padding-left: 17px;
  background: #ffffff;
  border-radius: 10pc;
  border: 1px solid #cecece;
  height: 44px;

  box-shadow: none !important;
}

.boton {
  margin-left: 0;
  background: #0f62ac !important;
  border-radius: 2pc;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  padding: 7px 25px;
  border-color: #b1b1b1;
}

.btn-danger:hover {
  border-color: #b1b1b1 !important;
}

.recordar {
  margin-top: 14px;
  font-size: 17px;
  font-weight: 300;
  color: #545454;
}

.text-olvidaste h1 {
  font-size: 19px;
  color: #616161;
  margin-top: 15px;
  /*margin-top: 23px;*/
}
</style>
