<template>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6" style="padding-left: 25px;">
					<div class="texto-grande">
						<h1>Falta de permisos</h1>
						<template v-if="usuario.roll == 'admin'">
							<router-link class="btn btn-block btn-blue-grey" :to="{ name: 'Dashboard'}">
								Ir al inicio
							</router-link> 
						</template>
						<template v-else-if="usuario.roll == 'acudiente'">
							<router-link class="btn btn-block btn-blue-grey" :to="{ name: 'Inicio'}">
								Ir al inicio
							</router-link> 
						</template>
						<template v-else-if="usuario.roll == null">
							<router-link class="btn btn-block btn-blue-grey" :to="{ name: 'login'}">
								Ir al inicio
							</router-link> 
						</template>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		data() {
			return {
				// 
			}
		},
		computed: {
			usuario() {
				return this.$store.state.ActiveUser;
			}
		},
	}
</script>

<style scoped>
	.container-fluid {
		padding: 0 125px !important;
	}
	.texto-grande {
		padding-top: 100px;
	}
	.texto-grande h1 {
		font-weight: 400;
		color: #616161;
	}
</style>