<template>
  <section>Procesando...</section>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    appLoading.style.display = "block";
    this.SaveObjeto(this.datos);
  },
  beforeMount() {
    appLoading.style.display = "block";
  },
  data() {
    function parametroURL(_par) {
      var _p = null;
      if (location.search)
        location.search
          .substr(1)
          .split("&")
          .forEach(function (pllv) {
            var s = pllv.split("="), //separamos llave/valor
              ll = s[0],
              v = s[1] && decodeURIComponent(s[1]); //valor hacemos encode para prevenir url encode
            if (ll == _par) {
              //solo nos interesa si es el nombre del parametro a buscar
              if (_p == null) {
                _p = v; //si es nula, quiere decir que no tiene valor, solo textual
              } else if (Array.isArray(_p)) {
                _p.push(v); //si ya es arreglo, agregamos este valor
              } else {
                _p = [_p, v]; //si no es arreglo, lo convertimos y agregamos este valor
              }
            }
          });
      return _p;
    }
    return {
      datos: {
        transaccionId: parametroURL("transaccionId"),
        uuid: parametroURL("uuid"),
        aprobado: parametroURL("aprobado"),
        transaccionConvenioId: parametroURL("transaccionConvenioId"),
        ref1: parametroURL("ref1"),
        valor: parametroURL("valor"),
        valor_subtotal: parametroURL("valor_subtotal"),
        descuento: parametroURL("descuento"),
        cupon: parametroURL("cupon"),
        _uid: parametroURL("_uid"),
        _tramite: parametroURL("_tramite"),
        acudiente_id: parametroURL("acudiente_id"),
        meses: parametroURL("meses"),
        servicio_id: parametroURL("servicio_id"),
        certificado_motivo: parametroURL("certificado_motivo"),
        opcion: parametroURL("opcion"),
      },
    };
  },
  methods: {
    SaveObjeto: function (item) {
      appLoading.style.display = "block";
      if (item._tramite == "Matricula") {
        var url = "/api/matricula/pagado";
      }
      if (item._tramite == "Inscripcion") {
        var url = "/api/postulacion/pagado";
      }
      if (item._tramite == "Extracurricular") {
        var url = "/api/extracurricular/pagado";
      }
      if (item._tramite == "Pension") {
        var url = "/api/pension/pagado";
      }
      if (item._tramite == "Pension Multiple") {
        var url = "/api/pensionmultiple/pagado";
      }
      if (item._tramite == "Certificado") {
        var url = "/api/certificado/pagado";
        item.certificado_estado = "Pendiente";
      }
      if (item._tramite == "Cursos") {
        var url = "/api/cursos/pagado";
      }
      if (item._tramite == "Nivelacion") {
        var url = "/api/cursos/pagado";
      }
      if (item._tramite == "Recarga") {
        var url = "/api/recarga/pagado";
      }
      if (item._tramite == "Otro") {
        var url = "/api/otros/pagado";
      }
      if (item._tramite == "Transporte") {
        var url = "/api/transporte/pagado";
      }
      if (item._tramite == "Cafeteria") {
        var url = "/api/cafeteria/pagado";
      }
      if (item._tramite == "Acuerdo") {
        var url = "/api/acuerdo/pagado";
      }

      axios
        .post(url, item)
        .then((response) => {
          appLoading.style.display = "block";
          // console.log(response.data);
          if (this.datos.aprobado == "A") {
            this.$toastr.success("Pago realizado con éxito!", null, options);
          } else if (this.datos.aprobado == "R") {
            this.$toastr.warning("Su Pago a sido Rechazado!", null, options);
          } else if (this.datos.aprobado == "P") {
            if (this.datos.transaccionId == "null") {
              this.$toastr.success("Su Pago fue Cancelado!", null, options);
            } else {
              this.$toastr.success("Su Pago quedo Pendiente!", null, options);
            }
          }

          if (item._tramite == "Inscripcion") {
            if (this.datos.aprobado == "A") {
              this.$router.push("/gracias-" + response.data);
            } else {
              this.$router.push({
                name: "login",
              });
            }
          }
          if (item._tramite == "Extracurricular") {
            this.$router.push({
              name: "Suscribcion de Extracurriculares",
            });
          }
          if (item._tramite == "Acuerdo") {
            this.$router.push({
              name: "Acuerdo de pago",
            });
          }
          if (item._tramite == "Pension") {
            this.$router.push({
              name: "Pago de Pension",
            });
          }
          if (item._tramite == "Pension Multiple") {
            this.$router.push({
              name: "Pago de Pension",
            });
          }
          if (item._tramite == "Certificado") {
            this.$router.push({
              name: "Inicio",
            });
          }
          if (item._tramite == "Cursos") {
            this.$router.push({
              name: "Inicio",
            });
          }
          if (item._tramite == "Transporte") {
            this.$router.push({
              name: "Inicio",
            });
          }
          if (item._tramite == "Cafeteria") {
            this.$router.push({
              name: "Inicio",
            });
          }
          if (item._tramite == "Nivelacion") {
            this.$router.push({
              name: "Inicio",
            });
          }
          if (item._tramite == "Recarga") {
            this.$router.push({
              name: "Perfil",
            });
          }
          if (item._tramite == "Matricula") {
            this.$router.push({
              name: "Matricula",
            });
          }
          if (item._tramite == "Otro") {
            this.$router.push({
              name: "Pagos pendientes",
            });
          }
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>
