<template>
  <div class="bodyapp">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6"></div>

          <div class="col-6 text-center">
            <a href="http://colegiocatolicocali.edu.co/">
              <img
                src="/img/logo.png"
                class="img-fluid"
                style="width: 10vw; display: block; margin: auto; margin-top: 3vw"
              />
            </a>

            <br />

            <h1 style="font-weight: bold; color: #ff8d00">
              Solicitud: {{ solicitud.status }}
            </h1>

            <h3 class="mb-0" style="font-size: 1.6vw; color: #2196f3; font-weight: 400">
              Certificado solicitado: {{ solicitud.tipo_documento_name }}
            </h3>
            <h3 class="mb-3" style="font-size: 1.6vw; color: #2196f3; font-weight: 400">
              Código de solicitud: {{ solicitud.codigounico }}
            </h3>
            <h3 class="mb-3" style="font-size: 1.6vw; color: #2196f3; font-weight: 400">
              Nombre de convenio para pago en línea: COLEGIO CATOLICO CALI BACHILLERATO
            </h3>
            <h3 class="mb-0" style="font-size: 1vw; color: #2196f3; font-weight: 400">
              Favor tome nota del código y el siguiente link para hacer seguimiento a su
              solicitud.
              <br />
              https://pasareladepagos.colegiocatolicocali.edu.co/solicitud-{{
                solicitud.codigounico
              }}
            </h3>

            <br />
            <br />

            <a
              target="_blank"
              href="https://www.pagosvirtualesavvillas.com.co/personal/pagos/"
              v-if="solicitud.status == 'Pendiente de pago'"
              class="btn btn-primary"
              style="
                background-image: linear-gradient(#2196f3, #3f51b5);
                font-size: 23px;
                border: none;
                padding: 13px 25px;
              "
              disabled
            >
              Precio a pagar $ {{ solicitud.valor_pagar }}
            </a>

            <br />
            <br />
            <a href="http://colegiocatolicocali.edu.co/">
              <small style="color: #2196f3">WWW.COLEGIOCOTOLICOCALI.EDU.CO</small>
            </a>
            <br />
            <small style="color: #2196f3"
              >Cra 49 # 9b-42 Cali - Col. | Tel: 552 0795 - 315 549 7690</small
            >
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const appLoading = document.getElementById("loading-bg");

export default {
  props: ["codigounico"],
  created() {
    appLoading.style.display = "block";
    this.VerSolicitud(this.codigounico);
  },
  data() {
    return {
      solicitud: {},
    };
  },
  methods: {
    VerSolicitud(codigounico) {
      var url = "/api/solicitar/certificado/" + codigounico;
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.solicitud = response.data;
      });
    },
  },
};
</script>

<style scoped>
.bodyapp {
  background-image: url("/img/fondo.png") !important;
  background-repeat: no-repeat !important;
  background-size: 80% !important;
}
</style>
