<template>
  <div class="container">
    <div class="d-none d-lg-flex">
      <div class="col-8">
        <div class="d-flex">
          <div
            class="card bg-dark text-white mx-1"
            style="width: 28vw; height: fit-content"
          >
            <router-link :to="{ name: 'Matricula' }">
              <img src="/img/matriculate.jpg" class="card-img" alt="..." />
            </router-link>
          </div>

          <div
            class="card bg-dark text-white mx-1"
            style="width: 28vw; height: fit-content"
          >
            <router-link :to="{ name: 'Suscribcion de Extracurriculares' }">
              <img src="/img/extracurriculares.jpg" class="card-img" alt="..." />
            </router-link>
          </div>
        </div>
        <br />

        <div class="d-flex">
          <div
            class="card bg-dark text-white mx-1"
            style="width: 28vw; height: fit-content"
          >
            <router-link :to="{ name: 'Pago de Pension' }">
              <img src="/img/pension.jpg" class="card-img" alt="..." />
            </router-link>
          </div>

          <div
            class="card bg-dark text-white mx-1"
            style="width: 28vw; height: fit-content"
          >
            <a
              href="http://colegiocatolicocali.edu.co/product-category/diplomados/"
              target="_blank"
            >
              <img src="/img/tecnicas.jpg" class="card-img" alt="..." />
            </a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card mx-1">
          <div class="card-header">Solicitud de certificados</div>
          <ul class="list-group list-group-flush border">
            <template v-for="item in certificados">
              <template v-if="item.valor == 0">
                <li
                  class="list-group-item"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Certificado')"
                  :key="'SC-' + item.id"
                >
                  <span>{{ item.concepto }}</span>
                  <span class="float-right">Gratis</span>
                </li>
              </template>
              <template v-else>
                <li
                  class="list-group-item"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Certificado')"
                  :key="'SC-' + item.id"
                >
                  <span>{{ item.concepto }}</span>
                  <span class="float-right">$ {{ item.valor | addmiles }}</span>
                </li>
              </template>
            </template>
          </ul>

          <br />

          <div class="card-header">Cursos - Servicios</div>
          <ul class="list-group list-group-flush border">
            <!-- Cursos -->
            <template v-for="item in cursos">
              <template v-if="item.tarifa == 0">
                <li
                  class="list-group-item"
                  :key="'SC-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Curso')"
                >
                  <span>{{ item.asignatura }}</span>
                  <span class="float-right">Gratis</span>
                </li>
              </template>
              <template v-else>
                <li
                  class="list-group-item"
                  :key="'SC-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Curso')"
                >
                  <span>{{ item.asignatura }}</span>
                  <span class="float-right">$ {{ item.tarifa | addmiles }}</span>
                </li>
              </template>
            </template>

            <!-- Nivelacion -->
            <template v-for="item in nivelacion">
              <template v-if="item.valor == 0">
                <li
                  class="list-group-item"
                  :key="'SN-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Nivelacion')"
                >
                  <span>Curso de superación</span>
                  <span class="float-right">Gratis</span>
                </li>
              </template>
              <template v-else>
                <li
                  class="list-group-item"
                  :key="'SN-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Nivelacion')"
                >
                  <span>Curso de superación</span>
                  <span class="float-right">$ {{ item.valor | addmiles }}</span>
                </li>
              </template>
            </template>

            <!-- Transporte -->
            <template v-for="item in transporte">
              <template v-if="item.valor == 0">
                <li
                  class="list-group-item"
                  :key="'ST-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Transporte')"
                >
                  <span>{{ item.descripcion }}</span>
                  <span class="float-right">Gratis</span>
                </li>
              </template>
              <template v-else>
                <li
                  class="list-group-item"
                  :key="'ST-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Transporte')"
                >
                  <span>{{ item.descripcion }}</span>
                  <span class="float-right">$ {{ item.valor | addmiles }}</span>
                </li>
              </template>
            </template>

            <!-- Cafeteria -->
            <template v-for="item in cafeteria">
              <template v-if="item.valor == 0">
                <li
                  class="list-group-item"
                  :key="'SCA-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Cafeteria')"
                >
                  <span>{{ item.descripcion }}</span>
                  <span class="float-right">Gratis</span>
                </li>
              </template>
              <template v-else>
                <li
                  class="list-group-item"
                  :key="'SCA-' + item.id"
                  style="cursor: pointer"
                  @click="certificado_motivo(item, 'Cafeteria')"
                >
                  <span>{{ item.descripcion }}</span>
                  <span class="float-right">$ {{ item.valor | addmiles }}</span>
                </li>
              </template>
            </template>
          </ul>
        </div>
      </div>
    </div>

    <br />
  </div>
</template>

<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.ListCertificados();
    this.ListCursosYNivelacion();
  },
  data() {
    return {
      motivo: null,
      certificados: [],
      cursos: [],
      transporte: [],
      cafeteria: [],
      nivelacion: [],
    };
  },
  methods: {
    ListCertificados() {
      appLoading.style.display = "block";
      var url = "/api/acudiente/certificados/privados";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.certificados = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    ListCursosYNivelacion() {
      appLoading.style.display = "block";
      var url = "/api/acudiente/cursos";
      axios
        .post(url)
        .then((response) => {
          this.cursos = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });

      var url = "/api/acudiente/transporte";
      axios
        .post(url)
        .then((response) => {
          this.transporte = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });

      var url = "/api/acudiente/cafeteria";
      axios
        .post(url)
        .then((response) => {
          this.cafeteria = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });

      var url = "/api/acudiente/nivelacion";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.nivelacion = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    certificado_motivo(item, tramite) {
      if (this.user.deuda == 0) {
        if (tramite == "Certificado") {
          swal({
            title: "Motivo de solicitud del certificado",
            content: {
              element: "input",
              attributes: {
                placeholder: "Obligatorio",
              },
            },
            button: {
              text: "Siguiente",
              className: "btn-primary",
            },
          }).then((codigo) => {
            if (codigo) {
              this.motivo = codigo;
              if (item.valor == 0) {
                this.PayObjetoFree(item, tramite);
              } else {
                this.PreguntaPago(item, tramite);
              }
            }
          });
        } else {
          if (item.valor == 0) {
            this.PayObjetoFree(item, tramite);
          } else {
            if (tramite == "Nivelacion") {
              this.CuponDescuento(item, tramite);
            } else {
              this.PreguntaPago(item, tramite);
            }
          }
        }
      } else {
        swal({
          text: "Solicítelo personalmente en el colegio!",
        });
      }
    },
    CuponDescuento(item, tramite) {
      swal({
        title: "¿Tienes un código de descuento?",
        content: {
          element: "input",
          attributes: {
            placeholder: "Ingresar código de descuento (Opcional)",
          },
        },
        button: {
          text: "Procesar pago",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo) {
          appLoading.style.display = "block";
          var url = "/api/acudiente/descuento/" + codigo + "/" + tramite;
          axios
            .post(url)
            .then((response) => {
              appLoading.style.display = "none";
              if (response.data == "Bad") {
                this.$toastr.warning("Codigo Invalido!", null, options);
              } else {
                this.PreguntaPago(item, tramite, response.data);
              }
            })
            .catch((e) => {
              appLoading.style.display = "none";
              var errors = e.response.data.errors;
              var noti = this.$toastr.error;

              $.each(errors, function (i) {
                noti(errors[i][0], "Errores", options);
              });
            });
        } else {
          this.PreguntaPago(item, tramite, null);
        }
      });
    },
    PreguntaPago(item, tramite, descuento) {
      var total = 0;
      var subtotal = 0;
      if (tramite == "Certificado") {
        total = item.valor;
        subtotal = item.valor;
      }
      if (tramite == "Curso") {
        total = item.tarifa;
        subtotal = item.tarifa;
      }
      if (tramite == "Nivelacion") {
        total = item.valor;
        subtotal = item.valor;
      }
      if (tramite == "Transporte") {
        total = item.valor.replace(".", "");
        subtotal = item.valor.replace(".", "");
      }
      if (tramite == "Cafeteria") {
        total = item.valor.replace(".", "");
        subtotal = item.valor.replace(".", "");
      }
      if (descuento) {
        var monto = descuento.porcentaje;
        var total = total - monto;
      }
      if (total == 0) {
        this.Pagar_saldo(item, tramite, total, descuento, subtotal);
      } else {
        swal({
          title: "¿Usar saldo disponible o enviar a pasarela de pago?",
          buttons: {
            saldo: {
              text: "Saldo",
              value: "Saldo",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            pasarela: {
              text: "Pasarela",
              value: "Pasarela",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            defeat: {
              visible: false,
              closeModal: true,
              value: "Cerrar",
            },
          },
        }).then((value) => {
          if (value == "Saldo") {
            // Descontar saldo
            var saldo = 0;
            if (this.user.saldo > 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (this.user.saldo < 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (parseFloat(saldo) >= parseFloat(total)) {
              this.Pagar_saldo(item, tramite, total, descuento, subtotal);
            } else {
              swal("Saldo insuficiente!", {
                button: false,
              });
            }
          }
          if (value == "Pasarela") {
            // Enviar a pasarela
            this.PayObjeto(item, tramite, descuento);
          }
        });
      }
    },
    PayObjeto: function (item, tramite, descuento) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }
      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      if (tramite == "Certificado") {
        if (descuento) {
          var monto = descuento.porcentaje;
          var total = item.valor.replace(".", "");
          var precio = total - monto;
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
            monto +
            "&cupon=" +
            descuento.codigo +
            "&_tramite=Certificado&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor +
            "&certificado_motivo=" +
            this.motivo +
            "&acudiente_id=" +
            this.user.id;
        } else {
          var precio = item.valor.replace(".", "");
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Certificado&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor +
            "&certificado_motivo=" +
            this.motivo +
            "&acudiente_id=" +
            this.user.id;
        }
      }
      if (tramite == "Curso") {
        if (descuento) {
          var monto = descuento.porcentaje;
          var total = item.tarifa.replace(".", "");
          var precio = total - monto;
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
            monto +
            "&cupon=" +
            descuento.codigo +
            "&_tramite=Curso&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.tarifa +
            "&acudiente_id=" +
            this.user.id;
        } else {
          var precio = item.tarifa.replace(".", "");
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Curso&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.tarifa +
            "&acudiente_id=" +
            this.user.id;
        }
      }
      if (tramite == "Nivelacion") {
        if (descuento) {
          var monto = descuento.porcentaje;
          var total = item.valor.replace(".", "");
          var precio = total - monto;
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
            monto +
            "&cupon=" +
            descuento.codigo +
            "&_tramite=Nivelacion&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor +
            "&acudiente_id=" +
            this.user.id;
        } else {
          var precio = item.valor.replace(".", "");
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Nivelacion&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor +
            "&acudiente_id=" +
            this.user.id;
        }
      }
      if (tramite == "Transporte") {
        if (descuento) {
          var monto = descuento.porcentaje;
          var total = item.valor.replace(".", "");
          var precio = total - monto;
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
            monto +
            "&cupon=" +
            descuento.codigo +
            "&_tramite=Transporte&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor.replace(".", "") +
            "&acudiente_id=" +
            this.user.id;
        } else {
          var precio = item.valor.replace(".", "");
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Transporte&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor.replace(".", "") +
            "&acudiente_id=" +
            this.user.id;
        }
      }
      if (tramite == "Cafeteria") {
        if (descuento) {
          var monto = descuento.porcentaje;
          var total = item.valor.replace(".", "");
          var precio = total - monto;
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
            monto +
            "&cupon=" +
            descuento.codigo +
            "&_tramite=Cafeteria&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor.replace(".", "") +
            "&acudiente_id=" +
            this.user.id;
        } else {
          var precio = item.valor.replace(".", "");
          var url =
            "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Cafeteria&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&valor_subtotal=" +
            item.valor.replace(".", "") +
            "&acudiente_id=" +
            this.user.id;
        }
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago de " + tramite;
      reg.valor = precio.replace(".", "");
      reg.urlRespuesta = url;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
      // }
    },
    PayObjetoFree: function (item, tramite) {
      if (tramite == "Certificado") {
        this.$router.replace(
          "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Certificado&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&certificado_motivo=" +
            this.motivo +
            "&acudiente_id=" +
            this.user.id
        );
      }
      if (tramite == "Curso") {
        this.$router.replace(
          "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Curso&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&acudiente_id=" +
            this.user.id
        );
      }
      if (tramite == "Nivelacion") {
        this.$router.replace(
          "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Nivelacion&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&acudiente_id=" +
            this.user.id
        );
      }
      if (tramite == "Transporte") {
        this.$router.replace(
          "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Transporte&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&acudiente_id=" +
            this.user.id
        );
      }
      if (tramite == "Cafeteria") {
        this.$router.replace(
          "/respuestaCpv?aprobado=A&valor=0&valor_subtotal=0&_tramite=Cafeteria&_uid=" +
            item.id +
            "&servicio_id=" +
            item.id +
            "&acudiente_id=" +
            this.user.id
        );
      }
    },
    Pagar_saldo(item, tramite, total, descuento, subtotal) {
      appLoading.style.display = "block";
      var porcentaje = null;
      var codigo = null;
      var totalLocal = total;
      if (descuento) {
        porcentaje = descuento.porcentaje;
        codigo = descuento.codigo;
      }
      var url = "/api/acudiente/saldo-pago";
      axios
        .post(url, {
          aprobado: "A",
          valor: totalLocal,
          valor_subtotal: subtotal,
          _tramite: tramite,
          _uid: item.id,
          servicio_id: item.id,
          acudiente_id: this.user.id,
          certificado_motivo: this.motivo,
          descuento: porcentaje,
          cupon: codigo,
        })
        .then((response) => {
          this.motivo = null;
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Actualizar_saldo() {
      appLoading.style.display = "block";
      this.$store.dispatch("updateSaldo").then((response) => {
        appLoading.style.display = "none";
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
  },
};
</script>

<style scoped>
.card-header {
  background: #0f62ac;
  color: white;
}

li.list-group-item:hover {
  background: #ecf0f3;
}
</style>
