<template>
  <div class="col-12 px-5">
    <div class="row">
      <div class="col-12 text-center">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2"
          >¡Ahorra! una forma de administrar los pagos de la educación de tu hijo.</span
        >
      </div>

      <div class="form-group col-6">
        <label>Bolsillo</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text md-addon">$</span>
          </div>
          <input type="text" class="form-control" v-model="saldo" name="recarga" />
        </div>
      </div>

      <div class="form-group col-6 m-auto">
        <button
          type="submit"
          class="btn btn-primary btn-sm boton"
          @click="PayObjeto(saldo)"
          :disabled="!saldo"
        >
          Recarga tu bolsillo
        </button>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="control-label">Código</label>
        <input type="text" class="form-control" :value="user.codigo" disabled />
      </div>

      <div class="form-group col-6">
        <label class="control-label">Grado</label>
        <input type="text" class="form-control" :value="user.grado" disabled />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="control-label">Nombre estudiante</label>
        <input type="text" class="form-control" :value="user.name_estudiante" disabled />
      </div>

      <div class="form-group col-6">
        <label class="control-label">Correo electrónico</label>
        <input type="text" class="form-control" :value="user.email" disabled />
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="control-label">Nueva contraseña</label>
        <input type="password" class="form-control" v-model="user.password" />
      </div>

      <div class="form-group col-6 m-auto">
        <button
          type="submit"
          class="btn btn-primary btn-sm boton"
          @click="Update_pass(user)"
          :disabled="!user.password"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</template>
<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};
export default {
  mounted() {
    this.List();
  },
  watch: {
    saldo: function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.saldo = fomarteado;
    },
  },
  data() {
    return {
      user: { password: null },
      saldo: 0,
    };
  },
  methods: {
    List() {
      appLoading.style.display = "block";
      axios.get("/api/user").then((response) => {
        this.user = response.data;
        appLoading.style.display = "none";
      });
    },
    Update_pass(item) {
      appLoading.style.display = "block";
      axios
        .put("/api/acudiente/password", item)
        .then((response) => {
          this.List();
          this.$toastr.success("Contraseña actualizada!", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    PayObjeto: function (value) {
      var precio = value.replace(".", "");
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Recarga de saldo del sistema";
      reg.valor = precio.replace(".", "");
      reg.urlRespuesta =
        "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&valor_subtotal={valor}&_tramite=Recarga&acudiente_id=" +
        this.user.id;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
    },
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
  },
};
</script>
