<template>
  <div class="solicitud animated fadeIn">
    <div class="position-absolute" style="top: -6px; left: -6px">
      <button
        type="button"
        @click.prevent="statuslocal = false"
        class="btn btn-danger btn-sm p-2"
        style="border-radius: 100px; width: 40px; height: 40px"
      >
        <i class="fal fa-times" style="width: auto; font-size: 25px !important"></i>
      </button>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row formulario">
            <form-wizard
              @on-complete="SaveObjeto(datos)"
              color="#0f62ac"
              class="p-0 w-100"
            >
              <div class="text-justify" slot="title">
                <h2 class="text-primary m-0 pl-2" style="font-family: Arial Rounded MT">
                  Realiza tu solicitud de certificado!
                </h2>
              </div>

              <tab-content title="" :before-change="isFormValid1">
                <h2 style="font-size: 1.5rem">
                  <strong>
                    Información del solicitante: *Los campos marcados con asterisco son
                    obligatorios.
                  </strong>
                </h2>
                <hr />
                <form data-vv-scope="step-1">
                  <h5 class="mb-0">*Datos para facturación electrónica</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombres *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombres"
                          v-model="datos.nombres"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Nombres')"
                        >
                          {{ errors.first("step-1.Nombres") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Apellidos *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Apellidos"
                          v-model="datos.apellidos"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Apellidos')"
                        >
                          {{ errors.first("step-1.Apellidos") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento *</label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_doc"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Cédula de ciudadanía">
                            Cédula de ciudadanía
                          </option>
                          <option value="Cédula de extranjería">
                            Cédula de extranjería
                          </option>
                          <option value="Número de identificación tributaria">
                            Número de identificación tributaria
                          </option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Tipo de documento')"
                        >
                          {{ errors.first("step-1.Tipo de documento") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Número *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero"
                          v-model="datos.numero"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Numero')"
                        >
                          {{ errors.first("step-1.Numero") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Dirección *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion"
                          v-model="datos.direccion"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Direccion')"
                        >
                          {{ errors.first("step-1.Direccion") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Ciudad *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Ciudad"
                          v-model="datos.ciudad"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Ciudad')"
                        >
                          {{ errors.first("step-1.Ciudad") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Teléfono *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.telefono"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Telefono')"
                        >
                          {{ errors.first("step-1.Telefono") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Correo electrónico *</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Correo"
                          v-model="datos.correo"
                          v-validate="'required|email'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Correo')"
                        >
                          {{ errors.first("step-1.Correo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Responsabilidad fiscal *</label>
                        <select
                          class="browser-default custom-select"
                          name="Responsabilidad fiscal"
                          v-model="datos.responsabilidad_fiscal"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="No responsable de IVA">
                            No responsable de IVA
                          </option>
                          <option value="Responsable de IVA">Responsable de IVA</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Responsabilidad fiscal')"
                        >
                          {{ errors.first("step-1.Responsabilidad fiscal") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Actividad económica *</label>
                        <select
                          class="browser-default custom-select"
                          name="Canal de envió"
                          v-model="datos.actividad_economica"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Independiente">Independiente</option>
                          <option value="Asalariado">Asalariado</option>
                          <option value="Otro">Otro</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Canal de envió')"
                        >
                          {{ errors.first("step-1.Canal de envió") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.actividad_economica == 'Otro'">
                      <div class="md-form">
                        <label>Cuál *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cual"
                          v-model="datos.otro_cual"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Cual')"
                        >
                          {{ errors.first("step-1.Cual") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-0">* Datos del estudiante</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombres *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombres estudiante"
                          v-model="datos.nombres_estudiante"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Nombres estudiante')"
                        >
                          {{ errors.first("step-1.Nombres estudiante") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Apellidos *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Apellidos estudiante"
                          v-model="datos.apellidos_estudiante"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Apellidos estudiante')"
                        >
                          {{ errors.first("step-1.Apellidos estudiante") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento *</label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_doc_estudiente"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro Civil">Registro Civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cédula de ciudadanía">
                            Cédula de ciudadanía
                          </option>
                          <option value="Cédula de extranjería">
                            Cédula de extranjería
                          </option>
                          <option value="Número de identificación tributaria">
                            Número de identificación tributaria
                          </option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Tipo de documento')"
                        >
                          {{ errors.first("step-1.Tipo de documento") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Número *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero"
                          v-model="datos.numero_estudiente"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Numero')"
                        >
                          {{ errors.first("step-1.Numero") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Teléfono de contacto *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.telefono_estudiante"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Telefono')"
                        >
                          {{ errors.first("step-1.Telefono") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Correo electrónico de contacto *</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Correo electronico de contacto"
                          v-model="datos.correo_estudiante"
                          v-validate="'required|email'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Correo electronico de contacto')"
                        >
                          {{ errors.first("step-1.Correo electronico de contacto") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-0">* Datos para la elaboración del documento</h5>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Tipo de documento * </label>
                        <select
                          class="browser-default custom-select"
                          name="Tipo de documento"
                          v-model="datos.tipo_documento"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option
                            v-for="(item, index) in certificados"
                            :key="index"
                            :value="item.id"
                          >
                            {{ item.concepto }}
                          </option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Tipo de documento')"
                        >
                          {{ errors.first("step-1.Tipo de documento") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cantidad *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cantidad"
                          v-model="datos.cantidad"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Cantidad')"
                        >
                          {{ errors.first("step-1.Cantidad") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Año de promoción *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Año de promocion"
                          v-model="datos.año_promocion"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Año de promocion')"
                        >
                          {{ errors.first("step-1.Año de promocion") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Motivo *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Motivo"
                          v-model="datos.motivo"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Motivo')"
                        >
                          {{ errors.first("step-1.Motivo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Detalles del documento *</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Detalles del documento"
                          v-model="datos.datos_certificacion"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Detalles del documento')"
                        >
                          {{ errors.first("step-1.Detalles del documento") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Canal de envío *</label>
                        <select
                          class="browser-default custom-select"
                          name="Canal de envío"
                          v-model="datos.canal_envio"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Presencial">Presencial</option>
                          <option value="Vía correo electrónico">
                            Vía correo electrónico
                          </option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Canal de envío')"
                        >
                          {{ errors.first("step-1.Canal de envió") }}
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </tab-content>

              <template slot="footer" slot-scope="props">
                <div class="float-right" style="padding-bottom: 70px">
                  <div class="wizard-footer-left">
                    <wizard-button
                      v-if="props.activeTabIndex > 0"
                      @click.native="props.prevTab()"
                      :style="props.fillButtonStyle"
                      class="boton btn"
                    >
                      <i class="fas fa-arrow-left"></i>
                      Volver
                    </wizard-button>
                  </div>
                  <div class="wizard-footer-right">
                    <wizard-button
                      v-if="!props.isLastStep"
                      @click.native="props.nextTab()"
                      class="wizard-footer-right boton btn"
                      :style="props.fillButtonStyle"
                    >
                      Continuar Registro
                      <i class="fas fa-arrow-right"></i>
                    </wizard-button>
                    <wizard-button
                      v-else
                      @click.native="SaveObjeto(datos)"
                      class="wizard-footer-right finish-button boton btn"
                      :style="props.fillButtonStyle"
                    >
                      Solicitar
                      <i class="fas fa-check"></i>
                    </wizard-button>
                  </div>
                </div>
              </template>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Validator } from "vee-validate";
import { FormWizard, TabContent, WizardButton } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

import es from "vee-validate/dist/locale/es.js";
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";
import { Settings } from "luxon";
Settings.defaultLocale = "es";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: { status },
  components: { FormWizard, TabContent, WizardButton, Datetime },
  data() {
    return {
      statuslocal: false,
      certificados: [],
      datos: {
        nombres: null,
        apellidos: null,
        tipo_doc: null,
        numero: null,
        direccion: null,
        ciudad: null,
        telefono: null,
        correo: null,
        responsabilidad_fiscal: null,
        actividad_economica: null,
        otro_cual: null,
        nombres_estudiante: null,
        apellidos_estudiante: null,
        tipo_doc_estudiente: null,
        numero_estudiente: null,
        telefono_estudiante: null,
        correo_estudiante: null,
        tipo_documento: null,
        cantidad: null,
        año_promocion: null,
        motivo: null,
        datos_certificacion: null,
        canal_envio: null,
      },
    };
  },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        this.ListCertificados();
        $(".solicitud").removeClass("slideOutRight");
        $(".solicitud").addClass("slideInRight");
        $(".solicitud").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.datos = {
          nombres: null,
          apellidos: null,
          tipo_doc: null,
          numero: null,
          direccion: null,
          ciudad: null,
          telefono: null,
          correo: null,
          responsabilidad_fiscal: null,
          actividad_economica: null,
          otro_cual: null,
          nombres_estudiante: null,
          apellidos_estudiante: null,
          tipo_doc_estudiente: null,
          numero_estudiente: null,
          telefono_estudiante: null,
          correo_estudiante: null,
          tipo_documento: null,
          cantidad: null,
          año_promocion: null,
          motivo: null,
          datos_certificacion: null,
          canal_envio: null,
        };
        this.$validator.reset();
        $(".solicitud").removeClass("slideInRight");
        $(".solicitud").addClass("slideOutRight");
        $(".solicitud").fadeOut(800);
        this.$emit("close");
      }
    },
  },
  methods: {
    isFormValid1() {
      // return true;
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-1").then((result) => {
          if (result) {
            resolve(true);
          } else {
            reject("correct all values");
          }
        });
      });
    },
    ListCertificados() {
      appLoading.style.display = "block";
      var url = "/api/certificados/list";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.certificados = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    SaveObjeto: function (item) {
      appLoading.style.display = "block";
      var url = "/api/solicitar/certificado";
      axios
        .post(url, item)
        .then((response) => {
          appLoading.style.display = "none";
          this.$router.push("/solicitud-" + response.data);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>

<style scoped>
.vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
  position: relative;
  top: -9vh;
  height: 4px;
  left: 115vh;
  width: 73vh;
}
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
span.lever:after {
  background-color: #0f62ac !important;
}
.solicitud {
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 130px;
  top: 0px;
  /*border-left: 42px solid #673ab7bf;*/
  height: 100vh;
}
.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}
.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}
.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
.boton {
  margin-left: 0;
  background: #0f62ac !important;
  border-radius: 2pc;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 25px;
  border-color: #b1b1b1;
}
</style>
