<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <!-- Card -->
        <div
          class="card card-image"
          style="
            background: url(/img/documentos.png) round;
            height: 260px;
            background-color: #37c0ca;
          "
        >
          <!-- Content -->
          <div class="text-right text-white">
            <h1 class="h1 text-white" style="margin-right: 6vw; font-size: 4vw">
              Certificados solicitados
            </h1>
            <h2 class="mb-0 text-left" style="margin-left: 28vw; font-size: 1.7vw">
              Solicita los documentos que necesites a través de nuestra
              <br />
              plataforma online
            </h2>
          </div>
        </div>
        <!-- Card -->
      </div>

      <fulltable
        Plist="/api/acudiente/documentos"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.concepto }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td>{{ item.entrega }} días habiles</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-success"
                v-if="item.certificado_estado == 'Procesado'"
              >
                {{ item.certificado_estado }}
              </button>
              <button class="btn btn-sm btn-danger" v-else>
                {{ item.certificado_estado }}
              </button>
            </td>
            <td>$ {{ item.valor | addmiles }}</td>
            <td class="text-center" v-if="item.canal == 'Online'">
              <a
                target="_blank"
                :href="'/certificados/' + item.certificado_archivo"
                class="hoverpr"
                style="
                  color: black;
                  padding: 8px;
                  padding-bottom: 0 !important;
                  padding-top: 3px !important;
                "
                v-if="item.certificado_archivo != null"
              >
                Ver
                <i
                  class="hoverpr fas fa-file-pdf fa-2x"
                  style="font-size: 26px; color: #0f62ac"
                ></i>
              </a>
              <span v-else>Online</span>
            </td>
            <td v-else>{{ item.canal }}</td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      section: {
        crear: false,
        editar: false,
        editar_data: {},
      },
      columns: [
        {
          label: "Tipo de documento",
        },
        {
          label: "Fecha",
        },
        {
          label: "Tiempo de entrega",
        },
        {
          label: "Estado documento",
        },
        {
          label: "Valor",
        },
        {
          label: "Canal de envío",
        },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>

<style scoped>
.hoverpr:hover {
  color: #ff3547 !important;
}
.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
</style>
