<template>
  <div class="create animated fadeIn">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="row formulario" v-if="section == 'step1'">
            <div class="offset-8 col-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Codigo"
                  v-model="visual_code"
                  @keyup.enter="buscardatos(visual_code)"
                />
                <div class="input-group-prepend" @click="buscardatos(visual_code)">
                  <span
                    class="input-group-text"
                    id="basic-addon1"
                    style="cursor: pointer"
                  >
                    <i class="fas fa-search"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <h4 class="col-12 mb-0">Confirmar datos:</h4>
              <div class="col-3">
                <div class="md-form">
                  <label>Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.nombre"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Primer Apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.apellido1"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Segundo apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.apellido2"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Codigo estudiantil</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.codigo"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Numero de identificacion</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.numero"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Grado que cursa</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.grado"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Direccion</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.direccion"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.email"
                    disabled
                  />
                </div>
              </div>
            </div>

            <div class="row border-bottom">
              <h4 class="col-12 mb-0">Responsable (Acudiente):</h4>
              <div class="col-3">
                <div class="md-form">
                  <label>Nombre y apellidos</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.nombre_acudiente"
                    disabled
                  />
                </div>
              </div>

              <div class="col-2">
                <div class="md-form">
                  <label>C.c</label>
                  <input type="text" class="form-control" :value="visual.ide" disabled />
                </div>
              </div>

              <div class="col-2">
                <div class="md-form">
                  <label>Identificacion</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.numero_acudiente_expedicion"
                    disabled
                  />
                </div>
              </div>

              <div class="col-2">
                <div class="md-form">
                  <label>Telefono</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.telefono"
                    disabled
                  />
                </div>
              </div>

              <div class="col-3">
                <div class="md-form">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    :value="visual.email_acudiente"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row formulario" v-if="section == 'step2'">
            <div class="row">
              <h4 class="col-12 mb-0">
                Servicio a pagar:
                <span class="red-text" v-if="matricula_activa"
                  >Ya tiene matricula Activa</span
                >
              </h4>
              <div class="col">
                <div class="md-form">
                  <label>Servicio</label>
                  <select
                    class="browser-default custom-select"
                    style="font-size: 13px"
                    v-model="datos.servicio"
                    name="Servicio"
                    v-validate="'required'"
                  >
                    <option selected disabled>Seleccione</option>
                    <option value="Matricula">Matricula</option>
                    <option value="Extracurricular">Extracurricular</option>
                    <option value="Certificado">Certificado</option>
                    <option value="Curso">Curso</option>
                    <option value="Nivelacion">Nivelacion</option>
                    <option value="Saldo a favor">Saldo a favor</option>
                  </select>
                  <span class="text-danger text-sm" v-show="errors.has('Servicio')">{{
                    errors.first("Servicio")
                  }}</span>
                </div>
              </div>

              <template
                v-if="
                  datos.servicio == 'Extracurricular' ||
                  datos.servicio == 'Certificado' ||
                  datos.servicio == 'Curso' ||
                  datos.servicio == 'Nivelacion'
                "
              >
                <div class="col">
                  <div class="md-form">
                    <label>Opciones</label>
                    <select
                      class="browser-default custom-select"
                      style="font-size: 13px"
                      v-model="datos.servicio_id"
                    >
                      <option selected disabled>Seleccione</option>
                      <option v-for="item in servicios" :value="item" :key="item.id">
                        <span v-if="datos.servicio == 'Certificado'">{{
                          item.concepto
                        }}</span>
                        <span v-if="datos.servicio == 'Curso'">{{
                          item.asignatura
                        }}</span>
                        <span v-if="datos.servicio == 'Nivelacion'"
                          >Nivelacion final</span
                        >
                        <span v-else>{{ item.actividad }}</span>
                      </option>
                    </select>
                  </div>
                </div>
              </template>

              <div class="col" v-if="datos.servicio == 'Matricula'">
                <div class="md-form">
                  <label>Pension</label>
                  <select
                    class="browser-default custom-select"
                    style="font-size: 13px"
                    v-model="datos.pension"
                    name="Pension"
                    v-validate="'required'"
                  >
                    <option selected disabled>Seleccione</option>
                    <option value="10">10</option>
                    <option value="12">12</option>
                  </select>
                  <span class="text-danger text-sm" v-show="errors.has('Pension')">{{
                    errors.first("Pension")
                  }}</span>
                </div>
              </div>

              <div class="col">
                <div class="md-form" v-if="datos.servicio == 'Saldo a favor'">
                  <label>Valor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon">$</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="Valor"
                      v-model="datos.valor2"
                      v-validate="'required'"
                    />
                  </div>
                </div>
                <div class="md-form" v-else>
                  <label>Valor</label>
                  <span class="input-group-text justify-content-end">
                    $ {{ datos.valor | addmiles }}
                  </span>
                </div>
              </div>

              <div class="col">
                <div class="md-form">
                  <label>Tipo de pago</label>
                  <select
                    class="browser-default custom-select"
                    style="font-size: 13px"
                    v-model="datos.tipo_pago"
                    name="Tipo de pago"
                    v-validate="'required'"
                  >
                    <option selected disabled>Seleccione</option>
                    <option value="Datafono">Datafono</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Consignación">Consignación</option>
                  </select>
                  <span class="text-danger text-sm" v-show="errors.has('Tipo de pago')">{{
                    errors.first("Tipo de pago")
                  }}</span>
                </div>
              </div>

              <div class="col" v-if="datos.servicio == 'Certificado'">
                <div class="md-form">
                  <label>Motivo</label>
                  <input class="form-control" type="text" v-model="datos.motivo" />
                </div>
              </div>

              <div
                class="col"
                v-if="
                  datos.servicio != 'Certificado' && datos.servicio != 'Saldo a favor'
                "
              >
                <div class="md-form">
                  <label>Descuento</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="codigo"
                    v-model="codigo_descuento_servicios"
                  />
                </div>
              </div>
            </div>

            <br />

            <table class="table" v-if="deudas.length >= 1">
              <thead class="grey lighten-2">
                <tr>
                  <th scope="col">Servicio</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Valor</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in deudas" :key="item.id">
                  <td>
                    {{ item.servicio }}
                    <span v-if="item.servicio == 'Pension'">
                      {{ item.created_at | mes_format }}</span
                    >
                  </td>
                  <td>{{ item.descripcion || "N/A" }}</td>
                  <td>{{ item.created_at | formater_fecha }}</td>
                  <td>$ {{ item.valor | addmiles }}</td>
                  <td>
                    <div class="dropdown">
                      <a
                        class="boton btn btn-primary btn-sm dropdown-toggle"
                        href="#"
                        role="button"
                        :id="'dropdownMenuNivel-' + item.id"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Pague
                      </a>

                      <div class="dropdown-menu" @click="Stop_hide" style="left: -115px">
                        <div class="px-4 py-3" style="width: 15vw">
                          <div class="form-group">
                            <label>Tipo de pago</label>
                            <select
                              class="browser-default custom-select"
                              style="font-size: 13px"
                              v-model="tipo_pago"
                            >
                              <option selected disabled>Seleccione</option>
                              <option value="Datafono">Datafono</option>
                              <option value="Efectivo">Efectivo</option>
                              <option value="Consignación">Consignación</option>
                            </select>
                          </div>

                          <div v-if="item.servicio == 'Pension'">
                            <label>Descuento</label>
                            <input
                              class="form-control"
                              type="text"
                              placeholder="Codigo"
                              v-model="codigo_descuento"
                            />
                          </div>

                          <div class="text-center">
                            <button
                              class="boton btn btn-primary"
                              @click="Pagardeuda(item, tipo_pago, codigo_descuento)"
                            >
                              Pagar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row pt-2">
            <div class="col-12 text-right">
              <button
                type="button"
                @click.prevent="(statuslocal = false), (section = 'step1')"
                class="btn btn-primary btn-sm right btn-cancelar"
              >
                Cancelar
                <i
                  class="fal fa-reply"
                  style="width: auto; font-size: 12px !important"
                ></i>
              </button>
              <button
                class="btn btn-primary btn-sm right btn-save"
                :disabled="!isFormValid1"
                @click.prevent="Listar(visual.codigo), (section = 'step2')"
                v-if="section == 'step1'"
              >
                Seguir
                <i
                  class="fal fa-angle-right"
                  style="width: auto; font-size: 12px !important"
                ></i>
              </button>

              <button
                class="btn btn-primary btn-sm right btn-save"
                :disabled="!isFormValid2"
                @click.prevent="ValidarCupon(datos, codigo_descuento_servicios)"
                v-if="section == 'step2'"
              >
                Guardar
                <i
                  class="fal fa-angle-right"
                  style="width: auto; font-size: 12px !important"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";
import { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es.js";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: {
    status,
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      section: "step1",
      statuslocal: false,
      visual_code: null,
      servicios: [],
      visual: {
        nombre: null,
        apellido1: null,
        apellido2: null,
        codigo: null,
        numero: null,
        grado: null,
        direccion: null,
        email: null,
        nombre_acudiente: null,
        ide: null,
        numero_acudiente: null,
        email_acudiente: null,
        telefono: null,
      },
      deudas: [],
      tipo_pago: null,
      codigo_descuento: null,
      codigo_descuento_servicios: null,
      datos: {
        servicio: null,
        pension: 10,
        valor: null,
        valor2: null,
        tipo_pago: null,
        descuento: null,
        codigo: null,
        porcentaje: null,
        meses: null,
        servicio_id: null,
        motivo: null,
      },
      matricula_activa: null,
    };
  },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        $(".create").removeClass("slideOutRight");
        $(".create").addClass("slideInRight");
        $(".create").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.section = "step1";
        this.visual_code = null;
        this.tipo_pago = null;
        this.codigo_descuento = null;
        this.codigo_descuento_servicios = null;
        this.visual = {
          nombre: null,
          apellido1: null,
          apellido2: null,
          codigo: null,
          numero: null,
          grado: null,
          direccion: null,
          email: null,
          nombre_acudiente: null,
          ide: null,
          numero_acudiente: null,
          email_acudiente: null,
          telefono: null,
        };
        this.datos = {
          servicio: null,
          valor: null,
          valor2: null,
          tipo_pago: null,
          descuento: null,
          codigo: null,
          porcentaje: null,
          meses: null,
          servicio_id: null,
        };
        this.$validator.reset();
        $(".create").removeClass("slideInRight");
        $(".create").addClass("slideOutRight");
        $(".create").fadeOut(800);
        this.$emit("close");
      }
    },
    "datos.servicio"(value) {
      this.matricula_activa = null;
      this.datos.servicio_id = null;
      if (value == "Extracurricular") {
        this.filtrardatos(value);
      }
      if (value == "Certificado") {
        this.filtrardatos(value);
      }
      if (value == "Matricula") {
        if (this.visual.grado) {
          appLoading.style.display = "block";
          var url = "/api/admin/informe_pagos_manual/pagar/matricula";
          axios
            .post(url, {
              codigo: this.visual.codigo,
              grado: this.visual.grado,
            })
            .then((response) => {
              appLoading.style.display = "none";
              var today = new Date();
              var termina = new Date(response.data.matricula.termina_at_or);
              if (today >= termina) {
                this.datos.valor = response.data.matricula.valor_ex;
              } else {
                this.datos.valor = response.data.matricula.valor_or;
              }
              this.matricula_activa = response.data.matricula_activa;
            })
            .catch((e) => {
              appLoading.style.display = "none";
              var errors = e.response.data.errors;
              var noti = this.$toastr.error;

              $.each(errors, function (i) {
                noti(errors[i][0], "Errores", options);
              });
            });
        }
      }
      if (value == "Curso") {
        this.filtrardatos(value);
      }
      if (value == "Nivelacion") {
        this.filtrardatos(value);
      }
    },
    "datos.servicio_id"(value) {
      if (this.datos.servicio == "Certificado") {
        this.datos.valor = value.valor;
      }
      if (this.datos.servicio == "Extracurricular") {
        this.datos.valor = value.valor;
      }
      if (this.datos.servicio == "Curso") {
        this.datos.valor = value.valor;
      }
      if (this.datos.servicio == "Nivelacion") {
        this.datos.valor = value.valor;
      }
    },
    "datos.valor2": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.valor2 = fomarteado;
    },
  },
  computed: {
    isFormValid1() {
      return !this.errors.any() && this.visual.codigo;
    },
    isFormValid2() {
      if (this.matricula_activa) {
        return false;
      }
      if (this.datos.servicio == "Extracurricular") {
        return (
          !this.errors.any() &&
          this.datos.servicio &&
          this.datos.servicio_id &&
          this.datos.tipo_pago
        );
      }
      if (this.datos.servicio == "Certificado") {
        return (
          !this.errors.any() &&
          this.datos.servicio &&
          this.datos.servicio_id &&
          this.datos.tipo_pago
        );
      }
      if (this.datos.servicio == "Curso") {
        return (
          !this.errors.any() &&
          this.datos.servicio &&
          this.datos.servicio_id &&
          this.datos.tipo_pago
        );
      }
      if (this.datos.servicio == "Nivelacion") {
        return (
          !this.errors.any() &&
          this.datos.servicio &&
          this.datos.servicio_id &&
          this.datos.tipo_pago
        );
      }
      if (this.datos.servicio == "Saldo a favor") {
        return (
          !this.errors.any() &&
          this.datos.servicio &&
          this.datos.valor2 &&
          this.datos.tipo_pago
        );
      }

      return !this.errors.any() && this.datos.servicio && this.datos.tipo_pago;
    },
  },
  filters: {
    addmiles(nStr) {
      if (!nStr) {
        return 0;
      }
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
    mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
  },
  methods: {
    Stop_hide(e) {
      e.stopPropagation();
    },
    buscardatos: function (codigo) {
      appLoading.style.display = "block";
      var url = "/api/admin/informe_pagos_manual/buscar/" + codigo;
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          if (response.data == "Bad") {
            this.$toastr.warning("Estudiante no encontrado!", null, options);
          } else {
            this.datos.codigo = response.data.codigo_estuiante;
            // Estudiante
            this.visual.nombre = response.data.nombre_estudiante;
            this.visual.apellido1 = response.data.apellido1_estudiante;
            this.visual.apellido2 = response.data.apellido2_estudiante;
            this.visual.codigo = response.data.codigo_estuiante;
            this.visual.numero = response.data.dni_estudiante;
            this.visual.grado = response.data.grado_cursar_estudiante;
            this.visual.direccion = response.data.barrio_estudiante;
            this.visual.email = response.data.email_estudiante;
            // Acudiente
            this.visual.nombre_acudiente = response.data.acudiente_name;
            this.visual.ide = response.data.ide;
            this.visual.numero_acudiente_expedicion =
              response.data.numero_acudiente_expedicion;
            this.visual.email_acudiente = response.data.acudiente_email;
            this.visual.telefono = response.data.telefono;

            this.$toastr.success("Estudiante encontrado!", null, options);
          }
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    filtrardatos: function (servicio) {
      appLoading.style.display = "block";
      var url = "/api/admin/informe_pagos_manual/filtrar/" + servicio;
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.servicios = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Listar(codigo) {
      appLoading.style.display = "block";
      var url = "/api/admin/historico_cartera/" + codigo;
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.deudas = response.data;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    ValidarCupon(item, codigo) {
      if (codigo) {
        appLoading.style.display = "block";
        var url = "/api/acudiente/descuento/" + codigo + "/" + item.servicio;
        axios
          .post(url, {
            codigoUser: this.visual.codigo,
          })
          .then((response) => {
            appLoading.style.display = "none";
            if (response.data == "Bad") {
              this.$toastr.warning("Codigo Invalido!", null, options);
            } else {
              var porcentaje = parseInt(response.data.porcentaje);
              var descuento_m = (item.valor.replace(".", "") * porcentaje) / 100;
              var total = item.valor.replace(".", "") - descuento_m;
              var totalMiles = total;
              totalMiles += "";
              var x = totalMiles.split(".");
              var x1 = x[0];
              var x2 = x.length > 1 ? "." + x[1] : "";
              var rgx = /(\d+)(\d{3})/;
              while (rgx.test(x1)) {
                x1 = x1.replace(rgx, "$1" + "." + "$2");
              }
              totalMiles = x1 + x2;
              item.descontar = true;
              item.valor_pago = total;
              item.porcentaje = response.data.porcentaje;
              item.codigo = response.data.codigo;
              item.codigoUser = this.visual.codigo;

              this.SaveObjeto(item, item.valor.replace(".", ""));
              swal("Valor cobrado usando el descuento fue: $ " + totalMiles, {
                button: false,
              });
            }
          })
          .catch((e) => {
            appLoading.style.display = "none";
            var errors = e.response.data.errors;
            var noti = this.$toastr.error;

            $.each(errors, function (i) {
              noti(errors[i][0], "Errores", options);
            });
          });
      } else {
        if (item.servicio == "Saldo a favor") {
          this.SaveObjeto(item, item.valor2);
        } else {
          this.SaveObjeto(item, item.valor.replace(".", ""));
        }
      }
    },
    SaveObjeto(item, subtotal) {
      item.valor_subtotal = subtotal;
      if (!item.descontar) {
        // alert("PAgo sin codigo");
        item.codigoUser = this.visual.codigo;
        if (this.datos.servicio_id) {
          item.valor_pago = this.datos.servicio_id.valor;
          item.servicio_id = this.datos.servicio_id.id;
        }
        if (this.datos.servicio == "Saldo a favor") {
          item.valor_pago = this.datos.valor2;
        }
        if (this.datos.servicio == "Matricula") {
          item.valor_pago = this.datos.valor;
        }
      } else {
        // alert("PAgo con codigo");
        if (this.datos.servicio_id) {
          item.servicio_id = this.datos.servicio_id.id;
        }
      }
      appLoading.style.display = "block";
      var url = "/api/admin/informe_pagos_manual/pagar";
      axios
        .post(url, item)
        .then((response) => {
          if (response.data == "Bad") {
            this.$toastr.warning("Acudiente no encontrado!", null, options);
          } else {
            this.codigo_descuento_servicios = null;
            this.$toastr.success("Proceso realizado con exito", null, options);
          }
          appLoading.style.display = "none";
          this.$emit("listar");
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Pagardeuda(item, pago, codigo_descuento) {
      if (codigo_descuento) {
        this.CuponDescuentoDeuda(item, codigo_descuento, pago);
      } else {
        appLoading.style.display = "block";
        var url = "/api/admin/informe_pagos_manual/pagar_detalles";
        axios
          .put(url, {
            _tramite: item.servicio,
            valor: item.valor.replace(".", ""),
            valor_subtotal: item.valor.replace(".", ""),
            acudiente_id: item.acudiente_id,
            servicio_id: item.id,
            tipo_pago: pago,
            descuento: null,
            cupon: null,
          })
          .then((response) => {
            appLoading.style.display = "none";
            $("#app").click();
            this.Listar(this.visual.codigo);
            this.tipo_pago = null;
            this.codigo_descuento = null;
            this.$toastr.success("Pagado con exito!", null, options);
          })
          .catch((e) => {
            appLoading.style.display = "none";
            var errors = e.response.data.errors;
            var noti = this.$toastr.error;

            $.each(errors, function (i) {
              noti(errors[i][0], "Errores", options);
            });
          });
      }
    },
    CuponDescuentoDeuda(item, codigo, pago) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/descuento/" + codigo + "/" + item.servicio;
      axios
        .post(url, {
          user_id: item.acudiente_id,
        })
        .then((response) => {
          appLoading.style.display = "none";
          if (response.data == "Bad") {
            this.$toastr.warning("Codigo Invalido!", null, options);
          } else {
            var porcentaje = parseInt(response.data.porcentaje);
            var descuento_m = (item.valor.replace(".", "") * porcentaje) / 100;
            var total = item.valor.replace(".", "") - descuento_m;
            var totalMiles = parseInt(total);
            totalMiles += "";
            var x = totalMiles.split(".");
            var x1 = x[0];
            var x2 = x.length > 1 ? "." + x[1] : "";
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
              x1 = x1.replace(rgx, "$1" + "." + "$2");
            }
            totalMiles = x1 + x2;

            appLoading.style.display = "block";
            var url = "/api/admin/informe_pagos_manual/pagar_detalles";
            axios
              .put(url, {
                _tramite: item.servicio,
                valor: parseInt(total),
                valor_subtotal: item.valor.replace(".", ""),
                acudiente_id: item.acudiente_id,
                servicio_id: item.id,
                tipo_pago: pago,
                descuento: response.data.porcentaje,
                cupon: response.data.codigo,
              })
              .then((response) => {
                appLoading.style.display = "none";
                $("#app").click();
                this.Listar(this.visual.codigo);
                this.tipo_pago = null;
                this.codigo_descuento = null;
                swal("Valor cobrado usando el descuento fue: $ " + totalMiles, {
                  button: false,
                });
                this.$toastr.success("Pagado con exito!", null, options);
              })
              .catch((e) => {
                appLoading.style.display = "none";
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              });
          }
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>

<style scoped>
.create {
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 267px;
  top: 41px;
  padding-top: 23px;
  border-left: 30px solid #673ab7bf;
  padding-bottom: 29px;
  min-height: 594px;
  height: 91%;
}

.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}

.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}

.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
</style>
