<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Usuarios del sistema
        </h5>
      </div>

      <h2>Administradores:</h2>

      <fulltable
        Plist="/api/admin/usuarios/admin"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton boton"
            @click="section.crear = true"
          >
            <i class="far fa-plus"></i>
            Nuevo
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.email }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-blue-grey btn-sm boton"
                @click="(section.editar_data = item), (section.editar = true)"
              >
                Editar
              </button>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm boton"
                @click="Delete(item.id)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </template>
      </fulltable>

      <h2>Acudientes:</h2>

      <fulltable
        Plist="/api/admin/usuarios/acudiente"
        :Pcolumns="columns2"
        :checkall="false"
        ref="fullTable2"
      >
        <template slot="botones">
          <button
            type="button"
            class="btn btn-primary btn-sm boton boton"
            @click="UpdateGrados"
          >
            <i class="far fa-plus"></i>
            Actualizar grados
          </button>
          <button
            type="button"
            class="btn btn-primary btn-sm boton boton"
            @click="UpdateDatos"
          >
            <i class="far fa-plus"></i>
            Actualizar datos
          </button>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.codigo }}</td>
            <td>{{ item.name_estudiante }}</td>
            <td>{{ item.grado }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.pension }}</td>
            <td>$ {{ item.saldo | addmiles }}</td>
            <td>$ {{ item.deuda | addmiles }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-blue-grey btn-sm boton"
                @click="Restablecer(item.id)"
              >
                Restablecer
              </button>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>

    <Crear
      :status="section.crear"
      @listar="Listar(), (section.crear = false)"
      @close="section.crear = false"
    />
    <Editar
      :status="section.editar"
      :item="section.editar_data"
      @listar="Listar(), (section.editar = false)"
      @close="section.editar = false"
    />
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";
import Crear from "./recursos/Crear.vue";
import Editar from "./recursos/Editar.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable, Crear, Editar },
  data() {
    return {
      section: { crear: false, editar: false, editar_data: {} },
      columns: [
        { label: "Nombre" },
        { label: "Usuario" },
        { label: "Correo electronico" },
        { label: "Acciones" },
      ],
      columns2: [
        { label: "Usuario" },
        { label: "Nombre" },
        { label: "Grado" },
        { label: "Correo electronico" },
        { label: "Pension" },
        { label: "Saldo" },
        { label: "Deuda" },
        { label: "Acciones" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
      this.$refs.fullTable2.getProjects();
    },
    Restablecer(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/" + id;
          axios
            .put(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    Delete(id) {
      swal({
        title:
          "Estas seguro desea eliminar estos datos, despues de eliminados no los puedes recuperar?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: "Cancelar",
          defeat: "Si, eliminar",
        },
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    UpdateGrados() {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/update/grados";
          axios
            .put(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    UpdateDatos() {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/usuarios/update/datos";
          axios
            .put(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
</style>
