<template>
  <section>
    <div class="padre" v-if="matricula_activa == null">
      <div class="hijo">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2"> Usted no tiene matrícula activa actualmente.</span>
      </div>
    </div>
    <div class="container-fluid" v-else>
      <div class="col-12 d-flex">
        <!-- Card -->
        <div
          class="card card-image"
          style="background: url(/img/pension-fondo.png) round; height: 462px"
        >
          <!-- Content -->
          <div class="text-right text-white">
            <h1
              class="h1 text-white"
              style="margin-right: 2vw; margin-top: 2vh; font-size: 8vw"
            >
              Aprovecha!
            </h1>
            <h2 class="mb-0" style="margin-right: 0.5vw; font-size: 1.5vw">
              Despreocúpate de la pensión de tu hijo y ahorra con un rendimiento
              <br />
              equivalente al
            </h2>
          </div>
          <div class="d-flex justify-content-end mr-5">
            <span
              class="text-white font-weight-bold"
              style="font-size: 6vw; margin-right: 15vw"
            >
              <template v-if="this.pension_asignada">
                {{ this.pension_asignada.porcentaje }}%
              </template>
              <template v-else> 0% </template>
            </span>
            <div class="mt-5">
              <button
                class="btn btn-primary boton"
                :disabled="pago_año"
                @click="PreguntaPagoMulti(deudas.length)"
              >
                Pagar todo el año
              </button>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="col-12 text-center">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2">
          Nota: La pensión solo se puede configurar una vez al iniciar el año si no por
          defecto está a 10 meses.
        </span>
      </div>

      <br />

      <div
        class="border-bottom col-12 d-flex justify-content-between mb-2 pb-2"
        v-if="selectmeses.length >= 1"
      >
        <div class="p-0 m-auto">
          <span class="font-weight-normal">Pagar mas de 3 meses</span>
        </div>

        <div class="p-0 m-auto">
          <span class="font-weight-normal">Ahorra en el valor final pagando más de </span>
        </div>

        <div class="p-0 m-auto">
          <select
            class="browser-default custom-select"
            style="font-size: 13px; width: 8vw"
            v-model="meses"
          >
            <option selected disabled>Seleccione</option>
            <option v-for="item in selectmeses" :value="item" :key="item">
              {{ item }}
              <span>Meses</span>
            </option>
          </select>
        </div>

        <div class="p-0 m-auto">
          <span class="font-weight-normal">Valor: $ {{ calculuManual | addmiles }}</span>
        </div>

        <div class="p-0 m-auto">
          <button class="btn btn-primary boton" @click="PreguntaPagoMulti(meses)">
            Pagar
          </button>
        </div>
      </div>

      <br />
      <br />

      <div class="col-12">
        <table class="table">
          <thead class="grey lighten-2">
            <tr>
              <th scope="col">Mes</th>
              <th scope="col">Fecha de pago</th>
              <th scope="col">Valor</th>
              <th scope="col">Mora</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in deudas" :key="index">
              <td>{{ item.created_at | mes_format }}</td>
              <td>{{ item.created_at | formater_fecha }}</td>
              <td>{{ item.valor | addmiles }}</td>
              <td>
                <span v-if="item.mora == 'Si'"> Si </span>
                <span v-else> No </span>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-success btn-sm boton"
                  v-if="item.status == 'Pagada'"
                >
                  Pagada
                </button>
                <template v-else-if="item.status == 'activa'">
                  <button
                    type="button"
                    class="btn btn-sm boton btn-danger"
                    v-if="item.local_index == 0"
                    @click="CuponDescuento(item)"
                  >
                    Pagar
                  </button>
                  <button type="button" class="btn btn-sm boton btn-danger" v-else>
                    Pagar
                  </button>
                </template>
                <button
                  type="button"
                  class="btn btn-outline-blue-grey btn-sm boton"
                  v-else-if="item.status == 'preactiva'"
                  @click="CuponDescuento(item)"
                >
                  Pagar
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-blue-grey boton"
                  v-else-if="item.status == 'inactiva'"
                >
                  Pendiente
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      pension_asignada: null,
      matricula_activa: null,
      pago_pension: 10,
      pago_año: false,
      meses: 3,
      deudas: [],
      deuda: false,
    };
  },
  methods: {
    Listar() {
      appLoading.style.display = "block";
      var url = "/api/acudiente/pension/tarifa";
      axios
        .post(url)
        .then((response) => {
          appLoading.style.display = "none";
          this.pension_asignada = response.data.semejantes;
          this.deudas = response.data.deudas;
          this.matricula_activa = response.data.matricula_activa;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    CuponDescuento(item) {
      swal({
        title: "¿Tienes un código de descuento?",
        content: {
          element: "input",
          attributes: {
            placeholder: "Ingresar código de descuento (Opcional)",
          },
        },
        button: {
          text: "Procesar pago",
          className: "btn-primary",
        },
      }).then((codigo) => {
        if (codigo) {
          var tramite = "Pension";
          appLoading.style.display = "block";
          var url = "/api/acudiente/descuento/" + codigo + "/" + tramite;
          axios
            .post(url)
            .then((response) => {
              appLoading.style.display = "none";
              if (response.data == "Bad") {
                this.$toastr.warning("Codigo Invalido!", null, options);
              } else {
                this.PreguntaPago(item, response.data);
              }
            })
            .catch((e) => {
              appLoading.style.display = "none";
              var errors = e.response.data.errors;
              var noti = this.$toastr.error;

              $.each(errors, function (i) {
                noti(errors[i][0], "Errores", options);
              });
            });
        } else {
          this.PreguntaPago(item, null);
        }
      });
    },
    PreguntaPago(item, descuento) {
      var saldo = 0;
      var total = null;
      total = item.valor.replace(".", "");
      var btn = true;
      if (descuento) {
        btn = false;
        console.log(btn);
        var monto = descuento.porcentaje;
        var total = total - monto;
        $(".swal-button--pasarela").css("display", "none");
      }
      if (total == 0) {
        this.Pagar_saldo(item, descuento);
      } else {
        swal({
          title: "¿Usar saldo disponible o enviar a pasarela de pago?",
          buttons: {
            saldo: {
              text: "Saldo",
              value: "Saldo",
              visible: true,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            pasarela: {
              text: "Pasarela",
              value: "Pasarela",
              visible: btn,
              className: "btn-outline-blue-grey",
              closeModal: true,
            },
            defeat: {
              visible: false,
              closeModal: true,
              value: "Cerrar",
            },
          },
        }).then((value) => {
          if (value == "Saldo") {
            // Descontar saldo
            if (this.user.saldo > 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (this.user.saldo < 0) {
              saldo = this.user.saldo.replace(".", "");
            }
            if (parseFloat(saldo) >= parseFloat(total)) {
              this.Pagar_saldo(item, descuento);
            } else {
              swal("Saldo insuficiente!", {
                button: false,
              });
            }
            $(".swal-button--pasarela").css("display", "block");
          }
          if (value == "Pasarela") {
            // Enviar a pasarela
            this.PayObjeto(item, descuento);
          }
        });
      }
    },
    PayObjeto: function (item, descuento) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }
      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      var total = item.valor.replace(".", "");
      var url =
        "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}" +
        "&_tramite=Pension&_uid=" +
        item.id +
        "&valor_subtotal=" +
        item.valor.replace(".", "") +
        "&acudiente_id=" +
        this.user.id +
        "&opcion=CarteraInactiva";

      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago de Pension test";
      reg.valor = total;
      reg.urlRespuesta = url;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
    },
    Pagar_saldo(item, descuento) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/saldo-pago";
      var monto = null;
      var codigo = null;
      var total = null;
      var opcion = null;
      total = item.valor.replace(".", "");
      opcion = "CarteraInactiva";
      if (descuento) {
        monto = descuento.porcentaje;
        codigo = descuento.codigo;
        total = total - monto;
      }
      axios
        .post(url, {
          aprobado: "A",
          valor: total,
          valor_subtotal: item.valor.replace(".", ""),
          _tramite: "Pension",
          _uid: item.id,
          servicio_id: item.id,
          acudiente_id: this.user.id,
          descuento: monto,
          cupon: codigo,
          opcion: opcion,
        })
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Listar();
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    // Pago multiple
    PreguntaPagoMulti(meses) {
      swal({
        title: "¿Usar saldo disponible o enviar a pasarela de pago?",
        buttons: {
          saldo: {
            text: "Saldo",
            value: "Saldo",
            visible: true,
            className: "btn-outline-blue-grey",
            closeModal: true,
          },
          pasarela: {
            text: "Pasarela",
            value: "Pasarela",
            visible: true,
            className: "btn-outline-blue-grey",
            closeModal: true,
          },
          defeat: {
            visible: false,
            closeModal: true,
            value: "Cerrar",
          },
        },
      }).then((value) => {
        if (meses <= 9) {
          var porcentaje = 3;
        } else if (meses >= 10) {
          var porcentaje = 5;
        }
        var saldo = 0;
        var total = parseInt(this.deudas[0].valor) * meses;
        var descuento = (porcentaje / 100) * total;
        var total_descontado = parseInt(total) - parseInt(descuento);

        if (value == "Saldo") {
          // Descontar saldo
          if (this.user.saldo > 0) {
            saldo = this.user.saldo.replace(".", "");
          }
          if (this.user.saldo < 0) {
            saldo = this.user.saldo.replace(".", "");
          }
          if (parseFloat(saldo) >= parseFloat(total_descontado)) {
            this.Pagar_saldoMulti(meses, total, total_descontado, porcentaje);
          } else {
            swal("Saldo insuficiente!", {
              button: false,
            });
          }
        }
        if (value == "Pasarela") {
          // Enviar a pasarela
          this.PayObjetoMulti(meses, total, total_descontado, porcentaje);
        }
      });
    },
    PayObjetoMulti(meses, subtotal, total, porcentaje) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      // Procesa el evento al hacer clic en el botón de pago
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago multiple de pension";
      reg.valor = total;
      reg.urlRespuesta =
        "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Pension Multiple&meses=" +
        meses +
        "&descuento=" +
        porcentaje +
        "&valor_subtotal=" +
        subtotal +
        "&acudiente_id=" +
        this.user.id;

      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
    },
    Pagar_saldoMulti(meses, subtotal, total, porcentaje) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/saldo-pago";
      axios
        .post(url, {
          aprobado: "A",
          valor: total,
          valor_subtotal: subtotal,
          descuento: porcentaje,
          _tramite: "Pension Multiple",
          meses: meses,
          acudiente_id: this.user.id,
        })
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Listar();
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Actualizar_saldo() {
      appLoading.style.display = "block";
      this.$store.dispatch("updateSaldo").then((response) => {
        appLoading.style.display = "none";
      });
    },
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
    calculuManual() {
      if (this.meses <= 9) {
        var porcentaje = 3;
      } else if (this.meses >= 10) {
        var porcentaje = 5;
      }
      var total = parseInt(this.deudas[0].valor) * this.meses;
      var descuento = (porcentaje / 100) * total;
      var total_descontado = parseInt(total) - parseInt(descuento);

      return parseInt(total_descontado);
    },
    selectmeses() {
      var activas = false;
      var arreglo = [];
      var meses = [];
      var arregloLocal = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
      this.deudas.forEach((item) => {
        if (item.status == "inactiva") {
          meses.push(item);
        }
        if (item.status == "preactiva") {
          meses.push(item);
        }
        if (item.status == "activa") {
          activas = true;
        }
      });

      arregloLocal.forEach((item) => {
        if (item <= meses.length) {
          arreglo.push(item);
        }
      });
      if (meses.length <= 9) {
        this.pago_año = true;
      }

      if (this.deudas.length != meses.length) {
        this.pago_año = true;
      }
      if (activas) {
        return [];
      }

      return arreglo;
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];
        function convertir(mes) {
          var numeroMes = parseInt(mes) - parseInt(1);
          if (!isNaN(numeroMes) && numeroMes >= 0 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = convertir(mm);

        return today;
      }
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        return moment(fecha).format("DD-MM-YYYY");
      }
    },
  },
  watch: {
    deudas(arreglo) {
      let index = 0;
      arreglo.forEach((item) => {
        if (item.status == "activa") {
          item.local_index = index;
          index = index + 1;
        }
      });
    },
  },
};
</script>

<style scoped>
tbody > .text-center {
  display: none !important;
}

.pasarela-none {
  display: none !important;
}

.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
.padre {
  height: 88vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: 430px;
}
</style>
