<template>
  <div class="create animated fadeIn">
    <div class="container">
      <form method="POST">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="row pt-2">
              <div class="col-12 mb-4">
                <i class="fas fa-align-left" style="color: #673ab7bf"> </i>
                <strong>Nuevo: Matricula</strong>
              </div>
            </div>

            <div class="row formulario">
              <div class="col-6">
                <div class="md-form">
                  <label>Desde</label>
                  <select
                    class="browser-default custom-select"
                    style="font-size: 13px"
                    v-model="datos.desde"
                    name="Desde"
                    v-validate="'required'"
                  >
                    <option selected disabled>Seleccione</option>
                    <option v-for="(item, index) in grados" :value="item" :key="index">
                      {{ item.name }}
                    </option>
                  </select>
                  <span class="text-danger text-sm" v-show="errors.has('Desde')">{{
                    errors.first("Desde")
                  }}</span>
                </div>
              </div>

              <h3 class="border-bottom col-12 m-0 pb-2">Ordinaria:</h3>
              <div class="col-4">
                <div class="md-form">
                  <label>Inicia</label>
                  <input
                    type="date"
                    class="form-control"
                    name="Inicia_or"
                    v-model="datos.inicia_at_or"
                    v-validate="'required'"
                  />
                  <span class="text-danger text-sm" v-show="errors.has('Inicia_or')">{{
                    errors.first("Inicia_or")
                  }}</span>
                </div>
              </div>

              <div class="col-4">
                <div class="md-form">
                  <label>Termina</label>
                  <input
                    type="date"
                    class="form-control"
                    name="Termina_or"
                    v-model="datos.termina_at_or"
                    v-validate="'required'"
                  />
                  <span class="text-danger text-sm" v-show="errors.has('Termina_or')">{{
                    errors.first("Termina_or")
                  }}</span>
                </div>
              </div>

              <div class="col-4">
                <div class="md-form">
                  <label>Valor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon">$</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="Valor_or"
                      v-model="datos.valor_or"
                      v-validate="'required'"
                    />
                  </div>
                  <span class="text-danger text-sm" v-show="errors.has('Valor_or')">{{
                    errors.first("Valor_or")
                  }}</span>
                </div>
              </div>

              <h3 class="border-bottom col-12 m-0 pb-2">Extraordinaria:</h3>
              <div class="col-4">
                <div class="md-form">
                  <label>Inicia</label>
                  <input
                    type="date"
                    class="form-control"
                    name="Inicia_ex"
                    v-model="datos.inicia_at_ex"
                    v-validate="'required'"
                  />
                  <span class="text-danger text-sm" v-show="errors.has('Inicia_ex')">{{
                    errors.first("Inicia_ex")
                  }}</span>
                </div>
              </div>

              <div class="col-4">
                <div class="md-form">
                  <label>Termina</label>
                  <input
                    type="date"
                    class="form-control"
                    name="Termina_ex"
                    v-model="datos.termina_at_ex"
                    v-validate="'required'"
                  />
                  <span class="text-danger text-sm" v-show="errors.has('Termina_ex')">{{
                    errors.first("Termina_ex")
                  }}</span>
                </div>
              </div>

              <div class="col-4">
                <div class="md-form">
                  <label>Valor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon">$</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="Valor_ex"
                      v-model="datos.valor_ex"
                      v-validate="'required'"
                    />
                  </div>
                  <span class="text-danger text-sm" v-show="errors.has('Valor_ex')">{{
                    errors.first("Valor_ex")
                  }}</span>
                </div>
              </div>
            </div>

            <div class="row pt-2">
              <div class="col-12">
                <button
                  type="button"
                  @click.prevent="statuslocal = false"
                  class="btn btn-primary btn-sm right btn-cancelar"
                >
                  Cancelar
                  <i
                    class="fal fa-reply"
                    style="width: auto; font-size: 12px !important"
                  ></i>
                </button>

                <button
                  class="btn btn-primary btn-sm right btn-save"
                  :disabled="!isFormValid"
                  @click.prevent="SaveObjeto(datos)"
                >
                  Guardar y seguir
                  <i
                    class="fal fa-angle-right"
                    style="width: auto; font-size: 12px !important"
                  ></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { Validator } from "vee-validate";
import es from "vee-validate/dist/locale/es.js";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: { status },
  data() {
    return {
      statuslocal: false,
      datos: {
        desde: null,
        hasta: null,
        inicia_at_or: null,
        termina_at_or: null,
        valor_or: 0,
        inicia_at_ex: null,
        termina_at_ex: null,
        valor_ex: 0,
      },
      grados: [
        { id: 1, name: "Pre. Jardin" },
        { id: 2, name: "Jardin" },
        { id: 3, name: "Transicion" },
        { id: 4, name: "1" },
        { id: 5, name: "2" },
        { id: 6, name: "3" },
        { id: 7, name: "4" },
        { id: 8, name: "5" },
        { id: 9, name: "6" },
        { id: 10, name: "7" },
        { id: 11, name: "8" },
        { id: 12, name: "9" },
        { id: 13, name: "10" },
        { id: 14, name: "11" },
      ],
    };
  },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        $(".create").removeClass("slideOutRight");
        $(".create").addClass("slideInRight");
        $(".create").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.datos = {
          desde: null,
          hasta: null,
          inicia_at_or: null,
          termina_at_or: null,
          valor_or: 0,
          inicia_at_ex: null,
          termina_at_ex: null,
          valor_ex: 0,
        };
        this.$validator.reset();
        $(".create").removeClass("slideInRight");
        $(".create").addClass("slideOutRight");
        $(".create").fadeOut(800);
        this.$emit("close");
      }
    },
    "datos.valor_or": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.valor_or = fomarteado;
    },
    "datos.valor_ex": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.valor_ex = fomarteado;
    },
  },
  computed: {
    isFormValid() {
      return (
        !this.errors.any() &&
        this.datos.desde &&
        this.datos.inicia_at_or &&
        this.datos.termina_at_or &&
        this.datos.valor_or &&
        this.datos.inicia_at_ex &&
        this.datos.termina_at_ex &&
        this.datos.valor_ex
      );
    },
    formathasta() {
      var opcion = this.datos.desde;
      var arreglo = this.grados;
      var arreglo_format = [];
      if (opcion) {
        $.each(arreglo, function (i) {
          if (arreglo[i].id != opcion.id && arreglo[i].id > opcion.id) {
            arreglo_format.push(arreglo[i]);
          }
        });
      }

      return arreglo_format;
    },
  },
  methods: {
    SaveObjeto: function (item) {
      item.desde = item.desde.name;
      appLoading.style.display = "block";
      var url = "/api/admin/matriculas";
      axios
        .post(url, item)
        .then((response) => {
          appLoading.style.display = "none";
          this.$emit("listar");
          this.$toastr.success("Proceso realizado con exito", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>
<style scoped>
.create {
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 267px;
  top: 41px;
  padding-top: 23px;
  border-left: 30px solid #673ab7bf;
  padding-bottom: 29px;
  min-height: 594px;
  height: 91%;
}
.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}
.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}
.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
</style>
