<template>
  <div class="create animated fadeIn">
    <div class="position-absolute" style="top: 60px; left: 0px">
      <button
        type="button"
        @click.prevent="statuslocal = false"
        class="btn btn-danger btn-sm p-2"
        style="border-radius: 100px; width: 40px; height: 40px"
      >
        <i class="fal fa-times" style="width: auto; font-size: 25px !important"></i>
      </button>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row formulario">
            <form-wizard
              @on-complete="SaveObjeto(datos)"
              color="#0f62ac"
              class="p-0 w-100"
            >
              <div slot="title"></div>
              <tab-content title="null" :before-change="isFormValid1">
                <h2 style="font-size: 1.5rem">
                  <strong>Datos del Estudiante</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-1">
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombre completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step1_nombre_completo"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Nombre completo')"
                        >
                          {{ errors.first("step-1.Nombre completo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Primer apellido</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Primer apellido"
                          v-model="datos.step1_primer_apellido"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Primer apellido')"
                        >
                          {{ errors.first("step-1.Primer apellido") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Segundo apellido</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Segundo apellido"
                          v-model="datos.step1_segundo_apellido"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Segundo apellido')"
                        >
                          {{ errors.first("step-1.Segundo apellido") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Genero</label>
                        <select
                          class="browser-default custom-select"
                          name="Genero"
                          v-model="datos.step1_genero"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Genero')"
                        >
                          {{ errors.first("step-1.Genero") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step1_ide"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.IDE')"
                        >
                          {{ errors.first("step-1.IDE") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step1_identificacion"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Número de identificación')"
                        >
                          {{ errors.first("step-1.Número de identificación") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion de residencia</label>
                        <div class="d-flex">
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_1"
                            placeholder="Cll/Cra"
                          />
                          <small class="fa-1x mt-2">-</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_1_1"
                          />
                          <small class="fa-1x mt-2">No.</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_2"
                          />
                          <small class="fa-1x mt-2">-</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_3"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Barrio</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Barrio"
                          v-model="datos.step1_barrio"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Barrio')"
                        >
                          {{ errors.first("step-1.Barrio") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <!-- <datetime v-model="datos.step1_nacimiento_at">
                          <label for="startDate" slot="before">Fecha de nacimiento</label>
                          <template slot="button-cancel"> Cancelar </template>
                          <template slot="button-confirm"> Confirmar </template>
                        </datetime> -->

                        <datepicker
                          v-model="datos.step1_nacimiento_at"
                          name="step1_nacimiento_at"
                        ></datepicker>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Lugar de nacimiento</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Lugar de nacimiento"
                          v-model="datos.step1_lugar_nacimiento"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Lugar de nacimiento')"
                        >
                          {{ errors.first("step-1.Lugar de nacimiento") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Numero de telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero de telefono"
                          v-model="datos.step1_telefono"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Numero de telefono')"
                        >
                          {{ errors.first("step-1.Numero de telefono") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step1_email"
                          v-validate="'required|email'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Email')"
                        >
                          {{ errors.first("step-1.Email") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Institucion de la que viene</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Institucion de la que viene"
                          v-model="datos.step1_institucion_previa"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Institucion de la que viene')"
                        >
                          {{ errors.first("step-1.Institucion de la que viene") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Grado al que se va a inscribir</label>
                        <select
                          class="browser-default custom-select"
                          name="Lugar de nacimiento"
                          v-model="datos.step1_grado"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="PJ">Pre. Jardin</option>
                          <option value="JD">Jardin</option>
                          <option value="1">1ro</option>
                          <option value="2">2do</option>
                          <option value="3">3ro</option>
                          <option value="4">4to</option>
                          <option value="5">5to</option>
                          <option value="6">6to</option>
                          <option value="7">7mo</option>
                          <option value="8">8vo</option>
                          <option value="9">9no</option>
                          <option value="10">10mo</option>
                          <option value="11">11mo</option>
                          <option value="TR">Transicion</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Lugar de nacimiento')"
                        >
                          {{ errors.first("step-1.Lugar de nacimiento") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Motivo del cambio de colegio</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Motivo del cambio de instituto"
                          v-model="datos.step1_motivo_cambio"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-1.Motivo del cambio de instituto')"
                        >
                          {{ errors.first("step-1.Motivo del cambio de instituto") }}
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </tab-content>

              <tab-content title="null" :before-change="isFormValid2">
                <h2 style="font-size: 1.5rem">
                  <strong>Datos de Familiares</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-2">
                  <h2 class="border-bottom" style="font-size: 1.5rem">Padre</h2>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Estado</label>
                        <select
                          class="browser-default custom-select"
                          name="Estado"
                          v-model="datos.step2_estado_padre"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Soltero">Soltero</option>
                          <option value="Casado">Casado</option>
                          <option value="Divorciado">Divorciado</option>
                          <option value="Sin datos">Sin datos</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Estado')"
                        >
                          {{ errors.first("step-2.Estado") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>Nombre y apellido completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step2_nombre_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Nombre completo')"
                        >
                          {{ errors.first("step-2.Nombre completo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step2_ide_padre"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de extranjeria
                          </option>
                          <option value="Cedula de ciudadania">Pasaporte</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.IDE')"
                        >
                          {{ errors.first("step-2.IDE") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step2_identificacion_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Número de identificación')"
                        >
                          {{ errors.first("step-2.Número de identificación") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>L. expedicion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="L. expedicion"
                          v-model="datos.step2_expedicion_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.L. expedicion')"
                        >
                          {{ errors.first("step-2.L. expedicion") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="datos.step2_estado_padre != 'Sin datos'">
                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step2_email_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Email')"
                        >
                          {{ errors.first("step-2.Email") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Profesion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Profesion"
                          v-model="datos.step2_profesion_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Profesion')"
                        >
                          {{ errors.first("step-2.Profesion") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Nombre empresa</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre empresa"
                          v-model="datos.step2_empresa_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Nombre empresa')"
                        >
                          {{ errors.first("step-2.Nombre empresa") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cargo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cargo"
                          v-model="datos.step2_cargo_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Cargo')"
                        >
                          {{ errors.first("step-2.Cargo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Ingresos</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text md-addon">$</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="Ingreso Padre"
                            v-model="datos.step2_ingresos_padre"
                            v-validate="'required'"
                          />
                        </div>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Ingreso Padre')"
                        >
                          {{ errors.first("step-2.Ingreso Padre") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.step2_telefono_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Telefono')"
                        >
                          {{ errors.first("step-2.Telefono") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion padre"
                          v-model="datos.step2_direccion_padre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Direccion padre')"
                        >
                          {{ errors.first("step-2.Direccion padre") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <h2 class="border-bottom" style="font-size: 1.5rem">Madre</h2>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Estado</label>
                        <select
                          class="browser-default custom-select"
                          name="Estado"
                          v-model="datos.step2_estado_madre"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Soltero">Soltero</option>
                          <option value="Casado">Casado</option>
                          <option value="Divorciado">Divorciado</option>
                          <option value="Sin datos">Sin datos</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Estado')"
                        >
                          {{ errors.first("step-2.Estado") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>Nombre y apellido completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step2_nombre_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Nombre completo')"
                        >
                          {{ errors.first("step-2.Nombre completo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step2_ide_madre"
                          v-validate="'required'"
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de extranjeria
                          </option>
                          <option value="Cedula de ciudadania">Pasaporte</option>
                        </select>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.IDE')"
                        >
                          {{ errors.first("step-2.IDE") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step2_identificacion_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Número de identificación')"
                        >
                          {{ errors.first("step-2.Número de identificación") }}
                        </span>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>L. expedicion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="L. expedicion"
                          v-model="datos.step2_expedicion_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.L. expedicion')"
                        >
                          {{ errors.first("step-2.L. expedicion") }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="datos.step2_estado_madre != 'Sin datos'">
                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step2_email_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Email')"
                        >
                          {{ errors.first("step-2.Email") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Profesion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Profesion"
                          v-model="datos.step2_profesion_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Profesion')"
                        >
                          {{ errors.first("step-2.Profesion") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Nombre empresa</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre empresa"
                          v-model="datos.step2_empresa_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Nombre empresa')"
                        >
                          {{ errors.first("step-2.Nombre empresa") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cargo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cargo"
                          v-model="datos.step2_cargo_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Cargo')"
                        >
                          {{ errors.first("step-2.Cargo") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Ingreso</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text md-addon">$</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="Ingreso Madre"
                            v-model="datos.step2_ingresos_madre"
                            v-validate="'required'"
                          />
                        </div>
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Ingreso Madre')"
                        >
                          {{ errors.first("step-2.Ingreso Madre") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.step2_telefono_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Telefono')"
                        >
                          {{ errors.first("step-2.Telefono") }}
                        </span>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion madre"
                          v-model="datos.step2_direccion_madre"
                          v-validate="'required'"
                        />
                        <span
                          class="text-danger text-sm"
                          v-show="errors.has('step-2.Direccion madre')"
                        >
                          {{ errors.first("step-2.Direccion madre") }}
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </tab-content>

              <tab-content title="null" :before-change="isFormValid3">
                <h2 style="font-size: 1.5rem">
                  <strong>Entorno Familiar</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-3">
                  <div v-if="datos.step3_responsable == 'Acudiente'">
                    <h2 class="border-bottom" style="font-size: 1.5rem">Acudiente</h2>
                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Estado</label>
                          <select
                            class="browser-default custom-select"
                            name="Estado"
                            v-model="datos.step3_estado_otro"
                            v-validate="'required'"
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                          </select>
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Estado')"
                          >
                            {{ errors.first("step-3.Estado") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Parentesco</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Parentesco"
                            v-model="datos.step3_parentesco_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Parentesco')"
                          >
                            {{ errors.first("step-3.Parentesco") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Nombre y apellido completo</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre completo"
                            v-model="datos.step3_nombre_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Nombre completo')"
                          >
                            {{ errors.first("step-3.Nombre completo") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>IDE</label>
                          <select
                            class="browser-default custom-select"
                            name="IDE"
                            v-model="datos.step3_ide_otro"
                            v-validate="'required'"
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Registro civil">Registro civil</option>
                            <option value="Tarjeta de identidad">
                              Tarjeta de identidad
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de ciudadania
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de extranjeria
                            </option>
                            <option value="Cedula de ciudadania">Pasaporte</option>
                          </select>
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.IDE')"
                          >
                            {{ errors.first("step-3.IDE") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Número de identificación</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Número de identificación"
                            v-model="datos.step3_identificacion_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Número de identificación')"
                          >
                            {{ errors.first("step-3.Número de identificación") }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>L. expedicion</label>
                          <input
                            type="text"
                            class="form-control"
                            name="L. expedicion"
                            v-model="datos.step3_expedicion_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.L. expedicion')"
                          >
                            {{ errors.first("step-3.L. expedicion") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            name="Email"
                            v-model="datos.step3_email_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Email')"
                          >
                            {{ errors.first("step-3.Email") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Profesion</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Profesion"
                            v-model="datos.step3_profesion_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Profesion')"
                          >
                            {{ errors.first("step-3.Profesion") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Nombre empresa</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre empresa"
                            v-model="datos.step3_empresa_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Nombre empresa')"
                          >
                            {{ errors.first("step-3.Nombre empresa") }}
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Cargo</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Cargo"
                            v-model="datos.step3_cargo_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Cargo')"
                          >
                            {{ errors.first("step-3.Cargo") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Ingresos</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text md-addon">$</span>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              name="Ingreso Otro"
                              v-model="datos.step3_ingresos_otro"
                              v-validate="'required'"
                            />
                          </div>
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Ingreso Otro')"
                          >
                            {{ errors.first("step-3.Ingreso Otro") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Telefono</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Telefono"
                            v-model="datos.step3_telefono_otro"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Telefono')"
                          >
                            {{ errors.first("step-3.Telefono") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Direccion</label>
                          <div class="d-flex">
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_1_otro"
                              placeholder="Cll/Cra"
                            />
                            <small class="fa-1x mt-2">-</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_1_1_otro"
                            />
                            <small class="fa-1x mt-2">No.</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_2_otro"
                            />
                            <small class="fa-1x mt-2">-</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_3_otro"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4">Tiene hermanos:</label>
                    <div class="md-form d-flex mx-2">
                      <div class="custom-control custom-radio pl-1">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="check_si"
                          value="Si"
                          v-model="datos.step3_hermanos"
                        />
                        <label
                          class="custom-control-label"
                          for="check_si"
                          style="margin-top: 5vh !important"
                          >Si</label
                        >
                      </div>

                      <div class="custom-control custom-radio pl-1">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="check_no"
                          value="No"
                          v-model="datos.step3_hermanos"
                        />
                        <label
                          class="custom-control-label"
                          for="check_no"
                          style="margin-top: 5vh !important"
                          >No</label
                        >
                      </div>
                    </div>

                    <div class="md-form mx-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Cuantos"
                        v-model="datos.step3_cantidad"
                        :disabled="datos.step3_hermanos == 'No'"
                      />
                    </div>

                    <div class="md-form mx-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Lugar que ocupas"
                        name="Lugar que ocupas"
                        v-model="datos.step3_lugar_ocupado"
                        :disabled="datos.step3_hermanos == 'No'"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4"
                      >La persona responsable ante el colegio es:</label
                    >
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Responsable"
                        v-model="datos.step3_responsable"
                        v-validate="'required'"
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option
                          v-if="datos.step2_estado_madre != 'Sin datos'"
                          value="Madre"
                        >
                          Madre
                        </option>
                        <option
                          v-if="datos.step2_estado_padre != 'Sin datos'"
                          value="Padre"
                        >
                          Padre
                        </option>
                        <option value="Acudiente">Acudiente</option>
                      </select>
                      <span
                        class="text-danger text-sm"
                        v-show="errors.has('step-3.Responsable')"
                      >
                        {{ errors.first("step-3.Responsable") }}
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <h1 class="border-top red-text" style="font-size: 1rem">
                      Nota: Recuerda enviar copia del RUT actualizado con los documentos
                      en el momento de legalizar la matricula.
                    </h1>
                    <br />
                    <label class="mr-4 mt-4">
                      Responsable para la facturación electrónica:
                    </label>
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Responsable"
                        v-model="datos.step3_factura"
                        v-validate="'required'"
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option
                          v-if="datos.step2_estado_madre != 'Sin datos'"
                          value="Madre"
                        >
                          Madre
                        </option>
                        <option
                          v-if="datos.step2_estado_padre != 'Sin datos'"
                          value="Padre"
                        >
                          Padre
                        </option>
                        <option
                          v-if="datos.step3_responsable == 'Acudiente'"
                          value="Acudiente"
                        >
                          Acudiente
                        </option>
                        <option value="Otro">Otro</option>
                      </select>
                      <span
                        class="text-danger text-sm"
                        v-show="errors.has('step-3.Responsable')"
                      >
                        {{ errors.first("step-3.Responsable") }}
                      </span>
                    </div>
                  </div>

                  <div v-if="datos.step3_factura == 'Otro'">
                    <h2 style="font-size: 1.5rem">Otro</h2>
                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Tipo de persona</label>
                          <select
                            class="browser-default custom-select"
                            name="Estado"
                            v-model="datos.step3_tipo_persona_factura"
                            v-validate="'required'"
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Natural">Natural</option>
                            <option value="Jurídica">Jurídica</option>
                          </select>
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Estado')"
                          >
                            {{ errors.first("step-3.Estado") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label v-if="datos.step3_tipo_persona_factura == 'Natural'">
                            Nombre completo
                          </label>
                          <label v-else>Razón social</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre"
                            v-model="datos.step3_nombre_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Nombre')"
                          >
                            {{ errors.first("step-3.Nombre") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Tipo de identificación</label>
                          <select
                            class="browser-default custom-select"
                            name="Tipo de identificación"
                            v-model="datos.step3_tipo_id_factura"
                            v-validate="'required'"
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Cedula de ciudadania">
                              Cedula de ciudadania
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de extranjeria
                            </option>
                            <option value="Nit">Nit</option>
                            <option value="Otro">Otro</option>
                          </select>
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Tipo de identificación')"
                          >
                            {{ errors.first("step-3.Tipo de identificación") }}
                          </span>
                        </div>
                      </div>

                      <div class="col" v-if="datos.step3_tipo_id_factura == 'Otro'">
                        <div class="md-form">
                          <label>Cual</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Cual"
                            v-model="datos.step3_tipo_id_cual_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Cual')"
                          >
                            {{ errors.first("step-3.Cual") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Número de identificación</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Número de identificación"
                            v-model="datos.step3_identificacion_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Número de identificación')"
                          >
                            {{ errors.first("step-3.Número de identificación") }}</span
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Correo electrónico</label>
                          <input
                            type="email"
                            class="form-control"
                            name="Correo electrónico"
                            v-model="datos.step3_email_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Correo electrónico')"
                          >
                            {{ errors.first("step-3.Correo electrónico") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Teléfono fijo</label>
                          <input
                            type="tel"
                            class="form-control"
                            name="Teléfono fijo"
                            v-model="datos.step3_tel_fijo_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Teléfono fijo')"
                          >
                            {{ errors.first("step-3.Teléfono fijo") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Teléfono Celular</label>
                          <input
                            type="tel"
                            class="form-control"
                            name="Teléfono Celular"
                            v-model="datos.step3_tel_celular_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Teléfono Celular')"
                          >
                            {{ errors.first("step-3.Teléfono Celular") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>País</label>
                          <input
                            type="text"
                            class="form-control"
                            name="País"
                            v-model="datos.step3_pais_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.País')"
                          >
                            {{ errors.first("step-3.País") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Ciudad</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Ciudad"
                            v-model="datos.step3_ciudad_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Ciudad')"
                          >
                            {{ errors.first("step-3.Ciudad") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Departamento</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Departamento"
                            v-model="datos.step3_departamento_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Departamento')"
                          >
                            {{ errors.first("step-3.Departamento") }}
                          </span>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Dirección</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Dirección"
                            v-model="datos.step3_direccion_factura"
                            v-validate="'required'"
                          />
                          <span
                            class="text-danger text-sm"
                            v-show="errors.has('step-3.Dirección')"
                          >
                            {{ errors.first("step-3.Dirección") }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4">Por que medio conociste el colegio:</label>
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Medio Conocido"
                        v-model="datos.step3_medio_conocido"
                        v-validate="'required'"
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option value="Internet">Internet</option>
                        <option value="Redes sociales">Redes sociales</option>
                        <option value="Recomendación">Recomendación</option>
                        <option value="Otro">Otro</option>
                      </select>
                      <span
                        class="text-danger text-sm"
                        v-show="errors.has('step-3.Medio Conocido')"
                      >
                        {{ errors.first("step-3.Medio Conocido") }}
                      </span>
                    </div>

                    <div
                      class="md-form mx-2"
                      v-if="
                        datos.step3_medio_conocido == 'Recomendación' ||
                        datos.step3_medio_conocido == 'Otro'
                      "
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Mas informacion"
                        name="Mas informacion"
                        v-model="datos.step3_medio_conocido_mas"
                        v-validate="'required'"
                      />
                      <span
                        class="text-danger text-sm"
                        v-show="errors.has('step-3.Mas informacion')"
                      >
                        {{ errors.first("step-3.Mas informacion") }}
                      </span>
                    </div>
                  </div>

                  <div class="row">
                    <label>Tipo de pago:</label>
                    <select
                      class="browser-default custom-select col-2 ml-4"
                      style="font-size: 13px"
                      v-model="datos.tipo_pago"
                      name="Tipo de pago"
                      v-validate="'required'"
                    >
                      <option selected disabled>Seleccione</option>
                      <option value="Datafono">Datafono</option>
                      <option value="Efectivo">Efectivo</option>
                      <option value="Consignación">Consignación</option>
                    </select>
                    <span
                      class="text-danger text-sm"
                      v-show="errors.has('step-3.Tipo de pago')"
                    >
                      {{ errors.first("step-3.Tipo de pago") }}
                    </span>
                  </div>
                </form>
              </tab-content>

              <template slot="footer" slot-scope="props">
                <div class="float-right" style="padding-bottom: 70px">
                  <div class="wizard-footer-left">
                    <wizard-button
                      v-if="props.activeTabIndex > 0"
                      @click.native="props.prevTab()"
                      :style="props.fillButtonStyle"
                      class="boton btn"
                    >
                      <i class="fas fa-arrow-left"></i>
                      Volver
                    </wizard-button>
                  </div>
                  <div class="wizard-footer-right">
                    <wizard-button
                      v-if="!props.isLastStep"
                      @click.native="props.nextTab()"
                      class="wizard-footer-right boton btn"
                      :style="props.fillButtonStyle"
                    >
                      Continuar Registro
                      <i class="fas fa-arrow-right"></i>
                    </wizard-button>
                    <wizard-button
                      v-else
                      @click.native="SaveObjeto(datos)"
                      class="wizard-footer-right finish-button boton btn"
                      :style="props.fillButtonStyle"
                    >
                      Generar ingreso
                      <i class="fas fa-check"></i>
                    </wizard-button>
                  </div>
                </div>
              </template>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Validator } from "vee-validate";
import { FormWizard, TabContent, WizardButton } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

import Datepicker from "vuejs-datepicker";
import es from "vee-validate/dist/locale/es.js";
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";
import { Settings } from "luxon";
Settings.defaultLocale = "es";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: { status },
  components: { FormWizard, TabContent, WizardButton, Datetime, Datepicker },
  data() {
    return {
      statuslocal: false,
      precio: null,
      datos: {
        tipo_pago: null,
        // Paso 1
        step1_nombre_completo: null,
        step1_primer_apellido: null,
        step1_segundo_apellido: null,
        step1_genero: null,
        step1_ide: null,
        step1_identificacion: null,
        step1_direccion_1: null,
        step1_direccion_1_1: null,
        step1_direccion_2: null,
        step1_direccion_3: null,
        step1_barrio: null,
        step1_nacimiento_at: null,
        step1_lugar_nacimiento: null,
        step1_telefono: null,
        step1_email: null,
        step1_institucion_previa: null,
        step1_grado: null,
        step1_motivo_cambio: null,
        // Paso 2
        step2_estado_padre: null,
        step2_nombre_padre: null,
        step2_ide_padre: null,
        step2_identificacion_padre: null,
        step2_expedicion_padre: null,
        step2_email_padre: null,
        step2_profesion_padre: null,
        step2_empresa_padre: null,
        step2_cargo_padre: null,
        step2_ingresos_padre: null,
        step2_telefono_padre: null,
        step2_direccion_padre: null,
        step2_estado_madre: null,
        step2_nombre_madre: null,
        step2_ide_madre: null,
        step2_identificacion_madre: null,
        step2_expedicion_madre: null,
        step2_email_madre: null,
        step2_profesion_madre: null,
        step2_empresa_madre: null,
        step2_cargo_madre: null,
        step2_ingresos_madre: null,
        step2_telefono_madre: null,
        step2_direccion_madre: null,
        // Paso 3
        step3_hermanos: "No",
        step3_cantidad: null,
        step3_lugar_ocupado: null,
        step3_responsable: null,
        step3_medio_conocido: null,
        step3_estado_otro: null,
        step3_parentesco_otro: null,
        step3_nombre_otro: null,
        step3_ide_otro: null,
        step3_identificacion_otro: null,
        step3_expedicion_otro: null,
        step3_email_otro: null,
        step3_profesion_otro: null,
        step3_empresa_otro: null,
        step3_cargo_otro: null,
        step3_ingresos_otro: null,
        step3_telefono_otro: null,
        step3_direccion_1_otro: null,
        step3_direccion_1_1_otro: null,
        step3_direccion_2_otro: null,
        step3_direccion_3_otro: null,
        step3_factura: null,
        step3_tipo_persona_factura: null,
        step3_nombre_factura: null,
        step3_tipo_id_factura: null,
        step3_tipo_id_cual_factura: null,
        step3_identificacion_factura: null,
        step3_email_factura: null,
        step3_tel_fijo_factura: null,
        step3_tel_celular_factura: null,
        step3_pais_factura: null,
        step3_ciudad_factura: null,
        step3_departamento_factura: null,
        step3_direccion_factura: null,
        step3_medio_conocido_mas: null,
      },
    };
  },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        // this.datos.step1_nacimiento_at = moment(new Date()).format("D MMMM YYYY");
        this.PrecioPostulacion();
        $(".create").removeClass("slideOutRight");
        $(".create").addClass("slideInRight");
        $(".create").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.datos = {
          tipo_pago: null,
          // Paso 1
          step1_nombre_completo: null,
          step1_primer_apellido: null,
          step1_segundo_apellido: null,
          step1_genero: null,
          step1_ide: null,
          step1_identificacion: null,
          step1_direccion_1: null,
          step1_direccion_1_1: null,
          step1_direccion_2: null,
          step1_direccion_3: null,
          step1_barrio: null,
          step1_nacimiento_at: null,
          step1_lugar_nacimiento: null,
          step1_telefono: null,
          step1_email: null,
          step1_institucion_previa: null,
          step1_grado: null,
          step1_motivo_cambio: null,
          // Paso 2
          step2_estado_padre: null,
          step2_nombre_padre: null,
          step2_ide_padre: null,
          step2_identificacion_padre: null,
          step2_expedicion_padre: null,
          step2_email_padre: null,
          step2_profesion_padre: null,
          step2_empresa_padre: null,
          step2_cargo_padre: null,
          step2_ingresos_padre: null,
          step2_telefono_padre: null,
          step2_direccion_padre: null,
          step2_estado_madre: null,
          step2_nombre_madre: null,
          step2_ide_madre: null,
          step2_identificacion_madre: null,
          step2_expedicion_madre: null,
          step2_email_madre: null,
          step2_profesion_madre: null,
          step2_empresa_madre: null,
          step2_cargo_madre: null,
          step2_ingresos_madre: null,
          step2_telefono_madre: null,
          step2_direccion_madre: null,
          // Paso 3
          step3_hermanos: "No",
          step3_cantidad: null,
          step3_lugar_ocupado: null,
          step3_responsable: null,
          step3_medio_conocido: null,
          step3_estado_otro: null,
          step3_parentesco_otro: null,
          step3_nombre_otro: null,
          step3_ide_otro: null,
          step3_identificacion_otro: null,
          step3_expedicion_otro: null,
          step3_email_otro: null,
          step3_profesion_otro: null,
          step3_empresa_otro: null,
          step3_cargo_otro: null,
          step3_ingresos_otro: null,
          step3_telefono_otro: null,
          step3_direccion_1_otro: null,
          step3_direccion_1_1_otro: null,
          step3_direccion_2_otro: null,
          step3_direccion_3_otro: null,
          step3_factura: null,
          step3_tipo_persona_factura: null,
          step3_nombre_factura: null,
          step3_tipo_id_factura: null,
          step3_tipo_id_cual_factura: null,
          step3_identificacion_factura: null,
          step3_email_factura: null,
          step3_tel_fijo_factura: null,
          step3_tel_celular_factura: null,
          step3_pais_factura: null,
          step3_ciudad_factura: null,
          step3_departamento_factura: null,
          step3_direccion_factura: null,
          step3_medio_conocido_mas: null,
        };
        this.$validator.reset();
        $(".create").removeClass("slideInRight");
        $(".create").addClass("slideOutRight");
        $(".create").fadeOut(800);
        this.$emit("close");
      }
    },
    "datos.step2_ingresos_padre": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.step2_ingresos_padre = fomarteado;
    },
    "datos.step2_ingresos_madre": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.step2_ingresos_madre = fomarteado;
    },
    "datos.step3_ingresos_otro": function (value) {
      var fomarteado = 0;
      var num = value.replace(/\./g, "");
      if (!isNaN(num)) {
        num = num
          .toString()
          .split("")
          .reverse()
          .join("")
          .replace(/(?=\d*\.?)(\d{3})/g, "$1.");
        num = num.split("").reverse().join("").replace(/^[\.]/, "");
        fomarteado = num;
      }
      this.datos.step3_ingresos_otro = fomarteado;
    },
  },
  methods: {
    isFormValid1() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-1").then((result) => {
          if (result) {
            resolve(true);
          } else {
            reject("correct all values");
          }
        });
      });
    },
    isFormValid2() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-2").then((result) => {
          if (result) {
            resolve(true);
          } else {
            reject("correct all values");
          }
        });
      });
    },
    isFormValid3() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll("step-3").then((result) => {
          if (result) {
            resolve(true);
          } else {
            reject("correct all values");
          }
        });
      });
    },
    PrecioPostulacion: function (item) {
      appLoading.style.display = "block";
      var url = "/api/postulacion/precio";
      axios
        .post(url, item)
        .then((response) => {
          appLoading.style.display = "none";
          // console.log(response.data.precio_ingreso);
          this.precio = response.data.precio_ingreso;
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    SaveObjeto: function (item) {
      appLoading.style.display = "block";
      var url = "/api/postulacion/solicitud_ingreso/manual";
      axios
        .post(url, item)
        .then((response) => {
          this.$toastr.success("Proceso realizado con exito", null, options);
          this.$emit("listar");
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
};
</script>

<style scoped>
.vue-form-wizard .wizard-nav-pills {
  display: none !important;
}
/* .vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
  display: none !important;;
} */
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
span.lever:after {
  background-color: #0f62ac !important;
}
.create {
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 130px;
  top: 0px;
  /*border-left: 42px solid #673ab7bf;*/
  height: 100vh;
}
.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}
.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}
.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
.boton {
  margin-left: 0;
  background: #0f62ac !important;
  border-radius: 2pc;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 25px;
  border-color: #b1b1b1;
}
</style>
