<template>
  <div class="edit animated fadeIn">
    <div class="position-absolute" style="top: 70px; left: -5px">
      <button
        type="button"
        @click.prevent="statuslocal = false"
        class="btn btn-danger btn-sm p-2"
        style="border-radius: 100px; width: 40px; height: 40px"
      >
        <i class="fal fa-times" style="width: auto; font-size: 25px !important"></i>
      </button>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row formulario">
            <form-wizard color="#0f62ac" class="p-0 w-100">
              <div slot="title"></div>
              <tab-content title="null">
                <h2 style="font-size: 1.5rem">
                  <strong>Datos del Estudiante</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-1">
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Nombre completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step1_nombre_completo"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Primer apellido</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Primer apellido"
                          v-model="datos.step1_primer_apellido"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Segundo apellido</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Segundo apellido"
                          v-model="datos.step1_segundo_apellido"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Genero</label>
                        <select
                          class="browser-default custom-select"
                          name="Genero"
                          v-model="datos.step1_genero"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step1_ide"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step1_identificacion"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion de residencia</label>
                        <div class="d-flex">
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_1"
                            placeholder="Cll/Cra"
                            disabled
                          />
                          <small class="fa-1x mt-2">-</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_1_1"
                            disabled
                          />
                          <small class="fa-1x mt-2">No.</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_2"
                            disabled
                          />
                          <small class="fa-1x mt-2">-</small>
                          <input
                            type="text"
                            class="form-control text-center"
                            v-model="datos.step1_direccion_3"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Barrio</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Barrio"
                          v-model="datos.step1_barrio"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Fecha de nacimiento</label>
                        <input
                          type="text"
                          :value="datos.step1_nacimiento_at | formater_fecha"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Lugar de nacimiento</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Lugar de nacimiento"
                          v-model="datos.step1_lugar_nacimiento"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Numero de telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Numero de telefono"
                          v-model="datos.step1_telefono"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step1_email"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Institucion de la que viene</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Institucion de la que viene"
                          v-model="datos.step1_institucion_previa"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Grado al que se va a inscribir</label>
                        <select
                          class="browser-default custom-select"
                          name="Lugar de nacimiento"
                          v-model="datos.step1_grado"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Pre. Jardin">Pre. Jardin</option>
                          <option value="Jardin">Jardin</option>
                          <option value="1">1ro</option>
                          <option value="2">2do</option>
                          <option value="3">3ro</option>
                          <option value="4">4to</option>
                          <option value="5">5to</option>
                          <option value="6">6to</option>
                          <option value="7">7mo</option>
                          <option value="8">8vo</option>
                          <option value="9">9no</option>
                          <option value="10">10mo</option>
                          <option value="11">11mo</option>
                          <option value="Transicion">Transicion</option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Motivo del cambio de colegio</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Motivo del cambio de instituto"
                          v-model="datos.step1_motivo_cambio"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </tab-content>

              <tab-content title="null">
                <h2 style="font-size: 1.5rem">
                  <strong>Datos de Familiares</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-2">
                  <h2 class="border-bottom" style="font-size: 1.5rem">Padre</h2>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Estado</label>
                        <select
                          class="browser-default custom-select"
                          name="Estado"
                          v-model="datos.step2_estado_padre"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Soltero">Soltero</option>
                          <option value="Casado">Casado</option>
                          <option value="Divorciado">Divorciado</option>
                          <option value="Sin datos">Sin datos</option>
                        </select>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>Nombre y apellido completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step2_nombre_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step2_ide_padre"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de extranjeria
                          </option>
                          <option value="Cedula de ciudadania">Pasaporte</option>
                        </select>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step2_identificacion_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_padre != 'Sin datos'">
                      <div class="md-form">
                        <label>L. expedicion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="L. expedicion"
                          v-model="datos.step2_expedicion_padre"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="datos.step2_estado_padre != 'Sin datos'">
                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step2_email_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Profesion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Profesion"
                          v-model="datos.step2_profesion_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Nombre empresa</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre empresa"
                          v-model="datos.step2_empresa_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cargo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cargo"
                          v-model="datos.step2_cargo_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Ingresos</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text md-addon">$</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="Ingreso Padre"
                            v-model="datos.step2_ingresos_padre"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.step2_telefono_padre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion padre"
                          v-model="datos.step2_direccion_padre"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <h2 class="border-bottom" style="font-size: 1.5rem">Madre</h2>
                  <div class="row">
                    <div class="col">
                      <div class="md-form">
                        <label>Estado</label>
                        <select
                          class="browser-default custom-select"
                          name="Estado"
                          v-model="datos.step2_estado_madre"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Soltero">Soltero</option>
                          <option value="Casado">Casado</option>
                          <option value="Divorciado">Divorciado</option>
                          <option value="Sin datos">Sin datos</option>
                        </select>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>Nombre y apellido completo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre completo"
                          v-model="datos.step2_nombre_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>IDE</label>
                        <select
                          class="browser-default custom-select"
                          name="IDE"
                          v-model="datos.step2_ide_madre"
                          disabled
                        >
                          <option disabled="true" selected="true">Seleccione</option>
                          <option value="Registro civil">Registro civil</option>
                          <option value="Tarjeta de identidad">
                            Tarjeta de identidad
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de ciudadania
                          </option>
                          <option value="Cedula de ciudadania">
                            Cedula de extranjeria
                          </option>
                          <option value="Cedula de ciudadania">Pasaporte</option>
                        </select>
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>Número de identificación</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Número de identificación"
                          v-model="datos.step2_identificacion_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col" v-if="datos.step2_estado_madre != 'Sin datos'">
                      <div class="md-form">
                        <label>L. expedicion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="L. expedicion"
                          v-model="datos.step2_expedicion_madre"
                          disabled
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row" v-if="datos.step2_estado_madre != 'Sin datos'">
                    <div class="col">
                      <div class="md-form">
                        <label>Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="Email"
                          v-model="datos.step2_email_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Profesion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Profesion"
                          v-model="datos.step2_profesion_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Nombre empresa</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Nombre empresa"
                          v-model="datos.step2_empresa_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Cargo</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Cargo"
                          v-model="datos.step2_cargo_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Ingreso</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text md-addon">$</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            name="Ingreso Madre"
                            v-model="datos.step2_ingresos_madre"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Telefono</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Telefono"
                          v-model="datos.step2_telefono_madre"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col">
                      <div class="md-form">
                        <label>Direccion</label>
                        <input
                          type="text"
                          class="form-control"
                          name="Direccion madre"
                          v-model="datos.step2_direccion_madre"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </tab-content>

              <tab-content title="null">
                <h2 style="font-size: 1.5rem">
                  <strong>Entorno Familiar</strong>
                </h2>
                <hr />
                <form data-vv-scope="step-3">
                  <div v-if="datos.step3_responsable == 'Acudiente'">
                    <h2 class="border-bottom" style="font-size: 1.5rem">Acudiente</h2>
                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Estado</label>
                          <select
                            class="browser-default custom-select"
                            name="Estado"
                            v-model="datos.step3_estado_otro"
                            disabled
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                          </select>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Parentesco</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Parentesco"
                            v-model="datos.step3_parentesco_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Nombre y apellido completo</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre completo"
                            v-model="datos.step3_nombre_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>IDE</label>
                          <select
                            class="browser-default custom-select"
                            name="IDE"
                            v-model="datos.step3_ide_otro"
                            disabled
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Registro civil">Registro civil</option>
                            <option value="Tarjeta de identidad">
                              Tarjeta de identidad
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de ciudadania
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de extranjeria
                            </option>
                            <option value="Cedula de ciudadania">Pasaporte</option>
                          </select>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Número de identificación</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Número de identificación"
                            v-model="datos.step3_identificacion_otro"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>L. expedicion</label>
                          <input
                            type="text"
                            class="form-control"
                            name="L. expedicion"
                            v-model="datos.step3_expedicion_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            name="Email"
                            v-model="datos.step3_email_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Profesion</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Profesion"
                            v-model="datos.step3_profesion_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Nombre empresa</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre empresa"
                            v-model="datos.step3_empresa_otro"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Cargo</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Cargo"
                            v-model="datos.step3_cargo_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Ingresos</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text md-addon">$</span>
                            </div>
                            <input
                              type="text"
                              class="form-control"
                              name="Ingreso Otro"
                              v-model="datos.step3_ingresos_otro"
                              disabled
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Telefono</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Telefono"
                            v-model="datos.step3_telefono_otro"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Direccion</label>
                          <div class="d-flex">
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_1_otro"
                              placeholder="Cll/Cra"
                              disabled
                            />
                            <small class="fa-1x mt-2">-</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_1_1_otro"
                              disabled
                            />
                            <small class="fa-1x mt-2">No.</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_2_otro"
                              disabled
                            />
                            <small class="fa-1x mt-2">-</small>
                            <input
                              type="text"
                              class="form-control text-center"
                              v-model="datos.step3_direccion_3_otro"
                              disabled
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4">Tiene hermanos:</label>
                    <div class="md-form d-flex mx-2">
                      <div class="custom-control custom-radio pl-1">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="check_si"
                          value="Si"
                          v-model="datos.step3_hermanos"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="check_si"
                          style="margin-top: 5vh !important"
                          >Si</label
                        >
                      </div>

                      <div class="custom-control custom-radio pl-1">
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="check_no"
                          value="No"
                          disabled
                          v-model="datos.step3_hermanos"
                        />
                        <label
                          class="custom-control-label"
                          for="check_no"
                          style="margin-top: 5vh !important"
                          >No</label
                        >
                      </div>
                    </div>

                    <div class="md-form mx-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Cuantos"
                        v-model="datos.step3_cantidad"
                        disabled
                      />
                    </div>

                    <div class="md-form mx-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Lugar que ocupas"
                        name="Lugar que ocupas"
                        v-model="datos.step3_lugar_ocupado"
                        disabled
                      />
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4"
                      >La persona responsable ante el colegio es:</label
                    >
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Responsable"
                        v-model="datos.step3_responsable"
                        disabled
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option
                          v-if="datos.step2_estado_madre != 'Sin datos'"
                          value="Madre"
                        >
                          Madre
                        </option>
                        <option
                          v-if="datos.step2_estado_padre != 'Sin datos'"
                          value="Padre"
                        >
                          Padre
                        </option>
                        <option value="Acudiente">Acudiente</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <h1 class="border-top red-text" style="font-size: 1rem">
                      Nota: Recuerda enviar copia del RUT actualizado con los documentos
                      en el momento de legalizar la matricula.
                    </h1>
                    <br />
                    <label class="mr-4 mt-4">
                      Responsable para la facturación electrónica:
                    </label>
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Responsable"
                        v-model="datos.step3_factura"
                        disabled
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option
                          v-if="datos.step2_estado_madre != 'Sin datos'"
                          value="Madre"
                        >
                          Madre
                        </option>
                        <option
                          v-if="datos.step2_estado_padre != 'Sin datos'"
                          value="Padre"
                        >
                          Padre
                        </option>
                        <option
                          v-if="datos.step3_responsable == 'Acudiente'"
                          value="Acudiente"
                        >
                          Acudiente
                        </option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>
                  </div>

                  <div v-if="datos.step3_factura == 'Otro'">
                    <h2 style="font-size: 1.5rem">Otro</h2>
                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Tipo de persona</label>
                          <select
                            class="browser-default custom-select"
                            name="Estado"
                            v-model="datos.step3_tipo_persona_factura"
                            disabled
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Natural">Natural</option>
                            <option value="Jurídica">Jurídica</option>
                          </select>
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label v-if="datos.step3_tipo_persona_factura == 'Natural'"
                            >Nombre completo</label
                          >
                          <label v-else>Razón social</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Nombre"
                            v-model="datos.step3_nombre_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Tipo de identificación</label>
                          <select
                            class="browser-default custom-select"
                            name="Tipo de identificación"
                            v-model="datos.step3_tipo_id_factura"
                            disabled
                          >
                            <option disabled="true" selected="true">Seleccione</option>
                            <option value="Cedula de ciudadania">
                              Cedula de ciudadania
                            </option>
                            <option value="Cedula de ciudadania">
                              Cedula de extranjeria
                            </option>
                            <option value="Nit">Nit</option>
                            <option value="Otro">Otro</option>
                          </select>
                        </div>
                      </div>

                      <div class="col" v-if="datos.step3_tipo_id_factura == 'Otro'">
                        <div class="md-form">
                          <label>Cual</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Cual"
                            v-model="datos.step3_tipo_id_cual_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Número de identificación</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Número de identificación"
                            v-model="datos.step3_identificacion_factura"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="md-form">
                          <label>Correo electrónico</label>
                          <input
                            type="email"
                            class="form-control"
                            name="Correo electrónico"
                            v-model="datos.step3_email_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Teléfono fijo</label>
                          <input
                            type="tel"
                            class="form-control"
                            name="Teléfono fijo"
                            v-model="datos.step3_tel_fijo_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Teléfono Celular</label>
                          <input
                            type="tel"
                            class="form-control"
                            name="Teléfono Celular"
                            v-model="datos.step3_tel_celular_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>País</label>
                          <input
                            type="text"
                            class="form-control"
                            name="País"
                            v-model="datos.step3_pais_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Ciudad</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Ciudad"
                            v-model="datos.step3_ciudad_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Departamento</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Departamento"
                            v-model="datos.step3_departamento_factura"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="col">
                        <div class="md-form">
                          <label>Dirección</label>
                          <input
                            type="text"
                            class="form-control"
                            name="Dirección"
                            v-model="datos.step3_direccion_factura"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <label class="mr-4 mt-4">Por que medio conociste el colegio:</label>
                    <div class="md-form mx-2">
                      <select
                        class="browser-default custom-select"
                        name="Medio Conocido"
                        v-model="datos.step3_medio_conocido"
                        disabled
                      >
                        <option disabled="true" selected="true">Seleccione</option>
                        <option value="Internet">Internet</option>
                        <option value="Redes sociales">Redes sociales</option>
                        <option value="Recomendación">Recomendación</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>

                    <div
                      class="md-form mx-2"
                      v-if="
                        datos.step3_medio_conocido == 'Recomendación' ||
                        datos.step3_medio_conocido == 'Otro'
                      "
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Mas informacion"
                        name="Mas informacion"
                        v-model="datos.step3_medio_conocido_mas"
                        disabled
                      />
                    </div>
                  </div>
                </form>
              </tab-content>

              <template slot="footer" slot-scope="props">
                <div class="float-right" style="padding-bottom: 70px">
                  <div class="wizard-footer-left">
                    <wizard-button
                      v-if="props.activeTabIndex > 0"
                      @click.native="props.prevTab()"
                      :style="props.fillButtonStyle"
                      class="boton btn"
                    >
                      <i class="fas fa-arrow-left"></i>
                      Volver
                    </wizard-button>
                  </div>
                  <div class="wizard-footer-right">
                    <wizard-button
                      v-if="!props.isLastStep"
                      @click.native="props.nextTab()"
                      class="wizard-footer-right boton btn"
                      :style="props.fillButtonStyle"
                    >
                      Siguiente
                      <i class="fas fa-arrow-right"></i>
                    </wizard-button>
                  </div>
                </div>
              </template>
            </form-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Validator } from "vee-validate";
import { FormWizard, TabContent, WizardButton } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";

import es from "vee-validate/dist/locale/es.js";
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";
import { Settings } from "luxon";
Settings.defaultLocale = "es";
Validator.localize("es", es);

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: {
    status: {
      type: Boolean,
      required: true,
    },
    item: {
      type: Object,
      required: true,
    },
  },
  components: { FormWizard, TabContent, WizardButton, Datetime },
  watch: {
    status(val) {
      this.statuslocal = val;
      if (val) {
        this.datos = this.item;
        $(".edit").removeClass("slideOutRight");
        $(".edit").addClass("slideInRight");
        $(".edit").css("display", "block");
      }
    },
    statuslocal(val) {
      if (!val) {
        this.datos = {};
        $(".edit").removeClass("slideInRight");
        $(".edit").addClass("slideOutRight");
        $(".edit").fadeOut(800);
        this.$emit("close");
      }
    },
  },
  data() {
    return {
      statuslocal: false,
      precio: null,
      datos: {},
    };
  },
  filters: {
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        return dd + "-" + mm + "-" + yyyy;
      }
    },
  },
};
</script>

<style scoped>
.vue-form-wizard .wizard-nav-pills {
  display: none !important;
}
/* .vue-form-wizard.md .wizard-navigation .wizard-progress-with-circle {
  display: none !important;;
} */
.boton {
  font-size: 0.67rem !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
span.lever:after {
  background-color: #0f62ac !important;
}
.edit {
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 4;
  background: #fff;
  right: 7px;
  left: 130px;
  top: 0px;
  /*border-left: 42px solid #673ab7bf;*/
  height: 100vh;
}
.row.formulario .md-form label {
  font-size: 14px !important;
  font-weight: 400;
  transform: translateY(-140%);
}
.btn-cancelar {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: rgb(90, 90, 90) !important;
  opacity: 1 !important;
}
.btn-save {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  font-weight: 700;
  font-size: 11px;
  margin-left: 0px;
  background: rgb(253, 253, 253) !important;
  margin-right: 0px;
  color: #1264ad !important;
  opacity: 1 !important;
}
.boton {
  margin-left: 0;
  background: #0f62ac !important;
  border-radius: 2pc;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  padding: 10px 25px;
  border-color: #b1b1b1;
}
</style>
