<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">Detalle de cartera</h5>
      </div>

      <div class="py-3 d-flex" style="background: #e9ecef">
        <div class="col px-0 text-center py-2">
          <span>{{ acudiente.name_estudiante }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <span>Codígo {{ acudiente.codigo }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <span>{{ acudiente.email }}</span>
        </div>
        <div class="col px-0 text-center py-2">
          <span>
            Valor deuda total
            <br />
            $ {{ acudiente.deuda | addmiles }}
          </span>
        </div>
      </div>

      <fulltable
        :Plist="'/api/admin/historico_cartera/' + acuerdoId"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>
              {{ item.servicio }}
              <span v-if="item.servicio == 'Pension'">
                {{ item.created_at | mm_format }}
              </span>
            </td>
            <td>{{ item.descripcion || "N/A" }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td>
              <span v-if="item.mora">Si</span>
              <span v-else>No</span>
            </td>
            <td>$ {{ item.valor | addmiles }}</td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  props: ["acuerdoId"],
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      acudiente: {},
      columns: [
        { label: "Servicio" },
        { label: "Descripcion" },
        { label: "Fecha de pago" },
        { label: "Mora" },
        { label: "Valor" },
      ],
    };
  },
  methods: {
    Listar() {
      appLoading.style.display = "block";
      var url = "/api/admin/historico_cartera/user/" + this.acuerdoId;
      axios.post(url).then((response) => {
        appLoading.style.display = "none";
        this.acudiente = response.data;
        this.$refs.fullTable.getProjects();
      });
    },
  },
  computed: {
    //
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    mm_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        moment.locale("es");
        return moment(fecha).format("MMM");
      }
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style></style>
