<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Historico de cartera
        </h5>
      </div>

      <fulltable
        Plist="/api/admin/historico_cartera"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="botones">
          <a
            target="_blank"
            :href="'/api/historico_cartera/excel'"
            type="button"
            class="btn btn-primary btn-sm boton"
          >
            <i class="far fa-plus"></i>
            Exportal excel de datos
          </a>
        </template>
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.acudiente_name }}</td>
            <td>{{ item.acudiente_codigo }}</td>
            <td>{{ item.acudiente_email }}</td>
            <td>
              $ {{ item.valor_total | addmiles }}
              <div class="btn-group dropleft" role="group">
                <span
                  :id="'bgd' + item.id"
                  data-toggle="dropdown"
                  style="cursor: pointer"
                >
                  <i class="fas fa-ellipsis-h"></i>
                </span>
                <div class="dropdown-menu" :aria-labelledby="'bgd' + item.id">
                  <span
                    class="dropdown-item"
                    @click.prevent="Recordatorio(item.acudiente_id)"
                  >
                    Enviar correo de notificacion
                  </span>
                  <router-link
                    :to="'/admin/historico_cartera/detalles-' + item.acudiente_codigo"
                    class="dropdown-item"
                  >
                    Ver detalle
                  </router-link>
                </div>
              </div>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>
<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: { Fulltable },
  data() {
    return {
      columns: [
        { label: "Nombre estudiante" },
        { label: "Codigo" },
        { label: "Email" },
        { label: "Valor Total" },
      ],
    };
  },
  methods: {
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    Recordatorio(id) {
      appLoading.style.display = "block";
      var url = "/api/admin/historico_cartera/recordatorio/acudiente";
      axios
        .post(url, {
          acudiente_id: id,
        })
        .then((response) => {
          appLoading.style.display = "none";
          this.$toastr.success("Proceso realizado con exito", null, options);
        })
        .catch((e) => {
          appLoading.style.display = "none";
          if (e.response) {
            var errors = e.response.data.errors;
            var noti = this.$toastr.error;

            $.each(errors, function (i) {
              noti(errors[i][0], "Errores", options);
            });
          }
        });
    },
    Delete(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/cursos/" + id;
          axios
            .delete(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
              this.$toastr.success("Proceso realizado con exito", null, options);
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style>
tbody > .text-center {
  display: none !important;
}
</style>
