<template>
<section>
    <div class="container-fluid">
        <div class="col-12 d-flex mb-2 pb-2 border-bottom">
            <i class="fal fa-rocket w-auto" style="color: #0F62AC;font-size: 100px !important;"></i>
            <h5 class="ml-2 mt-5" style="font-weight: 550!important;">Medias Tecnicas</h5>

            <div class="text-right w-100 mt-4">
                <router-link :to="{ name: 'Mis Medias tecnicas' }" class="btn btn-primary btn-sm boton">
                    Mis Medias Tecnicas
                </router-link>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-3 col-sm-12 col-md-3 mb-sm-4" v-for="item in extracurriculares" :key="item.id">
                <div class="card shadow">
                    <img class="card-img-top" :src="'/imagenes/medias_tecnicas/' +item.imagen" alt="Card image cap">
                    <a :href="item.url_informacion" target="_blank" class="badge badge-info badge-pill position-absolute" style="right: 10px;padding: 4px 2px;cursor: pointer;">
                        <i class="fas fa-info"></i>
                    </a>
                    <small class="bg-transparent text-center">
                        {{item.inicia_l}} - {{item.termina_l}}
                    </small>
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0 pt-2"><a>{{ item.actividad }}</a></h4>
                        <p class="card-text mb-0" v-if="item.valor == 0">Gratis</p>
                        <p class="card-text mb-0" v-else>$ {{ item.valor | addmiles }}</p>
                        <a class="btn btn-primary btn-sm boton" @click="PayObjetoFree(item)" v-if="item.valor == 0">Inscribirme</a>
                        <a class="btn btn-primary btn-sm boton" @click="PayObjeto(item)" v-else>Inscribirme</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col text-center" v-if="extracurriculares.length == 0">
            <span>Sin Actividades activas.</span>
        </div>
    </div>
</section>
</template>

<script>
const appLoading = document.getElementById('loading-bg')
const options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}

export default {
    mounted() {
        this.Listar()
    },
    data() {
        return {
            extracurriculares: [],
        }
    },
    methods: {
        Listar: function () {
            appLoading.style.display = "block";
            var url = '/api/acudiente/medias_tecnicas';
            axios.post(url).then(response => {
                appLoading.style.display = "none";
                this.extracurriculares = response.data;
            }).catch(e => {
                appLoading.style.display = "none";
            });
        },
        PayObjeto: function (item) {
            // Envía los datos al CPV
            function enviarCpv(reg) {
                var url = 'https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar';
                var form = '';
                $.each(reg, function (key, value) {
                    form += '<input type="hidden" name="' + key + '" value="' + value + '">';
                });
                $('<form action="' + url + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
            }
            // Cifra el texto con la clave indicada
            function cifrar(texto, claveHttps) {
                var hash = CryptoJS.HmacSHA256(texto, claveHttps);
                return CryptoJS.enc.Base64.stringify(hash);
            }
            // Calcula el hash
            function setHash(reg, claveHttps) {
                var texto = [reg.convenioId, reg.transaccionConvenioId || "", reg.referenciaPago1, reg.referenciaPago2 || "", reg.referenciaPago3 || "", reg.referenciaPago4 || "", reg.valor || "", reg.urlRespuesta].join("-");
                reg.hash = cifrar(texto, claveHttps);
            }
            // Calcula el hash para consultar el estado de la transacción
            function getHashConsulta(reg, claveHttps) {
                var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
                return cifrar(texto, claveHttps);
            }
            // Procesa el evento al hacer clic en el botón de pago
            // function botonPagoCpv() {
            var referencia = 'Colegio_' + Math.floor((Math.random() * 999999) + 1);
            var reg = {};
            reg.convenioId = 12564;
            reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
            reg.referenciaPago1 = referencia;
            reg.descripcion = "Pago de Extracurricular";
            reg.valor = item.valor;
            reg.urlRespuesta = 'https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=medias_tecnicas&_uid=' + item.id + '&acudiente_id=' + this.user.id;
            // Esta función se debe agregar al final para calcular el hash
            setHash(reg, 'CATOLICOPRIM20');
            enviarCpv(reg, '#formCpv');
            // El hash necesesario para realizar la consulta se genera
            var hashConsulta = getHashConsulta(reg, 'CATOLICOPRIM20');
            // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
            return false;
            // }
        },
        PayObjetoFree: function (item) {
            window.location.href = '/respuestaCpv?aprobado=A&valor=0&_tramite=medias_tecnicas&_uid=' + item.id + '&acudiente_id=' + this.user.id;
        }
    },
    computed: {
        user() {
            return this.$store.state.ActiveUser;
        }
    },
    filters: {
        addmiles(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }
    }
};
</script>

<style scoped>
.card-body {
    background: #fff;
    color: black;
}
</style>
