<template>
	<section>
		<div class="container-fluid">
			<div class="col-12 d-flex mb-2 pb-2 border-bottom">
				<i class="fal fa-space-shuttle w-auto" style="color: #0F62AC;font-size: 100px !important;"></i>
				<h5 class="ml-2 mt-5" style="font-weight: 550!important;">Mis Medias Tecnicas</h5>
			</div>
			
			<br>

			<div class="row">
				<div class="col-12 card flex-row pb-4" v-for="item in extracurriculares">
					<img class="card-img-top h-100 w-25" :src="'/imagenes/medias_tecnicas/' +item.imagen" alt="Card image cap">
					<div class="card-body pl-4">
						<div class="card-title">
							<h3 class="m-0"><strong>{{ item.actividad }}</strong></h3>
							<small class="card-text">{{item.inicia_l}} - {{item.termina_l}}</small>
						</div>
						<h5>
							Docente a cargo: {{item.docente}}
							<br>
							Email: {{item.docente_email}}
						</h5>
						<a :href="item.url_horarios" target="_blank" class="btn btn-primary btn-sm boton">Ver Horario</a>
					</div>
				</div>
			</div>


			<div class="col text-center" v-if="extracurriculares.length == 0">
				<span>Sin Actividades activas.</span>
			</div>
		</div>
	</section>
</template>
<script>
	const appLoading = document.getElementById('loading-bg')
	const options = {
		"closeButton": true,
		"debug": false,
		"newestOnTop": false,
		"progressBar": true,
		"positionClass": "toast-top-right",
		"preventDuplicates": false,
		"onclick": null,
		"showDuration": "300",
		"hideDuration": "1000",
		"timeOut": "5000",
		"extendedTimeOut": "1000",
		"showEasing": "swing",
		"hideEasing": "linear",
		"showMethod": "fadeIn",
		"hideMethod": "fadeOut"
	}

	export default {
		mounted(){
			this.Listar()
		},
		data() {
			return {
				extracurriculares: [],
			}
		},
		methods: {
			Listar: function() {
				appLoading.style.display = "block";
				var url = '/api/acudiente/medias_tecnicas/incritos';
				axios.post(url).then(response => {
					appLoading.style.display = "none";
					this.extracurriculares = response.data;
				}).catch(e => {
					appLoading.style.display = "none";
				});
			}
		},
		filters: {
			addmiles(nStr) {
				nStr += '';
				var x = nStr.split('.');
				var x1 = x[0];
				var x2 = x.length > 1 ? '.' + x[1] : '';
				var rgx = /(\d+)(\d{3})/;
				while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + '.' + '$2');
				}
				return x1 + x2;
			}
		}
	};
</script>
<style scoped>
	.card-body {
		background: #fff;
		color: black;
	}
</style>