<template>
  <section>
    <div class="container-fluid">
      <div class="col-12 d-flex mb-2 pb-2 border-bottom">
        <i
          class="fal fa-file-alt w-auto"
          style="color: #0f62ac; font-size: 100px !important"
        ></i>
        <h5 class="ml-2 mt-5" style="font-weight: 550 !important">
          Certificados solicitados
        </h5>
      </div>

      <fulltable
        Plist="/api/admin/informe_pagos/certificados"
        :Pcolumns="columns"
        :checkall="false"
        ref="fullTable"
      >
        <template slot="tbody-full" slot-scope="{ data }">
          <tr v-for="item in data" :key="item.id">
            <td>{{ item.name }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.created_at | formater_fecha }}</td>
            <td>{{ item.concepto }}</td>
            <td>{{ item.certificado_motivo }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-success"
                v-if="item.certificado_estado == 'Procesado'"
              >
                {{ item.certificado_estado }}
              </button>
              <button class="btn btn-sm btn-danger" v-else>
                {{ item.certificado_estado }}
              </button>
            </td>
            <td class="text-center" v-if="item.certificado_estado != 'Procesado'">
              <button
                class="btn btn-sm btn-primary boton"
                v-if="item.canal == 'Retiro en caja'"
                @click="RetiroListo(item.id)"
              >
                Listo para retirar
              </button>
              <div class="dropdown" v-else>
                <a
                  class="btn btn-sm btn-primary boton dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Subir certificado
                </a>

                <div class="dropdown-menu">
                  <div class="px-4 py-3">
                    <div class="form-group">
                      <label>Certificado</label>
                      <input
                        type="file"
                        accept=".pdf"
                        class="form-control"
                        @change="onFileSelected"
                      />
                    </div>

                    <button
                      class="boton btn btn-primary"
                      @click="SaveCertificado(item.id)"
                    >
                      Subir
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center" v-else>
              <span v-if="item.canal == 'Retiro en caja'">Listo para retirar</span>
              <span v-else>Certificado cargado</span>
            </td>
          </tr>
        </template>
      </fulltable>
    </div>
  </section>
</template>

<script>
import Fulltable from "@/components/data-table/index.vue";

const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  components: {
    Fulltable,
  },
  data() {
    return {
      certificado: null,
      columns: [
        {
          label: "Nombre",
        },
        {
          label: "Codigo",
        },
        {
          label: "Fecha solicitud",
        },
        {
          label: "Tipo de doc",
        },
        {
          label: "Motivo",
        },
        {
          label: "Estado",
        },
        {
          label: "Acción",
        },
      ],
    };
  },
  methods: {
    onFileSelected(event) {
      this.certificado = event.target.files[0];
    },
    Listar() {
      this.$refs.fullTable.getProjects();
    },
    RetiroListo(id) {
      swal({
        title: "Estas seguro de continuar?",
        icon: "warning",
        buttons: true,
      }).then((willDelete) => {
        if (willDelete) {
          appLoading.style.display = "block";
          var url = "/api/admin/informe_pagos/certificados/" + id;
          axios
            .post(url)
            .then((response) => {
              this.Listar();
              appLoading.style.display = "none";
            })
            .catch((e) => {
              appLoading.style.display = "none";
              if (e.response) {
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                  noti(errors[i][0], "Errores", options);
                });
              }
            });
        }
      });
    },
    SaveCertificado: function (id) {
      appLoading.style.display = "block";
      var url = "/api/admin/informe_pagos/certificados/pdf/" + id;

      var datos = new FormData();
      datos.append("pdf", this.certificado);
      datos.append("_method", "post");
      axios
        .post(url, datos)
        .then((response) => {
          appLoading.style.display = "none";
          this.Listar();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
  },
  filters: {
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>

<style scoped>
.dropdown-menu {
  left: -13vw !important;
}

tbody > .text-center {
  display: none !important;
}

.btn-sm {
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
  font-family: Arial !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
</style>
