<template>
  <div>
    <div class="padre" v-if="acuerdo == ''">
      <div class="hijo">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2"> Usted no tiene acuerdos de pago vigente actualmente.</span>
      </div>
    </div>

    <div class="container-fluid" v-else>
      <div class="col-12 d-flex py-2 border-bottom bg-light">
        <div class="col-2 px-0 text-center">
          <strong>Cantidad de cuotas</strong>
          <br />
          {{ acuerdo.cantidad_cuotas }}
        </div>

        <div class="col-4 px-0 text-center">
          <strong>Fecha de pago</strong>
          <br />
          Los {{ acuerdo.fecha_at | dia_format }} de cada mes
        </div>

        <div class="col-3 px-0 text-center">
          <strong>Total deuda</strong>
          <br />
          $ {{ acuerdo.deuda_total | addmiles }}
        </div>

        <div class="col-3 px-0 text-center">
          <a
            class="btn btn-outline-primary boton btn-sm"
            target="_blank"
            :href="'/acuerdos/' + acuerdo.pdf"
            v-if="acuerdo.pdf"
            >Ver documento</a
          >
          <a class="btn btn-outline-primary boton btn-sm" v-else>Pendiente</a>
        </div>
      </div>

      <br />

      <div class="col-12 red-text" v-if="acuerdo.status == 'Aprobado'">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2">
          Recuerda que debes llevar el pagaré original, firmado y autenticado en notaria
          al departamento administrativo del colegio para activar tu acuerdo de pago.
        </span>
      </div>

      <div class="col-12 red-text text-center" v-if="acuerdo.status == 'Autenticado'">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2">
          El incumplimiento en las fechas de pago generará intereses de mora y el atraso
          en más de dos cuotas ocasionará el paso de la obligación a cobro jurídico.
        </span>
      </div>

      <div class="col-12 red-text text-center" v-if="acuerdo.status == 'Rechazado'">
        <i class="fas fa-info-circle" style="font-size: 30px"></i>
        <span class="pl-2">
          El acuerdo de pago ha sido rechazado, favor comunicarse con el departamento
          administrativo.
        </span>
      </div>

      <br />
      <div class="col-12">
        <table class="table">
          <thead class="grey lighten-2">
            <tr>
              <th scope="col">Mes</th>
              <th scope="col">Valor</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in acuerdo.cuotas" :key="index">
              <td>{{ item.mes | dia_mes_format }}</td>
              <td>$ {{ item.valor | addmiles }}</td>
              <td v-if="acuerdo.status == 'Autenticado'">
                <button
                  type="button"
                  class="btn btn-success btn-sm boton"
                  v-if="item.estatus == 'Pagado'"
                >
                  Pagado
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm boton"
                  v-else-if="item.estatus == 'Deuda'"
                  @click="CuponDescuento(item)"
                >
                  Pendiente
                </button>
                <button
                  type="button"
                  class="btn btn-outline-blue-grey btn-sm boton"
                  v-else
                  @click="CuponDescuento(item)"
                >
                  Pagar
                </button>
              </td>
              <td v-else>
                <button
                  type="button"
                  class="btn btn-outline-blue-grey btn-sm boton"
                  disabled
                >
                  Pendiente
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
const appLoading = document.getElementById("loading-bg");
const options = {
  closeButton: true,
  debug: false,
  newestOnTop: false,
  progressBar: true,
  positionClass: "toast-top-right",
  preventDuplicates: false,
  onclick: null,
  showDuration: "300",
  hideDuration: "1000",
  timeOut: "5000",
  extendedTimeOut: "1000",
  showEasing: "swing",
  hideEasing: "linear",
  showMethod: "fadeIn",
  hideMethod: "fadeOut",
};

export default {
  mounted() {
    this.Listar();
  },
  data() {
    return {
      acuerdo: {},
    };
  },
  methods: {
    Listar() {
      appLoading.style.display = "block";
      var url = "/api/acudiente/acuerdo/detalles";
      axios.post(url).then((response) => {
        this.acuerdo = response.data;
        appLoading.style.display = "none";
      });
    },
    CuponDescuento(item) {
      this.PreguntaPago(item, null);
    },
    PreguntaPago(item, descuento) {
      swal({
        title: "¿Usar saldo disponible o enviar a pasarela de pago?",
        buttons: {
          saldo: {
            text: "Saldo",
            value: "Saldo",
            visible: true,
            className: "btn-outline-blue-grey",
            closeModal: true,
          },
          pasarela: {
            text: "Pasarela",
            value: "Pasarela",
            visible: true,
            className: "btn-outline-blue-grey",
            closeModal: true,
          },
          defeat: {
            visible: false,
            closeModal: true,
            value: "Cerrar",
          },
        },
      }).then((value) => {
        if (value == "Saldo") {
          // Descontar saldo
          var saldo = 0;
          var total = item.valor.replace(".", "");
          if (descuento) {
            var monto = descuento.porcentaje;
            var total = total - monto;
          }
          if (this.user.saldo > 0) {
            saldo = this.user.saldo.replace(".", "");
          }
          if (this.user.saldo < 0) {
            saldo = this.user.saldo.replace(".", "");
          }
          if (parseFloat(saldo) >= parseFloat(total)) {
            this.Pagar_saldo(item, descuento);
          } else {
            swal("Saldo insuficiente!", {
              button: false,
            });
          }
        }
        if (value == "Pasarela") {
          // Enviar a pasarela
          this.PayObjeto(item, descuento);
        }
      });
    },
    PayObjeto: function (item, descuento) {
      // Envía los datos al CPV
      function enviarCpv(reg) {
        var url = "https://www.pagosvirtualesavvillas.com.co/personal/pagos/pagar";
        var form = "";
        $.each(reg, function (key, value) {
          form += '<input type="hidden" name="' + key + '" value="' + value + '">';
        });
        $('<form action="' + url + '" method="POST">' + form + "</form>")
          .appendTo($(document.body))
          .submit();
      }
      // Cifra el texto con la clave indicada
      function cifrar(texto, claveHttps) {
        var hash = CryptoJS.HmacSHA256(texto, claveHttps);
        return CryptoJS.enc.Base64.stringify(hash);
      }
      // Calcula el hash
      function setHash(reg, claveHttps) {
        var texto = [
          reg.convenioId,
          reg.transaccionConvenioId || "",
          reg.referenciaPago1,
          reg.referenciaPago2 || "",
          reg.referenciaPago3 || "",
          reg.referenciaPago4 || "",
          reg.valor || "",
          reg.urlRespuesta,
        ].join("-");
        reg.hash = cifrar(texto, claveHttps);
      }
      // Calcula el hash para consultar el estado de la transacción
      function getHashConsulta(reg, claveHttps) {
        var texto = [reg.convenioId, reg.transaccionConvenioId || ""].join("-");
        return cifrar(texto, claveHttps);
      }
      // Procesa el evento al hacer clic en el botón de pago
      // function botonPagoCpv() {
      var referencia = "Colegio_" + Math.floor(Math.random() * 999999 + 1);
      if (descuento) {
        var total = item.valor.replace(".", "");
        var monto = descuento.porcentaje;
        var precio = total - monto;
        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&descuento=" +
          monto +
          "&cupon=" +
          descuento.codigo +
          "&valor_subtotal=" +
          item.valor.replace(".", "") +
          "&_tramite=Acuerdo&_uid=" +
          item.id +
          "&servicio_id=" +
          item.id +
          "&acudiente_id=" +
          this.user.id;
      } else {
        var precio = item.valor.replace(".", "");
        var url =
          "https://pasareladepagos.colegiocatolicocali.edu.co/respuestaCpv?&transaccionId={transaccionId}&uuid={uuid}&aprobado={aprobado}&transaccionConvenioId={transaccionConvenioId}&ref1={ref1}&valor={valor}&_tramite=Acuerdo&_uid=" +
          item.id +
          "&servicio_id=" +
          item.id +
          "&valor_subtotal=" +
          item.valor.replace(".", "") +
          "&acudiente_id=" +
          this.user.id;
      }

      if (this.user.grado <= 5) {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "PJ") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "JD") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado == "TR") {
        var convenioId = 12564;
        var clave = "CATOLICOPRIM20";
      }
      if (this.user.grado >= 6) {
        var convenioId = 12565;
        var clave = "CATOLICOBACHI20";
      }

      var reg = {};
      reg.convenioId = convenioId;
      reg.transaccionConvenioId = referencia; // Id de la transacción para el convenio Alfanumérico hasta 40 caracteres.
      reg.referenciaPago1 = this.user.codigo;
      reg.descripcion = "Pago de Acuerdo de pago";
      reg.valor = precio;
      reg.urlRespuesta = url;
      // Esta función se debe agregar al final para calcular el hash
      setHash(reg, clave);
      enviarCpv(reg, "#formCpv");
      // El hash necesesario para realizar la consulta se genera
      var hashConsulta = getHashConsulta(reg, clave);
      // console.log("El hash a usar para consultar el estado de la transacción es: " + hashConsulta);
      return false;
    },
    Pagar_saldo(item, descuento) {
      appLoading.style.display = "block";
      var url = "/api/acudiente/saldo-pago";
      var monto = null;
      var codigo = null;
      var total = item.valor.replace(".", "");
      if (descuento) {
        monto = descuento.porcentaje;
        codigo = descuento.codigo;
        var total = total - monto;
      }
      axios
        .post(url, {
          aprobado: "A",
          valor: total,
          valor_subtotal: item.valor.replace(".", ""),
          _tramite: "Acuerdo",
          _uid: item.id,
          servicio_id: item.id,
          acudiente_id: this.user.id,
          descuento: monto,
          cupon: codigo,
        })
        .then((response) => {
          this.motivo = null;
          appLoading.style.display = "none";
          this.$toastr.success("Pago realizado con éxito!", null, options);
          this.Listar();
          this.Actualizar_saldo();
        })
        .catch((e) => {
          appLoading.style.display = "none";
          var errors = e.response.data.errors;
          var noti = this.$toastr.error;

          $.each(errors, function (i) {
            noti(errors[i][0], "Errores", options);
          });
        });
    },
    Actualizar_saldo() {
      appLoading.style.display = "block";
      this.$store.dispatch("updateSaldo").then((response) => {
        appLoading.style.display = "none";
      });
    },
  },
  computed: {
    user() {
      return this.$store.state.ActiveUser;
    },
  },
  filters: {
    addmiles(nStr) {
      nStr += "";
      var x = nStr.split(".");
      var x1 = x[0];
      var x2 = x.length > 1 ? "." + x[1] : "";
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, "$1" + "." + "$2");
      }
      return x1 + x2;
    },
    dia_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = moment(fecha).format("DD");

        return today;
      }
    },
    dia_mes_format(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        var meses = [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ];

        function convertir(mes) {
          var numeroMes = parseInt(mes);
          if (!isNaN(numeroMes) && numeroMes >= 1 && numeroMes <= 12) {
            return meses[numeroMes];
          }
        }

        today = dd + " de " + convertir(mm);

        return today;
      }
    },
    formater_fecha(fecha) {
      if (fecha == null) {
        return "";
      } else {
        var today = new Date(fecha);
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + "-" + mm + "-" + yyyy;

        return today;
      }
    },
  },
};
</script>
<style scoped>
.padre {
  height: 88vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: 430px;
}
</style>
