<template>
<div class="create animated fadeIn">
    <div class="container">
        <form method="POST">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row pt-2">
                        <div class="col-12 mb-4">
                            <i class="fas fa-align-left" style="color: #673ab7bf;"> </i>
                            <strong>Nuevo: Cafeteria</strong>
                        </div>
                    </div>

                    <div class="row formulario">
                        <div class="col-6">
                            <div class="md-form">
                                <label>Descripcion</label>
                                <input type="text" class="form-control" name="Descripcion" v-model="datos.descripcion" v-validate="'required'">
                                <span class="text-danger text-sm" v-show="errors.has('Descripcion')">{{ errors.first('Descripcion') }}</span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="md-form">
                                <label>Forma de Pago</label>
                                <select class="browser-default custom-select" style="font-size: 13px;" v-model="datos.pago" name="Forma de Pago" v-validate="'required'">
                                    <option selected disabled>Seleccione</option>
                                    <option value="Semanal">Semanal</option>
                                    <option value="Mensual">Mensual</option>
                                </select>

                                <span class="text-danger text-sm" v-show="errors.has('Forma de Pago')">{{ errors.first('Forma de Pago') }}</span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="md-form">
                                <label>Valor</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">$</span>
                                    </div>
                                    <input type="text" class="form-control" name="Valor" v-model="datos.valor" v-validate="'required'">
                                </div>
                                <span class="text-danger text-sm" v-show="errors.has('Valor')">{{ errors.first('Valor') }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-12">
                            <button type="button" @click.prevent="statuslocal = false" class="btn btn-primary btn-sm right btn-cancelar">
                                Cancelar
                                <i class="fal fa-reply" style="width: auto; font-size: 12px !important;"></i>
                            </button>

                            <button class="btn btn-primary btn-sm right btn-save" :disabled="!isFormValid" @click.prevent="SaveObjeto(datos)">
                                Guardar y seguir
                                <i class="fal fa-angle-right" style="width: auto; font-size: 12px !important;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
import {
    Validator
} from 'vee-validate';
import es from 'vee-validate/dist/locale/es.js';
Validator.localize("es", es);

const appLoading = document.getElementById('loading-bg')
const options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}

export default {
    props: {
        status
    },
    data() {
        return {
            statuslocal: false,
            datos: {
                'descripcion': null,
                'pago': null,
                'valor': 0
            }
        }
    },
    watch: {
        status(val) {
            this.statuslocal = val;
            if (val) {
                $(".create").removeClass('slideOutRight');
                $(".create").addClass('slideInRight');
                $(".create").css("display", "block");
            }
        },
        statuslocal(val) {
            if (!val) {
                this.datos = {
                    'descripcion': null,
                    'pago': null,
                    'valor': 0
                };
                this.$validator.reset();
                $(".create").removeClass('slideInRight');
                $(".create").addClass('slideOutRight');
                $(".create").fadeOut(800);
                this.$emit('close')
            }
        },
        'datos.valor': function (value) {
            var fomarteado = 0;
            var num = value.replace(/\./g, '');
            if (!isNaN(num)) {
                num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g, '$1.');
                num = num.split('').reverse().join('').replace(/^[\.]/, '');
                fomarteado = num;
            }
            this.datos.valor = fomarteado;
        },
    },
    computed: {
        isFormValid() {
            return !this.errors.any() && this.datos.descripcion && this.datos.pago && this.datos.valor;
        }
    },
    methods: {
        SaveObjeto: function (item) {
            appLoading.style.display = "block";
            var url = '/api/admin/cafeteria';
            axios.post(url, item).then(response => {
                appLoading.style.display = "none";
                this.$emit('listar');
                this.$toastr.success('Proceso realizado con exito', null, options);
            }).catch(e => {
                appLoading.style.display = "none";
                var errors = e.response.data.errors;
                var noti = this.$toastr.error;

                $.each(errors, function (i) {
                    noti(errors[i][0], 'Errores', options);
                });
            });
        }
    }
};
</script>

<style scoped>
.create {
    display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    right: 7px;
    left: 267px;
    top: 41px;
    padding-top: 23px;
    border-left: 30px solid #673ab7bf;
    padding-bottom: 29px;
    min-height: 594px;
    height: 91%;
}

.row.formulario .md-form label {
    font-size: 14px !important;
    font-weight: 400;
    transform: translateY(-140%);
}

.btn-cancelar {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    font-weight: 700;
    font-size: 11px;
    margin-left: 0px;
    background: rgb(253, 253, 253) !important;
    margin-right: 0px;
    color: rgb(90, 90, 90) !important;
    opacity: 1 !important;
}

.btn-save {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
    font-weight: 700;
    font-size: 11px;
    margin-left: 0px;
    background: rgb(253, 253, 253) !important;
    margin-right: 0px;
    color: #1264ad !important;
    opacity: 1 !important;
}
</style>
